<title>MINI TOUCAN Enterteiment Programm</title>
<!--
Привет.
Ниже файл с информацией для ВСЕХ страниц TOUCAN для клиентского и агентского сайте (RU BY UA  EE LT LV)

Для того чтобы изменить информацию достаточно заменить ее в этом файле и обновить файл который лежит на сайте:

tui.ru \ media \ новый сайт \ концепции \ TUI Toucan \ JS \ VUE-Toucan-page.js

ИЛИ
  
tui.ru \ media \ новый сайт \ концепции \ TUI Toucan \ JS \ VUE-Toucan-hot-hotels-ru-by-ua.js
  
ВНИМАНИЕ! именно нажать на кнопку заменить, иначе придется менять ссылку на всех страницах.

Обрати внимение на название переменных в файле html, если в конце есть указание к стране (например имя оканчивается myNameRU - значит это перевод на русский, myNameEE - значит это перевод на эстонский и тп)

Также обрати внимание на название ссылок - если оканчивается на Client - значит ссылка на клиент, если Agent - значит ссылка на агенте.

Некоторые страницы в консоли могут ругаться на отсутствие некоторых элементов, это нормально, просто у нас один файл на все страницы и соответственно на некоторых страницах нет элементов с других страниц, поэтому не обращай внимание.

Эта инструкция подходит для всех страниц ДИФФ ПРОДУКТА

Пожалуйста если вносите изменения ставьте в известность меня: 
aleksandr.rodionov@tui.ru

-->
<link href="https://www.tui.ru/getmedia/713706b6-d6c7-42f5-8e3e-7585be4f5580/bootstrap-grid-min" rel="stylesheet" type="text/css" />
<link href="https://www.tui.ru/getmedia/2d2c07ca-d644-47a6-a242-1b3b2af5f750/style-dif/" rel="stylesheet" type="text/css" />
<link href="https://www.tui.ru/getmedia/bf6ea601-998f-4d12-a155-de9eb383a651/style/" rel="stylesheet" type="text/css" />
<link href="https://www.tui.ru/getmedia/0414d9ba-58ad-4eb8-935f-82cd7ca4fa17/carusel-style/" rel="stylesheet" type="text/css" />
<link href="https://www.tui.ru/getmedia/b21d19ea-f1e9-41a6-9828-6a503839b616/lightslider/" rel="stylesheet" />

<link href="https://www.tui.ru/getmedia/eec19a87-cf5a-40c7-8442-09183e60e372/all" rel="stylesheet" type="text/css" />
<meta content="width=device-width,initial-scale=1" name="viewport" /><!-- ШРИФТ =============================================== -->
<style type="text/css">
    @font-face {
        font-family: 'TUI-reg';
        src: url('https://www.tui.ru/getmedia/0c02516a-a2de-4325-ba89-f7ac294122a8/TUITypeLight-Regular');
        src: url('https://www.tui.ru/getmedia/0c02516a-a2de-4325-ba89-f7ac294122a8/TUITypeLight-Regular?#iefix') format('embedded-opentype'),
            url('https://www.tui.ru/getmedia/953947e9-cb5a-43a7-a16a-1ca276d08920/TUITypeLight-Regular') format('woff2'),
            url('https://www.tui.ru/getmedia/73494612-776c-4364-b603-208f014e9bff/TUITypeLight-Regular') format('woff'),
            url('https://www.tui.ru/getmedia/6294bb39-80a5-4825-9b12-a1bd5925de01/TUITypeLight-Regular') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
</style>

<!-- ШРИФТ =============================================== -->
<style type="text/css">
    /* отключаем футер и хедер и убираем ширину шаблона на белорусском агентском сайте */
    .pageWrapper {
        width: 100% !important;
    }

    .mainHeader {
        display: none !important;
    }

    .contentFooter {
        display: none !important;
    }

    .mainFooter {
        display: none !important;
    }

    /* отключаем футер и хедер и убираем ширину шаблона на белорусском агентском сайте */
    body {
        font-family: "TUI-reg", sans-serif !important;
        height: auto;
        line-height: 1.5;
    }

    .desk .gey_p {
        display: none;
    }

    .gey_p {
        padding-left: 15px;
    }

    .button-slider-active {
        -webkit-box-shadow: inset 0 -4px 0 0 #C3E8FB !important;
        -moz-box-shadow: inset 0 -4px 0 0 #C3E8FB !important;
        box-shadow: inset 0 -4px 0 0 #C3E8FB !important;
        background-color: #C3E8FB !important;
    }

    .slider-content ul li {
        color: #0c2c5c !important;
    }

    

    .sliders-hotels h4 {
        padding-left: 15px;
    }

    .slider-content {
        min-height: auto !important;
        margin: 2% 2% 0;
    }

    /*         .sl .slider-content {
   min-height: 336px !important;
   }*/

    .lSPager {
        display: none;
    }

    .lSSlideOuter img {
        width: auto;
        height: 380px;
    }

    .lSAction>.lSPrev {
        left: 15%;
    }

    .lSAction>.lSNext {
        right: 15%;
    }

    .lSAction>.lSNext,
    .lSAction>.lSPrev {
        color: #5887a8;
        font-size: 30px;
        margin: 5px;
        padding: 12px;
        background: #fff;
        display: inline-block;
        cursor: pointer;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        height: 56px;
        width: 56px;
        -webkit-box-shadow: 0 0 10px rgba(88, 135, 168, 0.8);
        box-shadow: 0 0 10px rgba(88, 135, 168, 0.8);
    }

    .lSAction>.lSNext,
    .lSAction>.lSPrev {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .lSAction>.lSNext:before {
        content: " >";
        font-weight: 100;
        font-size: 1.3em;
    }

    .lSAction>.lSPrev:before {
        content: "< ";
        font-weight: 100;
        font-size: 1.3em;
    }

    .tamplate,
    #mobile {
        display: none;
        margin: 0 auto;
    }

    .tamplate .block-circle {
        display: none;
    }

    @media screen and (max-width: 759px) {

        .tamplate,
        #mobile {
            display: block;
        }

        .sliders-hotels {
            margin-top: 0;
        }

        .info-footer {
            padding: 0;
        }

        .row-f {
            padding: 15px;
        }

        .footer-informations .col-12>h3 {
            text-align: left;
        }

        .soc {
            padding: 0;
        }

        .soc .icons-footer {
            justify-content: flex-start;
        }

        .tit {
            margin: 1.5em 0 0.5em;
        }
    }

    .telephone-number {
        line-height: 2;
    }

    .slider .price {
        padding-bottom: 0.5em
    }

    li {
        line-height: 2;
    }

    .label-menu a {
        background: inherit !important;
    }

    .price-num {
        display: block;
    }

    #s1b3 .tit {
        display: none;
    }
</style>
<style type="text/css">
    .button-slider-active {
        -webkit-box-shadow: inset 0 -4px 0 0 #C3E8FB !important;
        -moz-box-shadow: inset 0 -4px 0 0 #C3E8FB !important;
        box-shadow: inset 0 -4px 0 0 #C3E8FB !important;
        background-color: #C3E8FB !important;
    }
    .hotel__link {
           color: rgb(8, 42, 94)!important;
      }
    .slider-content ul li {
        color: #0c2c5c !important;
    }

    a {
        color: #0c2c5c !important;
    }
    
    .text-blue-color {
        color: #0c2c5c !important;
    }
    .sliders-hotels {
        min-height: 440px!important;
        
    }
    .myslide {
        margin-top: 10px;
    }
    .oae {
        background-image: url(https://www.tui.ru/getmedia/3b08c919-3f75-46fc-9f2e-489254b13db4/bckg-oae)!important;
    }
</style>
<!-- SCRIPT загрузки VUE  =================================================== -->
        <script type="text/javascript">
            const vueLinks = [
                'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js',
                'https://www.tui.ru/getmedia/f6a084a1-de7e-43c7-be13-0d9b8756c9e6/VUE-diff-agent-header-footer',
                'https://www.tui.ru/getmedia/1e4c5d01-95d0-41bc-8cbe-6fb7c86692ca/VUE-Toucan-hot-hotels-ru-by-ua',
        'https://www.tui.ru/getmedia/7ee746b3-e5b2-4489-824c-c9868870ebc0/VUE-Toucan-page',
                
                'https://www.tui.ru/getmedia/6e64783b-d6d6-4b51-ab25-d8d1ec72e234/all',

            ];

            function add_files(arr, type) {

                count = 0;

                function new_file(link) {
                    var script = document.createElement(type);
                    script.src = link;
                    script.async = false;
                    document.head.appendChild(script);
                    if (count < arr.length - 1) {
                        script.onload = function() {
                            new_file(arr[count]);
                        }
                        script.onerror = function() {
                            throw new Error(arr[count - 1] + ' loading error');
                        }
                        count++;
                    }
                }

                function error(text) {
                    throw new Error('the function takes two required arguments');
                }

                (arr === undefined || type === undefined) ? error('the function takes two required arguments'):
                    (arr === undefined) ? error('no link array') :
                    (type === undefined) ? error('no file type') : '';
                new_file(arr[count]);
            }

            add_files(vueLinks, 'script');
        </script>
<div class="row-all">
    <!-- ВЕРХНЕЕ МЕНЮ TOP START ================================================ -->

    <div class="menu-top" id="home-page-diff-menu-top">
        <div class="container">
            <div class="row">
                <a class="col-md-2 col-6 logo-img" href="/"><img v-bind:src=" logoLink "></a>
                <div class="col-5 but-menu-mobile">
                    &nbsp;
                </div>

                <!-- ВЕРХНЕЕ МЕНЮ START =========================================================== -->

                <div class="col-md-10 col-10 mobile_agent">
                    <div id="exit_menu">
                        X
                    </div>
                    <div class="row menu-label">
                        <a class="label-menu" v-bind:href=" menuItemFranchaizingLink " target="_blank">{{menuItemFranchaizingNameBY}}</a>
                        <a class="label-menu" v-bind:href=" menuItemPartnershipLink " target="_blank">{{menuItemPartnershipNameBY}}</a>
                        <a class="label-menu" v-bind:href=" menuItemAboutLink " target="_blank">{{menuItemAboutNameBY}}</a>
                        <a class="label-menu" v-bind:href=" menuItemShopLink " target="_blank">{{menuItemShopNameBY}}</a>
                        <div class="label-menu" style="position: relative;cursor: pointer">
                            <a v-bind:href=" menuItemConceptsLink " style="color:#092a5e">{{menuItemConceptsNameBY}}</a>
                            <div class="label-menu-2">
                                <div class="concept-link">
                                    <a v-bind:href=" menuItemFunSunLink "><img alt="FN_logo" v-bind:src=" menuItemFunSunLogo "></a>
                                    <div>
                                        <a v-bind:href=" menuItemFunSunLink "><b>{{menuItemFunSunName}}</b><br>
                                            {{menuItemFunSunNameBY}}</a>
                                    </div>
                                </div>
                                <div class="concept-link">
                                    <a v-bind:href=" menuItemDayNightLink "><img alt="FN_logo" v-bind:src=" menuItemDayNightLogo "></a>
                                    <div>
                                        <a v-bind:href=" menuItemDayNightLink "><b>{{menuItemDayNightName}}</b><br>
                                            {{menuItemDayNightNameBY}}</a>
                                    </div>
                                </div>
                                <div class="concept-link">
                                    <a v-bind:href=" menuItemToucanLink "><img alt="FN_logo" v-bind:src=" menuItemToucanLogo "></a>
                                    <div>
                                        <a v-bind:href=" menuItemToucanLink "><b>{{menuItemToucanName}}</b><br>
                                            {{menuItemToucanNameBY}}</a>
                                    </div>
                                </div>
                                <div class="concept-link">
                                    <a v-bind:href=" menuItemConceptsAboutLink "><img alt="Home_logo" :src=" menuItemConceptsAboutLogo " /></a>

                                    <div><a v-bind:href=" menuItemConceptsAboutLink "><b>{{menuItemConceptsAboutNameBY1}}<br />
                                                {{menuItemConceptsAboutNameBY2}}</b></a></div>
                                </div>
                            </div>
                        </div><a class="label-menu" v-bind:href=" menuItemPremiumLink " target="_blank">{{menuItemPremiumName}}</a>
                        <a class="label-menu log enter" data-bind="click: LoginClick" v-bind:href=" menuItemLoginNamelinkBY " target="_blank">{{menuItemLoginNameBY}}</a>
                    </div>
                </div>

                <!-- ВЕРХНЕЕ МЕНЮ END =========================================================== -->

                <div class="col-md-10">
                    <div class="row menu-telephone">
                        <div class="col-md-8 col-7">
                            <p class="telephone-title">{{menuPhoneTitleBY}}</p>
                            <p class="telephone-number">{{menuPhonePhoneBY}}</p>
                        </div>
                        <a v-bind:href=" menuTouristSiteLinkBY " style="color: black">{{menuTouristSiteNameBY}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ВЕРХНЕЕ МЕНЮ TOP END ============================= -->

   <!-- ToUCAN SLIDER TOP START ============================ -->
    <ul id="autoWidth">
        <li>
            <div class="myslide"><img src="https://www.tui.ru/getmedia/1fedf616-a8e5-465f-8593-18c6ce3bc9f9/jun" /></div>
        </li>
        <li>
            <div class="myslide"><img src="https://www.tui.ru/getmedia/0ae79f73-4be7-4594-aa2c-e6eb9e3cc081/sl2-min" /></div>
        </li>
        <li>
            <div class="myslide"><img src="https://www.tui.ru/getmedia/c9ecab51-604d-4de7-8296-0808f206f730/sl3" /></div>
        </li>
        <li>
            <div class="myslide"><img src="https://www.tui.ru/getmedia/fe59b673-5af0-47f6-8b6c-cdc8c5686446/sl4" /></div>
        </li>
        <li>
            <div class="myslide"><img src="https://www.tui.ru/getmedia/d1a89be5-8b4e-4fd4-ba96-5529264da072/sl5-min" /></div>
        </li>
        <li>
            <div class="myslide"><img src="https://www.tui.ru/getmedia/8374d103-fd95-464d-89a0-234ef67e0f78/sl6" /></div>
        </li>
    </ul>
    
    <!-- ToUCAN SLIDER TOP END ============================ -->
    
    <!-- MENU START ===================================================== -->

    <div class="container" id="toucan-menu">
        <div class="row">
            <div class="buttons-slider button-slider-mobile col-md-12">
                <a class="col-md-2 col-12 button-slider " id="tb" v-bind:href=" menu1LinkAgent ">
                    <p>{{menu1BY}}</p>
                </a>

                <a class="button-slider col-md-1 col-12" href="#fishka">
                    <p>{{menu2BY}}</p>
                </a>

                <a class="button-slider col-md-2 col-12" href="#hotels">
                    <p>{{menu3BY}}</p>
                </a>

                <a class="button-slider col-md-3 col-12 button-slider-active" href="#fishka" target="_blank">
                    <p>{{menu4BY}}</p>
                </a>

                <a class="col-md-3 col-12 button-slider" v-bind:href=" menu5LinkBY " target="_blank">
                    <p>{{menu5BY}}</p>
                </a>
            </div>
        </div>
    </div>
    <!-- MENU END ===================================================== -->
   

    <div class="container text-content" id="fishka">
        <div class="row" style="align-items: center">
            <div class="col-md-6">
                <div class="icon-top-mobile col-4"><img alt="DN_logo" v-bind:src=" logoLink " /></div>

                <h2>{{titleBY}}</h2>
            </div>

            
        </div>
    </div>

   <!-- ПРОГРАММА ТУКАН START ============================== -->

    <div class="container download-file-block" style="width: 100%;margin: auto!important" id="toucan-programm">
        <div style="background:#e1f4fb;padding: 10px 7px;" v-for=" programm in programms">
            <div style="margin-top:10px;text-align:center;">
                <span v-bind:style=" programm.icon ">
                    
                </span>
                <a v-bind:href=" programm.linkBY " style="color:#3b9ccf;text-decoration:underline !important;font-size:14px;font-weight:100;" target="_blank">{{ programm.titleBY }}</a>
            </div>


        </div>
    </div>

    <!-- ПРОГРАММА ТУКАН END ============================== -->
   
   <!-- СПОРТИВНЫЕ РАЗВЛЕЧЕНИЯ START =================== -->
   <div id="toucan-ent-programm">
       <div class="container">
           <h2>{{titleBY}}</h2>
       </div>

       <div class="container hotels-club-country" id="earlyBook">
           <div class="buttons-navigations">
               <!-- <a class="button-navigatin active-link" data-block=".slider_1" href="#s1b1">{{menu1BY}}</a>  -->
               <a class="button-navigatin active-link" data-block=".slider_1" href="#s1b2">{{menu2BY}}</a> 
               <a class="button-navigatin" data-block=".slider_1" href="#s1b3">{{menu3BY}}</a> <a class="button-navigatin" data-block=".slider_1" href="#s1b4">{{menu4BY}}</a> 
               <a class="button-navigatin" data-block=".slider_1" href="#s1b5">{{menu5BY}}</a>
           </div>


            <!-- СПОРТ И АКТИВНОСТИ ================== -->
           <div class="row desk slider slider_1" id="s1b2">
               
               <div class="sm-1 col-md-3 myslide col-slider-3" v-for=" slider2Slide in slider2Slides ">
                   <div class="sliders-hotels">
                       <div class="imgSlider" v-bind:style=" slider2Slide.background ">&nbsp;</div>

                       <div class="slider-content">
                           <h4>{{slider2Slide.nameBY}}</h4>
                       </div>
                       
                   </div>
               </div>

               
           </div>

          <!-- ИГРОВЫЕ АКТИВНОСТИ ================== -->
           <div class="row desk slider slider_1" id="s1b3" style="display: none">
               
               <div class="sm-1 col-md-3 myslide col-slider-3" v-for=" slider3Slide in slider3Slides ">
                   <div class="sliders-hotels">
                       <div class="imgSlider" v-bind:style=" slider3Slide.background ">&nbsp;</div>

                       <div class="slider-content">
                           <h4>{{slider3Slide.nameBY}}</h4>
                       </div>
                   </div>
               </div>
          
           </div>

          <!-- ТВОРЧЕСКИЕ АКТИВНОСТИ ================== -->
           <div class="row desk slider slider_1" id="s1b4" style="display: none">
               
               <div class="sm-1 col-md-3 myslide col-slider-3" v-for=" slider4Slide in slider4Slides ">
                   <div class="sliders-hotels">
                       <div class="imgSlider" v-bind:style=" slider4Slide.background ">&nbsp;</div>

                       <div class="slider-content">
                           <h4>{{slider4Slide.nameBY}}</h4>
                       </div>
                   </div>
               </div>
          
           </div>

          <!-- ВЕЧЕРНЯЯ ПРОГРАММА ================== -->
           <div class="row desk slider slider_1" id="s1b5" style="display: none">
               
               <div class="sm-1 col-md-3 myslide col-slider-3" v-for=" slider5Slide in slider5Slides ">
                   <div class="sliders-hotels">
                       <div class="imgSlider" v-bind:style=" slider5Slide.background ">&nbsp;</div>

                       <div class="slider-content">
                           <h4>{{slider5Slide.nameBY}}</h4>
                       </div>
                   </div>
               </div>

           </div>
       </div>
   </div>
   <!-- СПОРТИВНЫЕ РАЗВЛЕЧЕНИЯ START =================== -->
  
  
   <!-- TOUCAN ОТЕЛИ СТАРТ ======================================= -->
       
<div class="container-fluid block_3" id="hotels-toucan">
        <div class="container">
            <h2>{{titleBY}}</h2>
        </div>

        <div class="row">
            <div class="container sl" id="miniTucoun">
                <div class="buttons-navigations">
                    <a class="button-navigatin active-link" data-block=".slider_2" href="#s2b2">{{country1BY}}</a> <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Турция -->
                    <a class="button-navigatin" data-block=".slider_2" href="#s2b4">{{country2BY}}</a> <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Кипр --> 
                    <a class="button-navigatin" data-block=".slider_2" href="#s2b5">{{country3BY}}</a> <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Черногория --> 
                    <a class="button-navigatin" data-block=".slider_2" href="#s2b6">{{country4BY}}</a> <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Италия --> 
                    <a class="button-navigatin" data-block=".slider_2" href="#s2b7">{{country5BY}}</a> <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Италия --> 
                    <a class="button-navigatin" data-block=".slider_2" href="#s2b8">{{country6BY}}</a> <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Италия --> 
                    <a class="button-navigatin" data-block=".slider_2" href="#s2b10">{{country7BY}}</a><!-- ВЫБЕРИ СВОЙ ОТЕЛЬ ОАЭ -->
                </div>

                        
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Турция -->
                <div class="slider slider_2 " id="s2b2">
                    <div class="row-slider" data-col="3">
                        <div class="col-md-4 myslide col-slider-3" v-for=" country1Hotel in country1Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country1Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country1Hotel.countryNameBY }}</h4>

                                    <p class="gey_p">{{ country1Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelBYItem in country1Hotel.aboutHotelBYItems"> {{ aboutHotelBYItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country1Hotel.hotelLinkAgent ">{{ country1Hotel.buttonBY }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Турция -->
                
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Андорра -->
                <div class="slider slider_2 n" id="s2b3">
                    <div class="row-slider" data-col="3">
                        <div class="col-md-4 myslide col-slider-3" v-for=" country2Hotel in country2Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country2Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country2Hotel.countryNameBY }}</h4>

                                    <p class="gey_p">{{ country2Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelBYItem in country2Hotel.aboutHotelBYItems"> {{ aboutHotelBYItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country2Hotel.hotelLinkAgent ">{{ country2Hotel.buttonBY }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Андорра -->
                
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Кипр -->
                <div class="slider slider_2 n" id="s2b4">
                    <div class="row-slider" data-col="3">
                        <div class="col-md-4 myslide col-slider-3" v-for=" country3Hotel in country3Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country3Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country3Hotel.countryNameBY }}</h4>

                                    <p class="gey_p">{{ country3Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelBYItem in country3Hotel.aboutHotelBYItems"> {{ aboutHotelBYItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country3Hotel.hotelLinkAgent ">{{ country3Hotel.buttonBY }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Кипр -->
                
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Черногория -->
                <div class="slider slider_2 n" id="s2b5">
                    <div class="row-slider" data-col="3">
                        <div class="col-md-4 myslide col-slider-3" v-for=" country4Hotel in country4Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country4Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country4Hotel.countryNameBY }}</h4>

                                    <p class="gey_p">{{ country4Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelBYItem in country4Hotel.aboutHotelBYItems"> {{ aboutHotelBYItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country4Hotel.hotelLinkAgent ">{{ country4Hotel.buttonBY }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Черногория -->
                
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Италия -->
                <div class="slider slider_2 n" id="s2b6">
                    <div class="row-slider" data-col="3">
                        <div class="col-md-4 myslide col-slider-3" v-for=" country5Hotel in country5Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country5Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country5Hotel.countryNameBY }}</h4>

                                    <p class="gey_p">{{ country5Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelBYItem in country5Hotel.aboutHotelBYItems"> {{ aboutHotelBYItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country5Hotel.hotelLinkAgent ">{{ country5Hotel.buttonBY }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Италия -->
                
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Испания -->
                <div class="slider slider_2 n" id="s2b7">
                    <div class="row-slider" data-col="3">
                        <div class="col-md-4 myslide col-slider-3" v-for=" country6Hotel in country6Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country6Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country6Hotel.countryNameBY }}</h4>

                                    <p class="gey_p">{{ country6Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelBYItem in country6Hotel.aboutHotelBYItems"> {{ aboutHotelBYItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country6Hotel.hotelLinkAgent ">{{ country6Hotel.buttonBY }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Испания -->
                
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Россия -->
                <div class="slider slider_2 n" id="s2b8">
                    <div class="row-slider" data-col="3">
                        <div class="col-md-4 myslide col-slider-3" v-for=" country7Hotel in country7Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country7Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country7Hotel.countryNameBY }}</h4>

                                    <p class="gey_p">{{ country7Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelBYItem in country7Hotel.aboutHotelBYItems"> {{ aboutHotelBYItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country7Hotel.hotelLinkAgent ">{{ country7Hotel.buttonBY }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ Россия -->
                
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ ОАЭ ========== -->
                <div class="slider slider_2 n" id="s2b10">
                    <div class="row-slider" data-col="3">
                        <div class="col-md-4 myslide col-slider-3" v-for=" country8Hotel in country8Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country8Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country8Hotel.countryNameBY }}</h4>

                                    <p class="gey_p">{{ country8Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelBYItem in country8Hotel.aboutHotelBYItems"> {{ aboutHotelBYItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country8Hotel.hotelLinkAgent ">{{ country8Hotel.buttonBY }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
                <!-- ВЫБЕРИ СВОЙ ОТЕЛЬ ОАЭ ========== -->
                
            </div>
        </div>
    </div>
    
   
  <!-- TOUCAN ОТЕЛИ END ======================================= --> 
    

     <!-- FOOTER START =================================================== -->

    <div class="container-fluid footer-informations" style="margin-top: 7em" id="toucan-footer">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h3>{{title1BY}}</h3>
                        <a v-bind:href=" link1 ">{{ linkTitle1BY }}</a><br />
                        <a v-bind:href=" link2BY ">{{linkTitle2BY}}</a><br />
                        <a v-bind:href=" link3BY ">{{linkTitle3BY}}</a>
                    </div>

                    <div class="col-md-3">
                        <h3>{{title2BY}}</h3><br>
                        <a v-bind:href=" telLinkBY ">{{telBY}}</a><br> <a v-bind:href=" mailLinkBY ">{{mailBY}}</a>
                    </div>

                    <div class="col-md-3">
                        <h3>{{title3BY}}</h3>

                        <div class="row icons-footer icons-footer_toucan col-10 col-md-12"><a v-bind:href=" instLink "><img v-bind:src="instLogo" /></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER END =================================================== -->
</div>

<script type="text/javascript">
    function mobileSlider() {

        var tamp = "<div class=\"row\"><div class=\"container sl\" data-number=\"0\" id=\"hotels\"> <div class=\"slider\" ><div class=\"row-slider\" data-col=\"3\"><\/div><\/div><\/div>";
        var desk = document.querySelectorAll(".desk");

        function tampalte() {
            var tamplate = document.createElement("div");
            tamplate.className = "tamplate slider_1";
            tamplate.innerHTML = tamp;
            return tamplate;
        }


        for (var i = 0; i < desk.length; i++) {
            var tamplate_row = tampalte();
            tamplate_row.setAttribute("id", desk[i].getAttribute("id"));
            (i > 0) ? tamplate_row.setAttribute("style", "display: none"): tamplate_row.setAttribute("style", "");
            row_slider = tamplate_row.querySelector(".row-slider");
            my_slide = desk[i].querySelectorAll(".myslide");
            for (var b = 0; b < my_slide.length; b++) {
                row_slider.appendChild(my_slide[b])
            };
            desk[i].parentNode.replaceChild(tamplate_row, desk[i]);
        }

    }
    (window.innerWidth < 759) ? mobileSlider(): "";
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript">
</script>

<script src="https://www.tui.ru/getmedia/e14c79a9-1af1-4201-bd14-8567d5fbc516/lightslider/" type="text/javascript">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#autoWidth').lightSlider({
            autoWidth: true,
            loop: true,
            onSliderLoad: function() {
                $('#autoWidth').removeClass('cS-hidden');
            }
        });
    });
</script>

<script src="https://www.tui.ru/getmedia/9214205f-646e-4ff8-8b2d-613f1852e8ec/js/" type="text/javascript">
</script>
<script type="text/javascript">
    // window.onload = function(){
    function mobileSlider() {

        var tamp = "<div class=\"row\"><div class=\"container sl\" data-number=\"0\" id=\"hotels\"> <div class=\"slider\" ><div class=\"row-slider\" data-col=\"3\"><\/div><\/div><\/div>";
        var desk = document.querySelectorAll(".desk");

        function tampalte() {
            var tamplate = document.createElement("div");
            tamplate.className = "tamplate slider_1";
            tamplate.innerHTML = tamp;
            return tamplate;
        }


        for (var i = 0; i < desk.length; i++) {
            var tamplate_row = tampalte();
            tamplate_row.setAttribute("id", desk[i].getAttribute("id"));
            (i > 0) ? tamplate_row.setAttribute("style", "display: none"): tamplate_row.setAttribute("style", "");
            row_slider = tamplate_row.querySelector(".row-slider");
            my_slide = desk[i].querySelectorAll(".myslide");
            for (var b = 0; b < my_slide.length; b++) {
                row_slider.appendChild(my_slide[b])
            };
            desk[i].parentNode.replaceChild(tamplate_row, desk[i]);
        }

    }
    (window.innerWidth < 759) ? mobileSlider(): "";
</script>
<script type="text/javascript">
    function smoothScrolling(element) {
        document.querySelector(element).scrollIntoView({
            block: "start",
            behavior: "smooth"
        });
    }
</script>