<!DOCTYPE html>
<html lang="ru">

<!-- HEAD START ========================================================================= -->

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>TUI Fun and Sun</title>

    <!-- CSS STYLE ======================================================================== -->

    <link rel="stylesheet" href="../CSS-for-all-New-Concepts/reset.min.css">

    <link rel="stylesheet" media="all and (min-width: 1201px)" href="">
    <link rel="stylesheet" media="all and (min-width: 901px) and (max-width: 1200px)" href="">
    <link rel="stylesheet" media="all and (min-width: 601px) and (max-width: 900px)" href="">
    <link rel="stylesheet" media="all and (max-width: 600px)" href="">





    <!-- CSS STYLE ======================================================= -->



</head>

<!-- HEAD END ========================================================================= -->

<body>

<!-- MAIN START ========================================================================= -->

<div class="concepts__main" id="fun-sun">
   
   <!-- BANNER ===================================== -->
    <div class="banner__concepts">
        <div class="banner__titles">
            <img src="" alt="FUN SUN Logo" class="banner__logo">
            <h2 class="banner__title"></h2>
        </div>
        <ul class="banner__text">
            <li class="banner__text-item"></li>
        </ul>
    </div>  
    <!-- BANNER ===================================== -->
    
    <!-- ABOUT ===================================== -->
    <div class="about__concepts">
        <h2 class="about__title"></h2>
        <p class="about__text"></p>
    </div>    
    <!-- ABOUT ===================================== -->
    
    <!-- SERVICES ===================================== -->
    <div class="services__concepts">
        <h2 class="services__title"></h2>
        <div class="services__blocks">
            <div class="services__block">
                <img src="" alt="" class="services__img">
                <div class="services__text">
                    <h3 class="services__name"></h3>
                    <ul class="services__items">
                        <li class="services__item"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- SERVICES ===================================== -->
    
    <!-- ENTERTAIMENT ===================================== -->
    <div class="entertaiments__concepts">
        <h2 class="entertaiments__title"></h2>
        <div class="entertaiments__blocks">
            <div class="entertaiments__block">
                <img src="" alt="" class="entertaiments__img">
                <div class="entertaiments__text">
                    <h3 class="entertaiments__name"></h3>
                    <ul class="entertaiments__items">
                        <li class="entertaiments__item"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ENTERTAIMENT ===================================== -->
    
    <!-- HOTELS ===================================== -->
    <div class="hotels__concepts">
        <div class="hotels__countries">
            <button class="hotels__country"></button>
        </div>
        <div class="hotels__blocks">
            <div class="hotels__block">
                
            </div>
        </div>
    </div>
    <!-- HOTELS ===================================== -->
    
    
    <!-- PHOTOS ===================================== -->
    <div class="photos__concepts">
        <h2 class="photos__title"></h2>
        <div class="photos__block">
            <div class="photos__video"></div>
            <div class="photos__photos">
                <img src="" alt="" class="photos__photo">
            </div>
        </div>
    </div>
    <!-- PHOTOS ===================================== -->
    
    
    <!-- PROGRAMS ===================================== -->
    <div class="programs__concepts">
        <h2 class="programs__title"></h2>
        <div class="programs__block">
            <div class="programs__names">
               <img src="" alt="" class="programs__icon">
               <h3 class="programs__name"></h3>
            </div>
            <div class="programs__items">
                <a href="" class="programs__item" target="_blank">
                       
                    <img src="" alt="" class="programs__download">
                </a>
            </div>
        </div>
    </div>
    <!-- PROGRAMS ===================================== -->
    
    
    <!-- ALL HOTELS ===================================== -->
    <div class="allhotels__concepts">
        <div class="allhotels__block">
            <h3 class="allhotels__name"></h3>
            <a href="" class="allhotels__link" target="_blank"></a>
        </div>
    </div>
    <!-- ALL HOTELS ===================================== -->
</div>


<!-- MAIN END ========================================================================= -->

<!-- SCRIPTS START ==================================================================== -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" defer></script>
<script src="" defer></script>
<script src="" defer></script>
<script src="" defer></script>



<!-- SCRIPTS END ====================================================================== -->

<!-- METRIKA START ====================================================================== -->

<!-- METRIKA END ====================================================================== -->


</body>

</html>