<title>Видео о TUI Россия и СНГ</title>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link href="https://www.tui.ru/getmedia/56bdc290-a09d-46ca-9205-3886db79cc6f/all" rel="stylesheet" type="text/css" />
<style type="text/css">.ActionPage-description.static{
	margin: 0 auto;
	width: 116.2rem;
}
.ActionPage-description__text img{
	float:left;
	margin: -5px 15px 5px 15px;
	width:220px;
}
h2 {
    font-size: 3rem;
}
.mahraba-link {
padding: 10px;
color: white;
background:#47b9e2;

cursor: pointer;
text-decoration: none;

}
.label{
	display: block!important;
}
.line_block {display: inline-block; vertical-align: middle; max-width: 700px;}	
.squre{
	list-style: square;
	margin-left: 35px;
}	
.img_toucan{
max-width: 175px;
width: 100%;
}		
/* скрываем чекбоксы и блоки с содержанием */
.hide {
display: none; 
}
.hide + label ~ div{
display: none;
}
/* оформляем текст label */
.hide + label {
/*border-bottom: 1px dotted #092a5e;*/
padding: 10px;
color: #092a5e;
font-size: 18px;
font-weight: bold;
cursor: pointer;
display: inline-block; 
background-color:#dcdcdc;
width:500px;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
color: #737373;
border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
display: block; 
/*background: #efefef;
-moz-box-shadow: inset 3px 3px 10px #7d8e8f;
-webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
box-shadow: inset 3px 3px 10px #7d8e8f;*/
padding: 10px 10px 0px 10px; 
line-height:1.4;
font-weight: normal;
margin-left: 25px

}

.blu_back{
background-color: #47b9e2;
line-height: 2;
padding-left: 20px;
color: #fff;
font-weight: bold;
padding-top: 0;
}

.radius{
	border-radius: 150px;
}
.butsl{
	color: #2e74c1;
	cursor: pointer;
	text-decoration: underline;
}
.hotelDisplayDisable{
	 transition: 1s;
	height: 0;
	overflow: hidden;
}
.hotelDisplayActive{
	 transition: 1s;
	overflow: hidden;
}
.arrow_right{
color: #2e74c1;
font-size: 18px;
cursor: pointer;
transition: all 0.5s ease;
margin-left: 5px;
display: inline-block;
}
.activity{
transition: all 0.5s ease;
transform: rotate(180deg);
}	
.ActionPage-description strong {
font-weight: 700!important;
}
.btn_circle{
background: #092a5e;
color: #fff;
text-decoration: none;
cursor: pointer;
padding: 10px 15px;
transition: all 0.7s ease;
}
.btn_circle:hover{
background: #fff;
color: #092a5e;
border: 1px solid #092a5e;
transition: all 0.7s ease;
}
.hotels-block{
	display: flex;
	line-height: 1.4;
}


.hotels-header{
margin: 1px;
padding: 15px;
background: #dcdcdc;
font-size: 15px;
width: 100%;
font-weight: bold;
text-align: center;
}


.period{
margin: 1px;
padding: 15px;
background: #c2e6fa;
font-size: 14px;
width: 100%;
}


.hotels-items{
margin: 1px;
padding: 15px;
background: #e2f3fe;
font-size: 14px;
width: 100%;

}
.action_circle {
          margin: 0 35px;
          display: inline-flex;
          width: 250px;
          height: 250px;
          border-radius: 120px;
          justify-content: center;
          background-color: #70cbf4;
          background-size: cover;
          position: relative;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
  
      .sale_text {
          color: #fff;
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 28px;
          width: 250px;
          font-weight: bold;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
      }
  
      .block__lines img {
          /* max-width: 270px; */
          width: 100%;
          margin: 0;
      }
	strong, b {
		font-weight: bold;
	}
	
.text__field {
    min-height: 150px!important;
}
/* demo контейнер */
.demo {
margin-top: 50px;
}
.ski__pass{
	height: 115px;
	width: 100%;
	background-image: url(https://www.tui.ru/getmedia/e0da04e8-fc06-4f88-b82d-5abb0000c092/banner_skipass);
	background-position: center, center;
	background-repeat: no-repeat;
	background-size: contain;
}
@media screen and (min-width: 320px) and (max-width: 811px) {
 .hotelDisplayActive{
	 height: 100%!important;
}
.ActionPage-container .static {
	width: 100%;
}
.action_circle {
	display: block;
	margin: 15px auto;
}
.ski__pass{
	background-image: url(https://www.tui.ru/getmedia/d46094d9-5475-4723-a9b2-0acc98c1c199/mob_banner_skipass);
	height: 260px;
	border-radius: 5px;
	}	
}
.row__circle{
	display: flex;
	justify-content: center;
}
.line {
    padding-bottom: 15px;
}
.centers {
    margin: 0 auto;
    text-align: center;
}
.action_circle {
    margin: 0 35px;
    display: inline-flex;
    width: 250px;
    height: 250px;
    border-radius: 120px;
    justify-content: center;
    background-color: #70cbf4;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
ul li, ol li {
    font-size: 18px;
    line-height: 1.3;
    color: #092a5e;
}
.sale_text {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    width: 250px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
.new__text, .new_li{
	font-size:17px !important;
}
.new_li{
	list-style: disc;
	margin:0 20px;
}
.new__text a{
	text-decoration:underline;
}
.stars{
	list-style: none;	
	}
.stars li::before {
    content: "★";
	margin-right: 5px;
}	
/* скрываем чекбоксы и блоки с содержанием */
        .hide {
            display: none;
        }

        .hide+label~div {
            display: none;
        }

        /* оформляем текст label */
        .hide+label {
            /*border-bottom: 1px dotted #092a5e;*/
            padding: 10px;
            color: #092a5e;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            display: inline-block;
            background-color: #dcdcdc;
            width: 500px;
        }

        /*.arrow-top{
        border: 20px solid transparent;	
        border-bottom: 20px solid green;
    }
    
    
    .arrow-bottom{
        border: 20px solid transparent;	
        border-top: 20px solid green;
    }*/

        /* вид текста label при активном переключателе */
        .hide:checked+label {
            color: #737373;
            border-bottom: 0;
        }
	.squre a {
		color: blue;
	}
        /* когда чекбокс активен показываем блоки с содержанием  */
        .hide:checked+label+div {
            display: block;
            /*background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;*/
            padding: 10px 10px 0px 10px;
            line-height: 1.4;
        }

        .arrow_right {
            position: absolute;
            right: 15px;
        }

        /* demo контейнер */
        .demo {
            margin-top: 15px;
        }

        .button__toggler {
            cursor: pointer;
			font-size:20px;
        }

        .row-block__toggler {
            height: 0;
            overflow: hidden;
            /* padding: 30px 0; */
        }

        .block__toggler {
            padding: 30px 0;
        }

        .button__arrow {
            display: inline-block;
            transition: .5s;
            margin-left: 5px;
        }

        .button_arrow__active {
            transform: rotate(180deg);
        }
.hotels-block-action-page {
    grid-row-gap: 20px !important;
}
.mobile{
		display: none;	
	}
.urgent-block {
    background: #f3f0ec;
    padding: 20px;
}
	.video__block{
		text-align: center;
		max-width: 1232px;
		width: 100%;
		margin: 0 auto;
		
	}
	.video__player {
    max-width: 1026px;
    width: 100%;
    height: 525px;
}
 .hotels-block-action-page {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-column-gap: 1%;
        grid-row-gap: 1%;
        justify-items: center;
    }

    .new__text {
        height: 140px;
    }

    .hotels__block {
        max-width: 273px;
        width: 100%;
        height: 336px;
        border-radius: 5px;
        background-color: #ffffff;
        border: none;
    }

    .first__line {
        width: 273px;
        height: 150px;
        position: relative;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .region {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: #092a5e;
        position: inherit;
        margin: 25px 0;
    }

    .acomodation {
        text-align: center;
        color: #092a5e;
        position: inherit;
        margin: 0;
    }

    .second__line {
        padding: unset;
    }

    .new__price {
        font-size: 25px;
        font-weight: bold;
        color: #1896cf;
        text-align: center;
        position: inherit;
        margin: 0;
    }

    .choice__column {
        width: 371px;
        height: 204px;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
        transition: ease 0.5s all;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .shadow {
        width: 371px;
        height: 204px;
        opacity: 0.6;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(bottom, #000000, rgba(0, 0, 0, 0));
        background-image: -o-linear-gradient(bottom, #000000, rgba(0, 0, 0, 0));
        background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
        z-index: 1;
    }

    .best__destenetion {
        position: absolute;
        left: 20px;
        bottom: 18px;
        text-align: left;
    }

    .destenetion {
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        padding: 0;
        margin: 0;
    }

    .rules {
        color: #c2e6fa;
        font-size: 15px;
        padding: 0;
        margin: 0;
    }

    .best__price {
        position: absolute;
        bottom: 18px;
        right: 21px;
    }

    .prices {
        margin: 0;
        padding: 0;
        text-align: left;
        font-size: 15px;
        color: #fff;
    }

    .bigest {
        font-size: 23px;
        font-weight: bold;
        color: #ffffff;
    }

    .btn__red {
        background: red;
        padding: 10px 25px;
        color: #fff;
        text-decoration: none;
        transition: ease 0.5s all;
    }

    .btn__red:hover {
        transition: ease 0.5s all;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .table__blocks {
        text-align: center;
    }

    .tabllines {
        display: inline-block;
        width: 48%;
        padding: 0 10px 0 10px;
        vertical-align: top;
        text-align: left;
    }

    .mytables {
        width: 100%;
        border-collapse: collapse;
        background: #c2ebfa;
    }	
@media (max-width: 750px){
	.row__circle{
		display: block;
	}
	.desc{
		display: none;	
	}
	.mobile{
		display: block;
	}
.ActionPage-description__banner {
    height: inherit!important;
    max-height: inherit!important;
}
.choice__column {
            width: 290px;
            margin-left: -5px;
        }

        .shadow {
            width: 290px;
        }

        .table__blocks {
            overflow: scroll;
        }

        .hotels-block-action-page {
            grid-template-columns: 1fr !important;
            grid-row-gap: 10px;
        }

        .ActionPage-description__banner {
            height: inherit;
        }

        .su-row-banners {
            height: 148px !important;
            margin: 90px 0 0 0 !important;
            text-align: center;
            padding: 20px;
        }

        .plashka__text {
            position: inherit;
            font-size: 20px;
            left: inherit;
            top: inherit;
        }

        .bitrix__btn {
            display: inline-block;
        }

        .plashka__link {
            display: block;
            font-size: 17px;
            padding: 10px 72px 15px;
            position: inherit;
            top: inherit;
            margin-top: 10px;
            right: inherit;
        }

        .plshka__small {
            font-size: 15px;
        }	
}
</style>
<div style="max-width: 1232px; width: 100%; margin: 0 auto;">
<div class="ActionPage-description">
<div class="ActionPage-description__header">Видео о TUI Россия и СНГ</div>
<img class="ActionPage-description__banner desc" src="/getmedia/8771511b-dd95-46a8-9fd9-efe371724d79/1232x370" /><img class="ActionPage-description__banner mobile" src="/getmedia/0ea80a76-6d89-49ee-9203-8372ae643337/320x370" />

<div class="ActionPage-description__text"><br />
Мы научились по-новому смотреть на туризм. Нам важно не просто доставить вас из точки А в точку Б, нам важно, какие впечатления вы получите! Ради этого мы стремимся стать лучше: реагируем на ваши пожелания, расширяем количество направлений, открываем новые офисы, оснащенные по последнему слову техники, и год за годом оправдываем звание экспертов во всём, что связано с путешествиями. Спасибо, что вы с нами!
</div>

<div style="height: 25px;"></div>

<div class="video__block"><iframe class="video__player" src="https://www.youtube.com/embed/lvXm9EBTjB8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<div style="height: 25px;"></div>
<div class="su-row-all">
        <div class="su-row-tile" id="su-tile">
            <div class="ActionPage-description__text chocolat" data-description="leto">
                <h2 style="text-align: center;"><br />
                    Лучшие предложения от TUI<br />
                    &nbsp;</h2>
                <div class="hotels-block-action-page"></div>
            </div>
        </div>
    </div>
<div style="height: 25px;"></div>
<script type="text/javascript">
        var buttons = document.querySelectorAll('.button__toggler'),
            blocks = document.querySelectorAll('.row-block__toggler');

        buttons.forEach(function (el, index) {
            el.setAttribute('data-button', index);
            blocks[index].setAttribute("data-result", index)
        })


        function toggler(el) {
            var index = el.dataset.button,
                result = blocks[index],
                height = blocks[index].children[0].offsetHeight,
                transition = ((height / 100) * 0.2 > 2) ? 2 : (height / 100) * 0.2;

            if (result.dataset.active == undefined || result.dataset.active === "false") {

                if (el.closest('.row-block__toggler')) {
                    let parentElement = el.closest('.row-block__toggler');
                    parentHeight = parentElement.style.height.match(/\d+/);
                    parentElement.style.height = +parentHeight + height + "px";
                }

                result.setAttribute("data-active", true);
                result.setAttribute('style', "height:" + height + "px;transition: " + transition + "s");
                el.querySelector('.button__arrow').classList.add('button_arrow__active');


            } else {
                if (el.closest('.row-block__toggler')) {
                    let parentElement = el.closest('.row-block__toggler');
                    parentHeight = parentElement.style.height.match(/\d+/);
                    parentElement.style.height = +parentHeight - height + "px";
                }
                result.setAttribute("data-active", false);
                result.style.height = "0px";
                el.querySelector('.button__arrow').classList.remove('button_arrow__active')
            }
        }
    </script>


<script src="https://www.tui.ru/getmedia/eaaf2c6b-381d-4098-a9d6-0764a1a4e890/data" type="text/javascript"></script>
<script type="text/javascript">
    var newScript = document.createElement('script');
    newScript.src = 'https://agent.tui.ua/getmedia/0f11ff34-a3f0-4043-b4d9-7db688183981/add_files?v=01082019';
    document.head.appendChild(newScript)

    newScript.onload = function () {
        add_files([
            "https://agent.tui.ru/getmedia/2f02f195-3661-4a25-9405-d65ed4ab66f6/jquery-min",
            "https://www.tui.ru/getmedia/251052c8-d5c2-4ce7-a928-8690c4dc5e42/all",
            "https://www.tui.ru/getmedia/cbd987d2-cb51-4173-8540-04819b1f732d/another",
        ], 'script')
		
    }
	
</script>

</div>
</div>
