<article>
<div class="contentInformationHolder">
<div style="padding-top: 10px;">
<p class="overFlow" style="padding-bottom: 10px; float: right; background-color: rgba(255, 255, 255, 0.5); border-bottom-left-radius: 10px; border-top-left-radius: 10px;"><strong>Развлечения для всей семьи</strong><br />
<br />
<a href="/Tours/Europe/Turkey/kemer/Tekirova/TUI-FUN-SUN-Club-Saphire/" target="_blank">TUI FUN&amp;SUN Club Saphire 5*</a><br />
<a href="/Tours/Europe/Turkey/belek/belek/TUI-FUN-SUN-Club-Belek" target="_blank">TUI FUN&amp;SUN Club Belek 5*</a><br />
<a href="/Tours/Europe/Turkey/side/Kizilot/TUI-FUN-SUN-Club-Serra-Palace/" target="_blank">TUI FUN&amp;SUN Club Serra Palace 5*</a><br />
<a href="/Tours/Europe/Turkey/Kemer/Goynuk/TUI-FUN-SUN-Miarosa-Ghazal-Resort" target="_blank">TUI FUN&amp;SUN Ghazal Resort 5*</a><br />
<a href="/Tours/Europe/Turkey/belek/Belek/TUI-FUN-SUN-River-Resort-Belek">TUI FUN&amp;SUN River Resort Belek 5*</a><br />
<a href="/Tours/Europe/Turkey/Kemer/Goynuk/TUI-FUN-SUN-Comfort-Beach-Resort">TUI FUN&amp;SUN Comfort Beach Resort 5*</a><br />
<a href="/Tours/Europe/Turkey/Kemer/Finike/TUI-FUN-SUN-Club-Di-Finica">TUI FUN&amp;SUN Club Di Finica 5*</a></p>
</div>

<p>&nbsp;</p>
</div>
</article>

<p>&nbsp;</p>
<a class="searchTour" href="http://agent.tui.ru/Concepts/tui-fun-sun.aspx" style="text-decoration:none; martin-top: 5px; font-size: 13px; background-color: #FFFFA7;">Узнать подробнее</a>