<style type="text/css">img.mania {
		width: 30px;
		margin-right: 220px;
	}
	header.header {
		font-weight: bold !important;
		color: black !important;
	}
</style>
<article>
<div class="contentInformationHolder">
<div style="padding-top: 20px; padding-left: 50px;">
<p class="overFlow" style="padding-bottom: 10px;  float:right;  background-color: rgba(255, 225, 255, 0.5) !important; border-bottom-left-radius: 10px; border-top-left-radius: 10px; margin-top: 40px;"><strong>Развивающие детские клубы</strong><br />
<br />
<a href="/Tours/Europe/Montenegro/Budvanska-Rivijera/Budva/Aleksandar">Aleksandar 4*</a><br />
<a href="/Tours/Europe/Montenegro/Budvanska-Rivijera/Petrovac/Castellastva">Castellastva 4*</a><br />
</p>
</div>
</div>
</article>

<p>&nbsp;</p>
<a class="searchTour" href="/concepts/tui-toucan/" style="text-decoration:none;  font-size: 13px;" target="_blank">Узнать подробнее</a>