<meta charset="UTF-8" />
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link href="https://www.tui.ru/getmedia/c5e7008a-253c-41c1-a68c-9f5e9b476bbf/all" rel="stylesheet" type="text/css" />
<!-- <link rel="stylesheet" type="text/css" href="dist/css/all.css"> -->
<!-- <link rel="stylesheet" href="app/css/font/TUI/font-tui.css"> -->
<!-- <link rel="stylesheet" href="https://www.tui.ru/main.css?v=MYLwCdpZnc4QpADEtFj1linenBGmvs4hq8iSGHNRqLA"> -->
<title></title>
<style>
	.su-header-description-full{
		margin: 0;
		padding: 20px 30px;
	}
	.list-sub{
		list-style: disc;
	}
	.su-row-banners {
    	margin: 90px 0;
    	height: 120px;
    	background: url(https://www.tui.ru/getmedia/14a76e6e-9dd3-45b5-88ac-3f3d3b08cdb1/background-banner-round);
    	background-size: cover;
    	background-position: center;
    	padding: 0;
    	border-radius: 5px;
    	position: relative;
	}
	.plashka__text {
    	position: absolute;
    	font-size: 30px;
    	font-weight: bold;
    	color: #092a5e;
    	left: 60px;
    	top: 26px;
	}
	.plashka__link {
    	border-radius: 5px;
    	box-shadow: -14px 7px 24px 0 rgba(0,0,0,0.20);
    	background-color: #ffe100;
    	color: #092a5e;
    	font-size: 20px;
    	padding: 18px 60px 19px;
		font-weight: 400;
    	position: absolute;
    	top: 30px;
    	right: 200px;
    	cursor: pointer;
		font-weight: 400;
	}
	.plshka__small {
    	font-size: 24px;
    	font-weight: 400;
	}
	input, select, textarea, button{
		width: inherit!important;
    	height: inherit!important;
	}
.inside li::before {
    content: "➣";
}
.ActionPage{
	           background: #fff;
	       }
	      .mobile__banner{
	              display: none;
	          }
	      .drop__list{
	          opacity: 0;
	          max-height: 0;
	          overflow: hidden;
	          -moz-transition: opacity .5s, max-height .5s;
	          -ms-transition: opacity .5s, max-height .5s;
	          transition: opacity .5s, max-height .5s;
	          width: 100%;
	      }
	      .expanded {
	          max-height: 1500px;
	          opacity: 1;
	          display: block;
	          border: 2px solid #f3f0ec;
	          padding: 15px;
	      }
	      .arrow_right {
	          font-size: 18px;
	          cursor: pointer;
	          transition: all 0.5s ease;
	          margin-left: 5px;
	          display: inline-block;
	      }
	      .turn__over{
	          transform: rotate(180deg);
	      }
	      .drops{
	          border-radius: 5px 5px 0 0;
	          background-color: #f3f0ec;
	          padding: 20px 50px;
	          font-weight: bold;
	          font-size: 25px;
	          cursor: pointer;
	          border: 2px solid transparent;
	          margin-bottom: -2px;
	          border-bottom: 2px transparent !important;
	      }
	       .squre{
	           list-style: square;
	           margin-left: 35px;
	       }
	       .su-row-header-information {
	           display: grid;
	           grid-template-columns: 1fr 1fr;
	           padding: 30px 0 0px;
	       }
	       .su-row-header-information .su-header-description-block {
	   font-size: 20px;
	   margin: 0.2em;
	   display: block;
	}
	       .su-row-header-information .su-header-action-date {
	   font-size: 1.9em;
	   background: #e2f3fe;
	   padding: 20px 30px;
	}
	       .su-row-header-information .su-header-description-block .su-title-action {
	   font-size: 25px;
	   font-weight: bold;
	   margin: 0.3em 0.5em;
	}
	.su-row-header-information .su-header-description-block span {
	   display: block;
	   margin: 0.5em;
	   font-size: 1em;
	}
	.su-header-description-full {
	   margin: 0;
	   padding: 20px 30px;
	}
	.su-header-description-full .su-title-action-full {
	   font-size: 25px;
	   font-weight: bold;
	   display: block;
	}
	b,
	   strong {
	       font-weight: bold !important;
	   }
	   .hotels-block-action-page {
	       display: grid;
	       grid-template-columns: 33% 33% 33%;
	       grid-column-gap: 1%;
	       grid-row-gap: 1%;
	       justify-items: center;
	   }   
	   .new__text{
	       height: 140px;
	   }
	   .hotels__block {
	       max-width: 273px;
	       width: 100%;
	       height: 336px;
	       border-radius: 5px;
	       background-color: #ffffff;
	       border: none;
	   }
	   .first__line{
	       width: 273px;
	       height: 150px;
	       position: relative;
	       cursor: pointer;
	       border-top-left-radius: 5px;
	       border-top-right-radius: 5px;   
	   }
	   .region{
	       font-size: 25px;
	       font-weight: bold;
	       text-align: center;
	       color: #092a5e;
	       position: inherit;
	       margin: 25px 0;
	   }
	   .acomodation{
	       text-align: center;
	       color: #092a5e;
	       position: inherit;
	       margin: 0;
	   }
	   .second__line{
	       padding: unset;
	   }
	   .new__price{
	       font-size: 25px;
	       font-weight: bold;
	       color: #1896cf;
	       text-align: center;
	       position: inherit;
	       margin: 0;
	   }
	   .choice__column {
	       width: 371px;
	       height: 204px;
	       border-radius: 5px;
	       position: relative;
	       cursor: pointer;
	       transition: ease 0.5s all;
	       background-size: cover;
	       background-repeat: no-repeat;
	   }
	   .shadow {
	       width: 371px;
	       height: 204px;
	       opacity: 0.6;
	       border-radius: 5px;
	       background-image: -webkit-linear-gradient(bottom, #000000, rgba(0, 0, 0, 0));
	       background-image: -o-linear-gradient(bottom, #000000, rgba(0, 0, 0, 0));
	       background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
	       z-index: 1;
	   }
	   .best__destenetion {
	       position: absolute;
	       left: 20px;
	       bottom: 18px;
	       text-align: left;
	   }
	   .destenetion {
	       font-size: 20px;
	       font-weight: bold;
	       color: #ffffff;
	       padding: 0;
	       margin: 0;
	   }
	   .rules {
	       color: #c2e6fa;
	       font-size: 15px;
	       padding: 0;
	       margin: 0;
	   }
	   .best__price {
	       position: absolute;
	       bottom: 18px;
	       right: 21px;
	   }
	   .prices {
	       margin: 0;
	       padding: 0;
	       text-align: left;
	       font-size: 15px;
	       color: #fff;
	   }
	   .bigest {
	       font-size: 23px;
	       font-weight: bold;
	       color: #ffffff;
	   }
	   .btn__red{
	       background: red;
	       padding: 10px 25px;
	       color: #fff;
	       text-decoration: none;
	       transition: ease 0.5s all;
	   }
	   .btn__red:hover{
	       transition: ease 0.5s all;
	       border-top-left-radius: 5px;
	       border-bottom-right-radius: 5px;
	       box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	   }
	   .table__blocks{
	       text-align: center;
	   }
	   .tabllines{
	       display: inline-block;
	       width: 48%;
	       padding: 0 10px 0 10px;
	       vertical-align: top;
	       text-align: left;
	   }   
	   .mytables{
	       width: 100%;
	       border-collapse: collapse;
	       background: #c2ebfa;
	   }
	   .mytables, td, tr{
	       padding: 10px;
	       border: 1px solid #fff; 
	   }
	   .mytables a{
	       text-decoration: underline;
	       transition: ease 0.5s all;  
	   }
	   .mytables a:hover{
	       color: #fff;
	       transition: ease 0.5s all;  
	   }   
	   .su-row-all{
	       padding-bottom: 25px;       
	       }
	    .country__title{
	        color: #737373;
	        font-size: 20px;
	        font-weight: bold;
	        text-align: center;
	    }
	    .country a{
	 		font-size: 20px;
	 		font-weight: normal;
	 		font-style: normal;
	 		font-stretch: normal;
	 		line-height: 1.25;
	 		letter-spacing: normal;
	 		color: #1896cf;
	    }	
	@media screen and (max-width: 320px){
		.su-row-header-banner .su-header-banner-img{
			min-height: 348px!important;
		}
		.su-row-banners {
		    height: 148px!important;
		    margin: 90px 0 0 0!important;
		    text-align: center;
		    padding: 20px;
		}
		.plashka__text {
    		position: inherit;
    		font-size: 20px;
    		left: inherit;
    		top: inherit;
		}
		.bitrix__btn {
    		display: inline-block;
		}
		.plashka__link {
    		display: block;
    		font-size: 17px;
    		padding: 10px 72px 15px;
    		position: inherit;
    		top: inherit;
    		margin-top: 10px;
    		right: inherit;
		}
		.plshka__small {
    		font-size: 15px;
		}
	}
	@media screen and (max-width: 768px){
		.su-row-header-information{
					display: block;	  
			  }
	          .maine__banner{
	              display: none;
	          }
	          .mobile__banner{
	              display: block;
	          }
	          .drops{
	               width: 100%;
	               font-size: 17px;
	               margin-right: inherit;
	               padding: 10px;
	          }
	          .choice__column {
	       			width: 290px;
	       			margin-left: -5px;
	   			}
	   			.shadow{
	   			    width: 290px;   
	   			}
	   			.table__blocks{
	   			    overflow: scroll;
	   			}
	   			.hotels-block-action-page {
	   				grid-template-columns: 1fr!important;
	   				grid-row-gap: 10px;
			}
			  .ActionPage-description__banner{
				    height: inherit;  
			  }
		.su-row-banners {
    		height: 148px!important;
    		margin: 90px 0 0 0!important;
    		text-align: center;
    		padding: 20px;
		}
		.plashka__text {
    		position: inherit;
    		font-size: 20px;
    		left: inherit;
    		top: inherit;
		}
		.bitrix__btn {
    		display: inline-block;
		}
		.plashka__link {
    		display: block;
    		font-size: 17px;
    		padding: 10px 72px 15px;
    		position: inherit;
    		top: inherit;
    		margin-top: 10px;
    		right: inherit;
		}
		.plshka__small {
    		font-size: 15px;
		}
	}	
</style>
<div class="su-row-all" id="app">
    <div class="su-row-title-header">
        <h1>Раннее бронирование Лето 2020</h1>
    </div>
	<div class="su-row-header-banner">
        <div class="su-header-banner-text">
            <ul class="su-new-li">
                <li>Первый взнос всего 3000 руб. или 10% от стоимости тура</li>
                <li>Скидки на размещение в отелях до 50%</li>
                <li>Заезды с ноября 2019 по март 2020 г</li>
                <li>ОАЭ, Иордания, Израиль, Турция, Таиланд, Куба, Кипр, Андорра, Испания, Италия, Болгария, Россия,
                    Абхазия, Беларусь</li>
            </ul>

            <div class="su-header-button"><span class="su-buuton-header">Успейте забронировать!</span></div>
        </div>

        <div class="su-header-banner-img">
            <!--<div class="su-circle-action">
                <div><span class="circle-decription">первый взнос 10%<br /> или</span> <span class="cirle-price">3000 руб.</span></div>
                </div>-->
        </div>
    </div>

    <p class="su-description-p">Кто рано забронирует – скидку на тур получит. У нас в TUI началась одна из самых выгодных и любимых туристами акций – «Раннее бронирование» на летние путешествия, которые состоятся в 2020 году.</p>

    <div class="su-row-header-information">
        <div class="su-header-action-date"><span class="su-header-description-block"><span class="su-title-action">
        	Сроки акции:</span> <span><b>Даты бронирования</b>: с 21 июня 2019 г. по 31 марта 2020 г.</span> <span><b>Даты заездов</b>: с 01 апреля 2020 г. по 31 октября 2020 г.</span></span></div>
        <div class="su-header-description-full"><span class="su-title-action-full">Страны, участвующие в акции:</span>
        	<span>все</span>
    	</div>                
    </div>
	<div class="su-row-all">
			<div class="su-row-tile" id="su-tile">
				<div class="ActionPage-description__text chocolat" data-description="leto">
					<h2 style="text-align: center;"><br />
					Самые лучшие предложения по раннему бронированию:<br />
					&nbsp;</h2>
					<div class="hotels-block-action-page"></div>
				</div>
			</div>
		</div>
    <!--
	<div class="su-row-tile" id="su-tile">
        <div class="su-tile-title">
            <h2>Самые лучшие предложения по раннему бронированию:</h2>
        </div>
    </div>
	-->
    <!--<div class="button-tile">Показать еще &hellip;</div>-->

    <!--<div class="su-row-banners">
        <div class="su-banners-informations">Подробнее<br />
            об условиях акции</div>
    </div>-->
	<div class="su-row-banners">
       <div class="plashka__text">
			Не определились?<br />
		   <span class="plshka__small">Оставьте заявку – мы вам поможем</span>
       </div>
       <div class="bitrix__btn">
           <button class="plashka__link b24-web-form-popup-btn-83">Подобрать тур</button>
		   <script id="bx24_form_button" data-skip-moving="true" type="text/javascript">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://bitrix24.tui.ru/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"83","lang":"ru","sec":"f8ymw5","type":"button","click":""});
		   </script>
       </div>
    </div>
    
    <div class="su-row-tabs">
        <div class="su-row-buttons" id="terms-promo">
            <div class="su-row-button su-active-button" data-button="1">Условия оплаты</div>

            <div class="su-row-button" data-button="2">Cтраны-участники</div>

            <div class="su-row-button" data-button="3">Замена данных и аннуляция тура</div>
        </div>

        <div class="su-row-view">
            <div class="su-view-tab" data-view="1">
                <div class="su-tab-information">
                    <div class="su-title-tab">Туры, забронированные в период действия акции,
                        оплачиваются по схеме ниже:</div>

                    <div class="su-tab-ul">
                        <p><strong>При онлайн-бронировании туров на чартерных рейсах на сайте tui.ru:</strong><br />
                            - 10%&nbsp;- первый взнос должен поступить в момент бронирования<br />
- второй взнос – 50% стоимости тура должен поступить за 61 день до вылета;<br /><br />
                            Полная оплата тура (100% стоимости тура) должна поступить:<br />
                            - туры по безвизовым направлениям&nbsp;подлежат полной оплате&nbsp; 100% не позднее 15 дней до даты начала путешествия;<br />
                            - туры по всем визовым направлениям подлежат полной оплате 100% на момент подачи документов
                            туристов для открытия визы, но не позднее, чем за 21 день до даты начала путешествия; <br />
- без полной оплаты документы на визы не принимаются.</p>
                        &nbsp;

                        <p><strong>При бронировании туров на чартерных рейсах в TUI-турагентствах:</strong><br />
                            - первый взнос 3000 рублей - должен поступить при бронировании тура;<br />
                            - второй взнос - 50% стоимости тура должен поступить за 61 день до вылета;</p>
<br />
                        <p>Полная оплата тура - 100% стоимости тура должна поступить:<br />
                            - туры по безвизовым направлениям подлежат полной оплате не позднее 16 дней до даты начала
                            путешествия;<br />
                            - туры по всем визовым направлениям подлежат полной оплате на момент подачи документов
                            туристов для открытия визы, но не позднее чем за 22 дня до даты начала путешествия;<br />
- без полной оплаты документы на визы не принимаются.</p>
                        <br />
                        <p>В случае нарушения установленных условиями РБ сроков оплаты заявка будет аннулирована в
                            одностороннем порядке с выставлением Фактических Понесенных расходов (ФПР)</p>
                    </div>
                </div>

                <div class="su-tab-information">
                    <div class="su-title-tab">ВНИМАНИЕ!</div>

                  <div class="su-tab-ul">
                        <p>Исключением считаются <br />   </p>
 <div class="su-tab-ul">
                        <ul>
<li>туры с перелетом регулярными рейсами (GDS)</li>
<li>туры в ОАЭ, Мальдивы, Маврикий</li></ul></div>
                         <br />
                            <p><strong>Данные туры оплачиваются по следующей схеме:</strong><br />
                            <br />
                            <strong><u>Туры на регулярных рейсах</u></strong>
                            </p>
    <ul style="list-style: square;">                       
		<li style="font-weight: 100;"><strong>Для всех туров на регулярных рейсах первый взнос 50%</strong>, но не менее стоимости забронированного регулярного авиаперелета в составе тура.</li>
		<li style="font-weight: 100;"><strong>Полная оплата тура (100% стоимости тура)</strong> должна поступить:
			<ul class="inside">
				<li style="font-weight: 100;">туры по безвизовым направлениям – не позднее 16 дней до даты начала путешествия,</li>
				<li style="font-weight: 100;">туры по всем визовым направлениям – на момент подачи документов туристов для открытия визы, но не позднее, чем за 22 дня до даты начала путешествия.</li>
			</ul>
		</li>
		<li style="font-weight: 100;"><strong>Для туров в ОАЭ, Мальдивы, Маврикий - первый взнос 50%</strong>, но не менее стоимости забронированного регулярного авиаперелета в составе тура, полная оплата тура (100% стоимости) должна поступить за 31 день до заезда.</li>
	</ul>

                                                                           
                                                    
                        
    <p><br />
      Без полной оплаты документы на визы не принимаются. В случае нарушения установленных условиями РБ сроков оплаты заявка будет аннулирована в одностороннем порядке с выставлением Фактических Понесенных расходов (ФПР). <br />
      <br />
      Цены РБ не распространяются для групп (более 25 человек) и на индивидуальные туры.<br />
      При увеличении стоимости тура за счет добавления дополнительных услуг, замены категории номера на более высокую, увеличения продолжительности тура - сервисные сборы не взимаются.
      Туроператор оставляет за собой право внесения изменения в условия акции. </p>
    <p>&nbsp;</p>
    <hr />
    <p>&nbsp;</p>
    <p>В рамках этой акции вы сможете сэкономить до 50% от стоимости тура. Суть такова: самые большие скидки – в начале акции, а с каждым днем, – приближаясь к дате окончания «Раннего бронирования», они становятся всё меньше. Так что нужно успеть купить путешествие на самых выгодных условиях!</p>
    <p>После того, как вы определились с туром, понадобится внести всего 3000 рублей, если оплачиваете его в турагентстве, или 10% от стоимости, если покупаете онлайн на <a href="https://www.tui.ru/early-booking-winter/?utm_source=dzen&amp;utm_medium=banner&amp;utm_content=rb_banner" target="_blank">tui.ru</a>. Всё. Тур забронирован за вами. Остальную сумму можно оплатить частями.</p>
    <p>Наши эксперты тщательно отобрали направления и отели, чтобы предложить туристам всё самое лучшее:</p>
    <p>∙ Большой выбор направлений – Турция, Кипр, Греция, Италия, Испания, Черногория, Тунис, Хорватия, Албания, Болгария и многие другие.</p>
    <p>· В наличии самые популярные отели и категории номеров. Моментальное подтверждение.</p>
    <p>· Мы предлагаем гарантию лучшей цены: 2 раза пересчитаем цену (уже после того, как вы забронировали тур), если вы увидите, что стоимость вашей поездки на сайте tui.ru стала ниже. Исключение составляют регулярные рейсы авиакомпаний.</p>
    <!--<p>Новогодние туры, забронированные в период с 25.12.2019 г. по 12.01.2020 г., оплачиваются по
                            схеме ниже:<br /></p>

                        <p>- 50% - оплата должна поступить при оформлении тура</p>
                        <p>- Полная оплата осуществляется за 31 день до даты вылета</p>

                        <br />
                        <p>В случае нарушения установленных условиями РБ сроков оплаты заявка будет аннулирована в
                            одностороннем порядке с выставлением Фактических Понесенных расходов (ФПР).</p>-->
                    </div>
                </div>
            </div>

                <!--<div class="su-tab-information">
                    <div class="su-title-tab">ВНИМАНИЕ!</div>

                    <div class="su-tab-ul">
                        <p>Исключением считаются Новогодние заезды и туры на регулярных рейсах.<br />
                            <br />
                            Все туры с регулярным перелетом (GDS) оплачиваются по следующей схеме:<br />
                            Первый взнос 50% при оформлении тура, но не менее стоимости забронированного регулярного
                            авиаперелета в составе тура. Полная оплата осуществляется за 61 день до даты вылета.<br />
                            <br />
                            В случае нарушения установленных условиями РБ сроков оплаты заявка будет аннулирована в
                            одностороннем порядке с выставлением Фактических Понесенных расходов (ФПР).</p>
                        <br />
                        <p>Новогодние туры, забронированные в период с 25.12.2019 г. по 12.01.2020 г., оплачиваются по
                            схеме ниже:<br /></p>

                        <p>- 50% - оплата должна поступить при оформлении тура</p>
                        <p>- Полная оплата осуществляется за 61 день до даты вылета</p>

                        <br />
                        <p>В случае нарушения установленных условиями РБ сроков оплаты заявка будет аннулирована в
                            одностороннем порядке с выставлением Фактических Понесенных расходов (ФПР).</p>
                    </div>
                </div>-->
            </div>

            <div class="su-view-tab active" data-view="2" style="display: none;">
                <div class="su-tab-information">
                    <div class="su-title-tab">В акции участвуют туры по следующим направлениям:</div>

                    <div class="su-tab-ul">
                        <ul class="list-sub">
							<li>все</li>                
                        </ul>
                        <!-- <p>В случае нарушения установленных условиями РБ сроков оплаты заявка будет аннулирована в одностороннем порядке с выставлением Фактических Понесенных расходов (ФПР).</p> -->
                    </div>
                </div>
            </div>
            <div class="su-view-tab active" data-view="3" style="display: none;">
                <div class="su-tab-information">
                    <div class="su-title-tab"></div>
                    <div class="su-tab-ul">
                        <p>Внесение любых изменений в заявку (изменение дат, сроков поездки, отеля/тип экскурсионного тура, типа номера, типа питания, замена туриста и размещения) по окончании акции «Раннее бронирование» осуществляется исключительно под запрос, при этом взимается сервисный сбор в размере 20 у.е.*(Россия – 1200 руб.), и заявка пересчитывается по суточным ценам</p><br /><br />
                        <p>Замена паспортных данных всех туристов приравнивается к аннуляции тура</p><br /><br />
                        <p>Аннуляция заказа осуществляется согласно договору о реализации туристского продукта. Сервисный сбор в размере 30 у.е. (Россия - 2000 руб.) взимается независимо от возможных Фактически Понесенных Расходов (ФПР).</p><br /><br />
                        <p>Размер фактически понесенных расходов рассчитывается по каждому бронированию индивидуально.</p><br /><br />
                        <p>*у.е. - условные единицы. Доллары США или Евро, в зависимости от выбранного направления.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div></div>
<!-- <script src="https://agent.tui.ua/getmedia/0f11ff34-a3f0-4043-b4d9-7db688183981/add_files?v=0.6115048450958191" type="text/javascript"></script> -->
<!--<script type="text/javascript">
    var newScript = document.createElement('script');
    newScript.src = 'https://agent.tui.ua/getmedia/0f11ff34-a3f0-4043-b4d9-7db688183981/add_files?v=01082019';
    document.head.appendChild(newScript)

    newScript.onload = function () {
        add_files([
            "https://agent.tui.ru/getmedia/2f02f195-3661-4a25-9405-d65ed4ab66f6/jquery-min",
            "https://www.tui.ru/getmedia/d863da67-0d67-49c1-9583-a7d2eccb8ad0/all",
            "https://www.tui.ru/getmedia/a997edf6-5a88-487c-b3cf-097301f2fea3/script_tile",
            "https://www.tui.ru/getmedia/b99120c4-6825-4105-8bac-a3819c6c7a18/tile_data"
        ], 'script')
    }
</script>-->
<script src="https://www.tui.ru/getmedia/eaaf2c6b-381d-4098-a9d6-0764a1a4e890/data" type="text/javascript">
		</script>
		<script type="text/javascript">
		      var newScript = document.createElement('script');
		      newScript.src = 'https://agent.tui.ua/getmedia/0f11ff34-a3f0-4043-b4d9-7db688183981/add_files?v=01082019';
		      document.head.appendChild(newScript)

		      newScript.onload = function () {
		      add_files([
		          "https://agent.tui.ru/getmedia/2f02f195-3661-4a25-9405-d65ed4ab66f6/jquery-min",
		          "https://www.tui.ru/getmedia/251052c8-d5c2-4ce7-a928-8690c4dc5e42/all",
		          "https://www.tui.ru/getmedia/cbd987d2-cb51-4173-8540-04819b1f732d/another",
		      ], 'script')
		  }
		</script>