<script src="https://www.tui.ru/getmedia/d87eaac3-bfe8-4d28-b122-f5631b032cc1/template_base_diff" type="text/javascript"></script><script type="text/javascript">
var template_script = document.createElement("script");
  template_script.src="https://www.tui.ru/getmedia/91751be2-e1fb-443e-b4f4-66aab0b2a7f2/template_engine";
  document.head.appendChild(template_script);
  template_script.onload = function(){
      on_page(render("#table-template","#hotelsInfoTemplate", table_fs))
  }
</script>
<style type="text/css">.recommendationBlocks .recommendationBlock .header .inner {
font-weight: 600;
color: black !important;
}
.TUIFunSun .header {
background-color: #FFF9BF !important;
}
.TUIAzure .header {
background-color: #ADE5FA !important;
}
.recommendationBlocks .recommendationBlock.TUIAzure .header, .recommendationBlocks .recommendationBlock.TUIAzure .searchTour {
background-color: #ADE5FA!important;
}
.TUIFunSun img.mania {
    width: 80px !important;
    margin-right: 220px !important;
}
.TUIAzure img.mania {
    width: 30px !important;
    margin-right: 210px !important;
}
.TUIOrange img.mania {
    width: 30px !important;
    margin-right: 210px !important;
}
.recommendationBlocks .recommendationBlock.TUIAzure.backgroundImage .overFlow {
background: none !important;
}
</style>
<article>
<div class="contentInformationHolder">
<div style="padding-top: 10px;">
<p class="overFlow" style="padding-bottom: 10px; font-size:11px; float: right; background-color: rgba(255, 255, 255, 0.5); border-bottom-left-radius: 10px; border-top-left-radius: 10px;"><strong>Развлечения для всей семьи</strong><br />
<a href="/Tours/Africa/Egypt/Sharm-El-Sheikh/Sharm-El-Sheikh/FUN-SUN-Albatros-Palace">FUN&amp;SUN Albatros Palace 5* </a><br />
<a href="/Tours/Africa/Egypt/Hurghada/Hurghada/fun-sun-albatros-aqua-vista">FUN&SUN Albatros Aqua Vista 4*</a><br />
<a href="/Tours/Africa/Egypt/Hurghada/Hurghada/fun-sun-albatros-aqua-blu">FUN&SUN Albatros Aqua Blu 4*</a></p>
</div>
</div>
</article>
