</ul>
</nav>
<script type="text/javascript">
	var top_menu_ul = document.querySelector("#top-menu-navigation"),
	li_1 = document.createElement("li"),
	li_2 = document.createElement("li");
	li_1.classList.add("label-menu");
	li_2.classList.add("label-menu");
    li_2.classList.add("tui-premium");
	li_1.innerHTML = `<a href="/concepts/home/" style="color:#092a5e">Концепции отдыха TUI</a>
									<div class="label-menu-2">
                                        <a href="/concepts/smart" class="concept-link">
											<img alt="smart_logo" src="https://www.tui.ru/getmedia/dae3517e-c26d-4e8c-9ed0-93d2faef2cd9/smart-logo-300px">
											<div>
												<b>SMART</b><br>Умный подход к отдыху
											</div>
										</a>
										<a href="/concepts/tui-fun-sun" class="concept-link">
											<img alt="FN_logo" src="https://www.tui.ru/getmedia/a43e4cf0-4244-45b4-8bd4-275b7d8ba1a9/logoTopFN">
											<div>
												<b>FUN&amp;SUN</b><br>Семейный отдых
											</div>
										</a>
										<a href="/concepts/tui-day-night" class="concept-link">
											<img alt="FN_logo" src="https://www.tui.ru/getmedia/dfa8f32e-6221-4be8-9c2e-23d063b6b989/DN-logo_vertical_web">
											<div>
												<b>DAY&amp;NIGHT</b><br>Молодежный отдых
											</div>
										</a>
										<a href="/concepts/tui-toucan" class="concept-link">
											<img alt="FN_logo" src="https://www.tui.ru/getmedia/eda1b56f-2532-46eb-8626-65425d799edf/TC-logo-mini-vertical">
											<div>
												<b>MINI TOUCAN</b><br>Отдых с детьми
											</div>
										</a>
                                                                                <a href="/concepts/home/" class="concept-link">
											<img alt="Diif product" src="https://www.tui.ru/getmedia/e7f4d372-680e-46e8-bb37-28e2ec6f2f50/toucan-main-page-100x100">
											<div>
												<b>О Концепциях <br>отдыха</b>
											</div>
										</a>
									</div>`;
li_2.innerHTML	= `<a href="/premium/premium">TUI PREMIUM </a>`	;			
top_menu_ul.appendChild(li_1)
top_menu_ul.appendChild(li_2)
</script>