<!-- MENU START ===================================================== -->

<div class="container">
<div class="row">
<div class="buttons-slider button-slider-mobile col-md-12">
<div class="col-md-3 col-12 button-slider active-button-slider" onclick="smoothScrolling('#advantagesHotels')">
<p>Это DAY&amp;NIGHT Connected</p>
</div>

<div class="col-md-2 col-12 button-slider" onclick="smoothScrolling('#hotels')">
<p>Отели</p>
</div>

<div class="col-md-3 col-12 button-slider" onclick="window.open('https://www.tui.ru/concepts/tui-day-night/entertainment-program/')">
<p>Развлечения и спорт</p>
</div>

<div class="col-md-3 col-12 button-slider" onclick="window.open('/concepts/tui-day-night/concerts-and-master-classes')">
<p>Афиша 2019</p>
</div>

<div class="col-md-3 col-12 button-slider" onclick="window.open('https://www.tui.ru/search/?HotelAttribute=1000719&adults=2&children=0')">
<p>Перейти к бронированию</p>
</div>
</div>
</div>
</div>


<!-- MENU END ===================================================== -->
http://b2b.tui.ru/default.php?page=search_tour&

 УКРАИНА

<!-- MENU START ======================================================================= -->

<div class="container">
<div class="row">
<div class="buttons-slider button-slider-mobile col-md-12">
<div class="col-md-3 col-12 button-slider button-slider-active " onclick="smoothScrolling('#advantagesHotels')">
<p>Это DAY&amp;NIGHT Connected</p>
</div>

<div class="col-md-2 col-12 button-slider" onclick="smoothScrolling('#hotels')">
<p>Отели</p>
</div>

<div class="col-md-3 col-12 button-slider" onclick="window.open('https://www.tui.ua/concepts/tui-day-night/entertainment-program/')">
<p>Развлечения и спорт</p>
</div>

<div class="col-md-3 col-12 button-slider" onclick="window.open('/concepts/tui-day-night/concerts-and-master-classes')">
<p>Афиша 2019</p>
</div>

<div class="col-md-3 col-12 button-slider" onclick="window.open('http://b2b.tui.ru/default.php?page=search_tour&')">
<p>Перейти к бронированию</p>
</div>
</div>
</div>
</div>
<!-- MENU END ======================================================================= -->