<!DOCTYPE html>
<html lang="ru">

<!-- HEAD START ========================================================================= -->

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="" >
    <meta name="description" content="">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <title>TUI SMART</title>
    
<!-- CSS STYLE ======================================================================== -->
   
    <link rel="stylesheet" href="css/reset.min.css">
    <link rel="stylesheet" href="css/smart-hotels.css">
    <link rel="stylesheet" media="all and (min-width: 1201px)" href="css/smart-desktop.css">
    <link rel="stylesheet" media="all and (min-width: 901px) and (max-width: 1200px)" href="css/smart-laptop.css">
    <link rel="stylesheet" media="all and (min-width: 601px) and (max-width: 900px)" href="css/smart-tablet.css"> 
    <link rel="stylesheet" media="all and (max-width: 600px)" href="css/smart-mobile.css">
    <link rel="stylesheet"  href="https://admin.tui.ru/getmedia/82f63621-090c-4d58-9b86-369a680a5911/header-footer-all-css-concepts">
<!--    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css">-->
    
   
   
    
<!-- CSS STYLE ======================================================= -->
    
   
    
</head>

<!-- HEAD END ========================================================================= -->



<body>
   
<!-- ВЕРХНЕЕ МЕНЮ TOP START =========================================================== 

<div class="menu-top" id="home-page-diff-menu-top"  style="z-index: 10;">
    <div class="container">
        <div class="row">
            <a class="col-md-2 col-6 logo-img" href="/"><img :src=" logoLink "></a>
            <div class="col-5 but-menu-mobile">
                &nbsp;
            </div>

            

            <div class="col-md-10 col-10 mobile_agent">
                <div id="exit_menu">
                    X
                </div>
                <div class="row menu-label">
                    <a class="label-menu" :href=" menuItemFranchaizingLink " target="_blank">{{menuItemFranchaizingNameRU}}</a>
                    <a class="label-menu" :href=" menuItemPartnershipLink " target="_blank">{{menuItemPartnershipNameRU}}</a>
                    <a class="label-menu" :href=" menuItemAboutLink " target="_blank">{{menuItemAboutNameRU}}</a>
                    <a class="label-menu" :href=" menuItemShopLink " target="_blank">{{menuItemShopNameRU}}</a>
                    <div class="label-menu" style="position: relative;cursor: pointer">
                        <a :href=" menuItemConceptsLink " style="color:#092a5e">{{menuItemConceptsNameRU}}</a>
                        <div class="label-menu-2">
                           <div class="concept-link">
                                <a :href=" menuItemSmartLink "><img alt="Smart_logo" :src=" menuItemSmartLogo "></a>
                                <div>
                                    <a :href=" menuItemSmartLink "><b>{{menuItemSmartName}}</b><br>
                                        {{menuItemSmartNameRU}}</a>
                                </div>
                            </div>
                            <div class="concept-link">
                                <a :href=" menuItemFunSunLink "><img alt="FN_logo" :src=" menuItemFunSunLogo "></a>
                                <div>
                                    <a :href=" menuItemFunSunLink "><b>{{menuItemFunSunName}}</b><br>
                                        {{menuItemFunSunNameRU}}</a>
                                </div>
                            </div>
                            <div class="concept-link">
                                <a :href=" menuItemDayNightLink "><img alt="FN_logo" :src=" menuItemDayNightLogo "></a>
                                <div>
                                    <a :href=" menuItemDayNightLink "><b>{{menuItemDayNightName}}</b><br>
                                        {{menuItemDayNightNameRU}}</a>
                                </div>
                            </div>
                            <div class="concept-link">
                                <a :href=" menuItemToucanLink "><img alt="FN_logo" :src=" menuItemToucanLogo "></a>
                                <div>
                                    <a :href=" menuItemToucanLink "><b>{{menuItemToucanName}}</b><br>
                                        {{menuItemToucanNameRU}}</a>
                                </div>
                            </div>
                            <div class="concept-link">
                                <a :href=" menuItemConceptsAboutLink "><img alt="Home_logo" :src=" menuItemConceptsAboutLogo " /></a>

                                <div><a :href=" menuItemConceptsAboutLink "><b>{{menuItemConceptsAboutNameRU1}}<br />
                                            {{menuItemConceptsAboutNameRU2}}</b></a></div>
                            </div>
                        </div>
                    </div><a class="label-menu" :href=" menuItemPremiumLink " target="_blank">{{menuItemPremiumName}}</a>
                    <a class="label-menu log enter" data-bind="click: LoginClick" :href=" menuItemLoginNamelinkRU " target="_blank">{{menuItemLoginNameRU}}</a>
                </div>
            </div>

            <!-- ВЕРХНЕЕ МЕНЮ END =========================================================== 

            <div class="col-md-10">
                <div class="row menu-telephone">
                    <div class="col-md-8 col-7">
                        <p class="telephone-title">{{menuPhoneTitleRU}}</p>
                        <p class="telephone-number">{{menuPhonePhoneRU}}</p>
                    </div>
                    <a :href=" menuTouristSiteLinkRU " style="color: black">{{menuTouristSiteNameRU}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

 ВЕРХНЕЕ МЕНЮ TOP END =========================================================== -->
   
   
<!-- MAIN START ======================================================================= -->
   
   
   
    <div class="smart" id="smart-diff" >
       
       <!-- BANNER START ================================= -->
       
       
        <div class="smart__banner "   >
            <img v-bind:src=" bannerRU " alt="SMART Banner" class="smart__img ">    
        </div>
        
        <!-- BANNER END ================================= -->
        
        <!-- ABOUT START ================================= -->
        
        <div class="smart__text" >
            <h2 class="smart__title" data-aos="slide-up" > {{titleRU}} </h2>
            <p class="smart__about" data-aos="slide-up" > {{aboutRU}} </p>
        </div>
        
        <!-- ABOUT END ================================= -->
        
        <!-- ФИШКИ START =============================== -->
        
        <div class="fishka" >
            <div class="fishka__item" v-for=" fishkiPoint in fishkiPoints" v-bind:style=" fishkiPoint.cssPart " >
                <div class="fishka__text" >
                    <h3 class="fishka__title"> {{ fishkiPoint.titleRU }} </h3>
                </div>
                <img v-bind:src=" fishkiPoint.image " alt="fishka image" class="fishka__img">
                
            </div>
        </div>
        
        <!-- ФИШКИ END =============================== -->
        
        <!-- WHY START =============================== -->
        
        <div class="why" >
            <h2 class="smart__title" > {{ whyTitleRU }} </h2>
            <div class="why__items">
                <div class="why__item" v-for=" whyItem in whyItems " data-aos="slide-up">
                    <img v-bind:src=" whyItem.image " alt="image" class="why__img">
                    <div class="why__text">
                        <h3 class="why__title"> {{ whyItem.titleRU }} </h3>
                        <ul class="why__spisok" v-for=" item in whyItem.items">
                            <li class="why__spisok-item" > {{ item.itemRU }} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
        
        <!-- WHY ENS ================================ -->
        
        <!-- HOTELS ===================================== -->
    <div class="hotels__concepts" id="hotels-concepts-block">
       <h2 class="smart__title" > {{ hotelsTitleRU }} </h2>
        <div class="hotels__countries">
           
            <a v-for=" countryName in countryNames " v-bind:data-id=' countryName.id ' v-if="countryName.showRU" class="hotels__country"  v-bind:class=" countryName.class ">{{ countryName.nameRU }}</a>
 
        </div>
        
        <select class="hotels__countries-mobile" id="hotels-options-mobile">
              <option class="hotels__country-mobile" v-for=" countryName in countryNames " v-bind:data-option=' countryName.id ' v-if="countryName.showRU">{{ countryName.nameRU }}</option>
              
        </select>
        
        <div  v-for=" countryHotel in countryHotels" v-bind:data-id=" countryHotel.id " v-if=" countryHotel.showRU " class="hotels__blocks" v-bind:class=" countryHotel.class ">
            <div class="hotels__block" v-for=" hotel in countryHotel.hotels ">
                <div class="hotels__banner">
                    <img v-bind:src=" hotel.img " alt="" class="hotels__poster">
                    <h3 class="hotels__place">{{ hotel.place }}</h3>
                    <!--<h6 class="hotels__sale">{{ hotel.sale }}</h6>-->
                </div>
                <div class="hotels__text">
                    <h3 class="hotels__name">{{ hotel.name }}</h3>
                    <div class="hotels__info">
                        <div class="hotels__about">
                            <p class="hotels__description">{{ hotel.nights }}</p>
                            <p class="hotels__description">{{ hotel.service }}</p>
                        </div>
                        <!--<div class="hotels__prices">
                            <p class="hotels__price-old">{{ hotel.oldPrice }}</p>
                            <p class="hotels__price-new">{{ hotel.price }}</p>
                        </div>-->
                    </div>
                    <a v-bind:href=" hotel.agentLink " class="hotels__link" target="_blank"> {{ buttonRU }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- HOTELS ===================================== -->
        
        
        <!-- OPEN DATES START =============================== 
        
        <div class="country" >
            <h2 class="smart__title"> {{ dateTitleRU }} </h2>
            <div class="country__items">
                <div class="country__item" v-for=" openDate in openDates ">
                    <h3 class="country__name"> {{ openDate.countryNameRU }} </h3>
                    <div class="country__block" v-for=" hotel in openDate.hotels ">
                        <a v-bind:href=" hotel.linkAgent " class="country__hotel" target="_blank"> {{  hotel.name }} </a>
                        <span class="country__date"> {{  hotel.date }} </span>
                    </div>
                </div>
            </div>
        </div>
        
         OPEN DATES END =============================== -->
        
    </div>
    
    
    
    
    
    
<!-- MAIN END ========================================================================= -->
    
<!-- SCRIPTS START ==================================================================== --> 
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" defer></script>  
<script src="VUE-smart-hotels-ru-by-ua-NEW.js" defer></script>
<script src="VUE-smart.js" defer></script>

<script src="https://www.tui.ru/getmedia/f6a084a1-de7e-43c7-be13-0d9b8756c9e6/VUE-diff-agent-header-footer" defer></script>

<!-- SLIDER ============================= -->
<style>

</style>
<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js" defer></script>
<script src="script-for-slider-hotels.js"></script>-->
<script src="Smart-hotels-script.js" defer></script>
<!-- SLIDER SETTINGS ======================== -->



<!-- SLIDER ============================= -->

<!-- SCRIPTS END ====================================================================== -->   

<!-- METRIKA START ====================================================================== -->   

<!-- METRIKA END ====================================================================== --> 


</body>
</html>