.concepts {
    &__main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-family: 'TUITypeCyrillicLight'; 
    }
}

.banner {
    &__concepts {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 90%;
        max-width: 550px;
        min-width: 280px;
        height: 350px;
        background-image: url(https://www.tui.ru/getmedia/8e6d1ac6-955f-4fc3-bddc-648db3c1a4c9/banner_Fun-Sun);
        border-radius: 10px;
    }
    &__titles {
        margin-left: 40px;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    &__logo {
        width: 220px;
        
    }
    &__text {
        width: 90%;
        margin-left: 15px;
        font-family: TUITypeCyrillicLight;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.24;
        letter-spacing: normal;
        color: #3c3c3c;
        list-style-type: none;
        
    }
    &__text-item {
        margin-bottom: 15px;
        
    }
    &__text-item::before {
        content: "\2022";
        color: #ffaf00;
        font-weight: bold;
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }
}

.about {
    &__concepts {
        margin-bottom: 30px;
        width: 90%;
        max-width: 550px;
        min-width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__title {
        margin-bottom: 20px;
        font-family: TUITypeCyrillic;
          font-size: 24px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #3c3c3c;
    }
    &__text {
        font-family: TUITypeCyrillic;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
        color: #737373 ;
    }
}

.services {
    &__concepts {
        margin-bottom: 30px;
        width: 100%;
        max-width: 550px;
        min-width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__title {
        margin-bottom: 20px;
        font-family: TUITypeCyrillicLight;
          font-size: 20px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #3c3c3c;
    }
    &__blocks {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    &__block {
        margin-bottom: 10px;
        width: 90%;
        min-height: 240px;
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        overflow: hidden;
    }
    &__img {
        height: 140px;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    &__text {
        width: 75%;
        margin-top: 20px;
        z-index: 10;
    }
    &__name {
        font-family: TUITypeCyrillicLight;
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #3c3c3c;
        margin-bottom: 10px;
    }
    &__items {
        font-family: TUITypeCyrillic;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #000000;
        list-style-type: none;
    }
    &__item {
        font-family: TUITypeCyrillic;
        width: 90%;
        margin-bottom: 10px;
        &::before {
            content: "\2022";
            color: #dad1c2;
            font-weight: bold;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 5px;
        }
    }
}

.entertaiments {
    &__concepts {
        margin-bottom: 30px;
        width: 100%;
        max-width: 550px;
        min-width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__title {
        margin-bottom: 20px;
        font-family: TUITypeCyrillicLight;
          font-size: 17px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #3c3c3c;
    }
    &__blocks {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    &__block {
        margin-bottom: 10px;
        width: 90%;
        min-height: 250px;
        border-radius: 5px;
          border: solid 1px #e7e3db;
          background-color: #ffffff;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        overflow: hidden;
    }
    &__img {
        width: 130px;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    &__text {
        z-index: 10;
        width: 65%;
        margin-top: 20px;
    }
    &__name {
        font-family: TUITypeCyrillicLight;
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #3c3c3c;
        margin-bottom: 10px;
    }
    &__items {
        list-style-type: none;
        font-family: TUITypeCyrillic;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #000000;
    }
    &__item {
        
        list-style-type: none;
        width: 90%;
        margin-bottom: 7px;
        &::before {
            content: "\2022";
            color: #ffaf00;
            font-weight: bold;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 5px;
        }
    }
}

.photos {
    &__concepts {
        margin-bottom: 30px;
        width: 90%;
        max-width: 550px;
        min-width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__title {
       margin-bottom: 20px;
        font-family: TUITypeCyrillicLight;
          font-size: 20px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #3c3c3c; 
    }
    &__block {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    &__video {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    &__video-img {
        width: 95%;
        
        margin-bottom: 10px;
        border-radius: 10px;
    }
    &__photos {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    &__photo {
        width: 45%;
        margin: 5px;
        border-radius: 10px;
    }
}

.programs {
    &__concepts {
        margin-bottom: 30px;
        width: 90%;
        max-width: 550px;
        min-width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__title {
       margin-bottom: 20px;
        font-family: TUITypeCyrillicLight;
          font-size: 20px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #3c3c3c; 
    }
    &__blocks {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__block {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        margin-bottom: 20px;
    }
    &__names {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0px;
    }
    &__icon {
        width: 40px;
        margin-right: 10px;
    }
    &__name {
        font-family: TUITypeCyrillicLight;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
          color: #3c3c3c;
    }
    &__items {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 50px
    }
    &__text {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        font-family: TUITypeCyrillic;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #3c3c3c;
        margin-bottom: 10px;
    }
    &__item {
        
        cursor: pointer;
        font-family: TUITypeCyrillicLight;
          font-size: 14px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #1896cf;
        text-decoration: none;
        text-align: left;
    }
    &__download {
        width: 20px;
        display: none;
    }
}


.allhotels {
    &__concepts {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        background-color: #f6f4f0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    &__blocks {
        
        width: 90%;
        max-width: 550px;
        min-width: 280px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__block {
        width: 100%;
        margin-right: 0px;
        margin-left: 20px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__name {
        font-family: TUITypeCyrillicLight;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
          color: #3c3c3c;
        margin-bottom: 10px;
    }
    &__link {
        cursor: pointer;
        width: 100%;
        font-family: TUITypeCyrillic;
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.31;
          letter-spacing: normal;
          color: #092a5e;
        text-decoration: none;
    }
    
}