<head></head>
<title>FUN SUN</title>
<script defer src="https://www.tui.ru/getmedia/91751be2-e1fb-443e-b4f4-66aab0b2a7f2/template_engine" type="text/javascript">
</script>
<script src="https://www.tui.ru/getmedia/d87eaac3-bfe8-4d28-b122-f5631b032cc1/template_base_diff" type="text/javascript">
</script>
<script type="text/javascript">
    var template_script = document.createElement("script");
    template_script.src = "https://www.tui.ru/getmedia/91751be2-e1fb-443e-b4f4-66aab0b2a7f2/template_engine";
    document.head.appendChild(template_script);
    template_script.onload = function() {
        on_page(render("#table-template", ".block-table", table_fs))
    }
    var videoId = 'OxTcJn6SZkA';
</script>


<link href="https://www.tui.ru/getmedia/d55fbf08-49b9-4516-8034-c14a0a99df6c/agent-all" rel="stylesheet" type="text/css" />
<link href="https://www.tui.ru/getmedia/c51e2c41-667b-4ebd-8ad9-484a6efbd767/all" rel="stylesheet" type="text/css" />
<meta content="width=device-width,initial-scale=1" name="viewport" />
<style type="text/css">
    .button-slider {
        -webkit-box-shadow: inset 0 -4px 0 0 #67C6F6 !important;
        -moz-box-shadow: inset 0 -4px 0 0 #67C6F6 !important;
        box-shadow: inset 0 -4px 0 0 #67C6F6 !important;
        background-color: #67C6F6 !important;
    }

    .buttons-slider {
        padding: 15px 0 !important;
    }

    .button-slider-active {
        -webkit-box-shadow: inset 0 -4px 0 0 #C3E8FB !important;
        -moz-box-shadow: inset 0 -4px 0 0 #C3E8FB !important;
        box-shadow: inset 0 -4px 0 0 #C3E8FB !important;
        background-color: #C3E8FB !important;
    }

    .slider-content ul li {
        color: #0c2c5c !important;
    }

    /* отключаем футер и хедер и убираем ширину шаблона на белорусском агентском сайте */
    .pageWrapper {
        width: 100% !important;
    }

    .mainHeader {
        display: none !important;
    }

    .contentFooter {
        display: none !important;
    }

    .mainFooter {
        display: none !important;
    }

    /* отключаем футер и хедер и убираем ширину шаблона на белорусском агентском сайте */



    body {
        font-family: TUItype !important;
    }
</style>
<!-- ШРИФТ =============================================== -->
<style>
    @font-face {
        font-family: 'TUI-reg';
        src: url('https://www.tui.ru/getmedia/0c02516a-a2de-4325-ba89-f7ac294122a8/TUITypeLight-Regular');
        src: url('https://www.tui.ru/getmedia/0c02516a-a2de-4325-ba89-f7ac294122a8/TUITypeLight-Regular?#iefix') format('embedded-opentype'),
            url('https://www.tui.ru/getmedia/953947e9-cb5a-43a7-a16a-1ca276d08920/TUITypeLight-Regular') format('woff2'),
            url('https://www.tui.ru/getmedia/73494612-776c-4364-b603-208f014e9bff/TUITypeLight-Regular') format('woff'),
            url('https://www.tui.ru/getmedia/6294bb39-80a5-4825-9b12-a1bd5925de01/TUITypeLight-Regular') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
</style>
<!-- ШРИФТ =============================================== -->

<div class="row-all">
   
 <!-- ВЕРХНЕЕ МЕНЮ TOP START =========================================================== -->

        <div class="menu-top" id="home-page-diff-menu-top">
            <div class="container">
                <div class="row">
                    <a class="col-md-2 col-6 logo-img" href="/"><img v-bind:src=" logoLink "></a>
                    <div class="col-5 but-menu-mobile">
                        &nbsp;
                    </div>

                    <!-- ВЕРХНЕЕ МЕНЮ START =========================================================== -->

                    <div class="col-md-10 col-10 mobile_agent">
                        <div id="exit_menu">
                            X
                        </div>
                        <div class="row menu-label">
                            <a class="label-menu" :href=" menuItemFranchaizingLink " target="_blank">{{menuItemFranchaizingNameUA}}</a> 
                            <a class="label-menu" :href=" menuItemPartnershipLink " target="_blank">{{menuItemPartnershipNameUA}}</a> 
                            <a class="label-menu" :href=" menuItemAboutLink " target="_blank">{{menuItemAboutNameUA}}</a> 
                            <a class="label-menu" :href=" menuItemShopLinkUA " target="_blank">{{menuItemShopNameUA}}</a>
                            <div class="label-menu" style="position: relative;cursor: pointer">
                                <a :href=" menuItemConceptsLink " style="color:#092a5e">{{menuItemConceptsNameUA}}</a>
                                <div class="label-menu-2">
                                   <div class="concept-link">
                                        <a :href=" menuItemSmartLink "><img alt="Smart_logo" :src=" menuItemSmartLogo "></a>
                                        <div>
                                            <a :href=" menuItemSmartLink "><b>{{menuItemSmartName}}</b><br>
                                                {{menuItemSmartNameUA}}</a>
                                        </div>
                                    </div>
                                    <div class="concept-link">
                                        <a :href=" menuItemFunSunLink "><img alt="FN_logo" :src=" menuItemFunSunLogo "></a>
                                        <div>
                                            <a :href=" menuItemFunSunLink "><b>{{menuItemFunSunName}}</b><br>
                                                {{menuItemFunSunNameUA}}</a>
                                        </div>
                                    </div>
                                    <div class="concept-link">
                                        <a :href=" menuItemDayNightLink "><img alt="FN_logo" :src=" menuItemDayNightLogo "></a>
                                        <div>
                                            <a :href=" menuItemDayNightLink "><b>{{menuItemDayNightName}}</b><br>
                                                {{menuItemDayNightNameUA}}</a>
                                        </div>
                                    </div>
                                    <div class="concept-link">
                                        <a :href=" menuItemToucanLink "><img alt="FN_logo" :src=" menuItemToucanLogo "></a>
                                        <div>
                                            <a :href=" menuItemToucanLink "><b>{{menuItemToucanName}}</b><br>
                                                {{menuItemToucanNameUA}}</a>
                                        </div>
                                    </div>
                                    <div class="concept-link">
                                        <a :href=" menuItemConceptsAboutLink "><img alt="Home_logo" :src=" menuItemConceptsAboutLogo " /></a>

                                        <div><a :href=" menuItemConceptsAboutLink "><b>{{menuItemConceptsAboutNameUA1}}<br />
                                                    {{menuItemConceptsAboutNameUA2}}</b></a></div>
                                    </div>
                                </div>
                            </div><a class="label-menu" :href=" menuItemPremiumLinkUA " target="_blank">{{menuItemPremiumName}}</a> 
                            <a class="label-menu log enter" data-bind="click: LoginClick" :href=" menuItemLoginNamelinkUA " target="_blank">{{menuItemLoginNameUA}}</a>
                        </div>
                    </div>

                    <!-- ВЕРХНЕЕ МЕНЮ END =========================================================== -->

                    <div class="col-md-10">
                        <div class="row menu-telephone">
                            <div class="col-md-8 col-7">
                                <p class="telephone-title">{{menuPhoneTitleUA}}</p>
                                <p class="telephone-number">{{menuPhonePhoneUA}}</p>
                            </div>
                            <a v-bind:href=" menuTouristSiteLinkUA " style="color: black">{{menuTouristSiteNameUA}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ВЕРХНЕЕ МЕНЮ TOP END ============================= -->

    <div class="row-all">
        <!-- FUN SUN HEADER MENU START ===================================-->
        <div class="container-fluid top-slider top-fs" id="fun-sun-page-header-menu" v-bind:style=" funSunPageHeaderMenuBackground ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left-row">
                <div class="col-md-12">
                    <div class="topLeft row">
                        <div class="icon-top col-md-2 col-3"><img alt="FN_logo" v-bind:src=" funSunPageHeaderMenuLogo " /></div>
                    </div>

                    <h2 style="margin-top:0!important">{{funSunPageHeaderMenuTitleUA}}</h2>

                    <div class="col-12 die-all">
                        <div class="die row">
                            <div class="circle-logo"><img v-bind:src=" funSunPageHeaderMenuItemLogo1 " /></div>

                            <div class="circle-text col-md-11 d1">{{funSunPageHeaderMenuItemNameUA1}}</div>
                        </div>

                        <div class="die row">
                            <div class="circle-logo" style="background: #2fd4ce"><img v-bind:src=" funSunPageHeaderMenuItemLogo2 " /></div>

                            <div class="circle-text col-md-11 d2">{{funSunPageHeaderMenuItemNameUA2}}</div>
                        </div>

                        <div class="die row">
                            <div class="circle-logo" style="background: #fde900"><img v-bind:src=" funSunPageHeaderMenuItemLogo3 " /></div>

                            <div class="circle-text col-md-11 d3">{{funSunPageHeaderMenuItemNameUA3}}</div>
                        </div>

                        <div class="die row">
                            <div class="circle-logo" style="background: #fdbc00"><img v-bind:src=" funSunPageHeaderMenuItemLogo4 " /></div>

                            <div class="circle-text col-md-11 d4">{{funSunPageHeaderMenuItemNameUA4}}</div>
                        </div>

                        <div class="die row">
                            <div class="circle-logo" style="background: #fd18a9"><img v-bind:src=" funSunPageHeaderMenuItemLogo5 " /></div>

                            <div class="circle-text col-md-11 d5">{{funSunPageHeaderMenuItemNameUA5}}</div>
                        </div>

                        <div class="die row">
                            <div class="circle-logo" style="background: #b954af"><img v-bind:src=" funSunPageHeaderMenuItemLogo6 " /></div>

                            <div class="circle-text col-md-11 d6">funSunPageHeaderMenuItemNameUA6</div>
                        </div>

                        <div class="die row">
                            <div class="circle-logo" style="background: #b19fd3"><img v-bind:src=" funSunPageHeaderMenuItemLogo7 " /></div>

                            <div class="circle-text col-md-11 d7">{{funSunPageHeaderMenuItemNameUA7}}</div>
                        </div>

                        <div class="die row">
                            <div class="circle-logo" style="background: #afdf00"><img v-bind:src=" funSunPageHeaderMenuItemLogo8 " /></div>

                            <div class="circle-text col-md-11 d8">{{funSunPageHeaderMenuItemNameUA8}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 top-right row">
                <div class="col-6 video">
                    <div id="player">&nbsp;</div>

                    <div class="play video-fs"><img v-bind:src=" funSunPageHeaderMenuVideoPlay " /></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- FUN SUN HEADER MENU END ===================================-->
<!-- FUN SUN PAGE MENU START ===================================-->
<div class="container" id="fun-sun-page-menu">
    <div class="row">
        <div class="buttons-slider button-slider-mobile col-md-12">
            <a class="col-md-2 col-12 button-slider button-slider-active" id="tb" onclick="smoothScrolling('#advantagesHotels')">
                <p>{{funSunPageMenuItemUA1}}</p>
            </a>

            <a class="button-slider col-md-1 col-12" onclick="smoothScrolling('#hotels')">
                <p>{{funSunPageMenuItemUA2}}</p>
            </a>

            <a class="button-slider col-md-3 col-12" v-bind:href="funSunPageMenuItemLinkAgent3" target="_blank">
                <p>{{funSunPageMenuItemUA3}}</p>
            </a>

            <a class="button-slider col-md-2 col-12" v-bind:href="funSunPageMenuItemLinkAgent4" target="_blank">
                <p>{{funSunPageMenuItemUA4}}</p>
            </a>

            <!--<a class="button-slider col-md-2 col-12" v-bind:href="funSunPageMenuItemLinkAgent5" target="_blank">
                <p>{{funSunPageMenuItemUA5}}</p>
            </a>-->

            <a class="button-slider col-md-3 col-12" v-bind:href="funSunPageMenuItemLinkAgent6UA" target="_blank">
                <p>{{funSunPageMenuItemUA6}}</p>
            </a>
        </div>
    </div>
</div>
<!-- FUN SUN PAGE MENU END ===================================-->

        <div class="container text-content">
            <script id="table-template" type="text/x-handlebars-template">
                <h2>{{{title_page_origin}}}</h2>
        <p>{{{description_page_origin}}}</p>
        <table class="contentTable">
        <tbody>
                <tr>
                    <td style="width:50%"><b>{{title}}</b></td>
                    <td><b>{{description}}</b></td>
                </tr>
        {{#each hotel}}
            {{#if country_hotel}}
                <tr>
                    <td style="text-align: center" colspan="2">{{country_hotel}}</td>
                </tr>
                {{/if}}
          <tr>
              <td><a href="{{href_agent_ua}}">{{name_hotel}}</a></td>
              <td>{{data_hotel}}</td>
          </tr>
        {{/each}}
        </tbody>
        </table>
        {{#each table_description}}
            {{#if desc_link}}
                <a href="{{desc_link}}">{{desc_info}}</a>
            {{else}}
               <!-- <div class="description_table_{{count}}">{{{desc_info}}}</div>-->
            {{/if}}
        {{/each}}
        </script>
            <div class="block-table">&nbsp;</div>
            <!-- <table class="contentTable">
    <tbody>
        <tr>
            <td style="width:50%"><strong>Отели TUI FUN&amp;SUN</strong></td>
            <td><strong>Дата открытия концепции в отелях, включая клуб Тукан</strong></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">Турция</td>
        </tr>
        <tr>
            <td><a href="/Tours/Europe/Turkey/kemer/Tekirova/TUI-FUN-SUN-Club-Saphire/">TUI FUN&amp;SUN Club Saphire 5*&nbsp; &nbsp;</a></td>
            <td>01.05.2019</td>
        </tr>
        <tr>
            <td><a href="/Tours/Europe/Turkey/Kemer/Goynuk/TUI-FUN-SUN-Miarosa-Ghazal-Resort">TUI FUN&amp;SUN Miarosa Ghazal Resort 5*</a></td>
            <td>01.05.2019</td>
        </tr>
        <tr>
            <td><a href="/Tours/Europe/Turkey/belek/Belek/TUI-FUN-SUN-River-Resort-Belek">TUI FUN&amp;SUN River Resort Belek 5*</a></td>
            <td>01.05.2019</td>
        </tr>
        <tr>
            <td><a href="/Tours/Europe/Turkey/belek/belek/TUI-FUN-SUN-Club-Belek">TUI FUN&amp;SUN Club Belek 5*</a></td>
            <td>01.05.2019</td>
        </tr>
        <tr>
            <td><a href="/Tours/Europe/Turkey/side/Kizilot/TUI-FUN-SUN-Club-Serra-Palace-(ex-Club-Calimera-S">TUI FUN&amp;SUN Club Serra Palace 5*</a></td>
            <td>01.05.2019</td>
        </tr>
        <tr>
            <td><a href="/Tours/Europe/Turkey/Kemer/Goynuk/TUI-FUN-SUN-Comfort-Beach-Resort">TUI FUN&amp;SUN Comfort Beach Resort 5*</a></td>
            <td>01.05.2019</td>
        </tr>
        <tr>
            <td><a href="/Tours/Europe/Turkey/Kemer/Finike/TUI-FUN-SUN-Club-Di-Finica">TUI FUN&amp;SUN Club Di Finica 5*</a></td>
            <td>01.05.2019</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">Кипр</td>
        </tr>
        <tr>
            <td><a href="/Tours/Europe/Cyprus/Protaras/Protaras-city/vangelis-hotel-suites">TUI FUN&amp;SUN Vangelis Hotel &amp; Suite 4*</a></td>
            <td>01.05.2019</td>
        </tr>
        <tr>
            <td><a href="/Tours/Europe/Cyprus/Ayia-Napa/Ayia-Napa/TUI-FUN-SUN-Panthea-Waterpark/">TUI FUN&amp;SUN Panthea Waterpark 4*</a></td>
            <td>01.05.2019</td>
        </tr>
    </tbody>
</table> -->
        </div>

        <div class="container">
            <!-- VIDEO ==================================================================== 
            <style type="text/css">
                .video-fun-sun {
                    width: 100%;
                    max-width: 1100px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-top: 30px;
                }

                .video-fun-sun__video-block {
                    width: 48%;
                    min-width: 320px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                }

                .youtube {
                    margin: 4px;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: relative;

                }

                .video-fun-sun__video-block__link {
                    margin-top: 10px;
                    margin-bottom: 30px;
                    width: 100%;
                    text-align: center;
                    cursor: pointer;
                }

                .playfs {
                    background: url('https://www.tui.ru/getmedia/8a51ddd2-89bc-4c18-8149-e5b14a478a3d/play-img') no-repeat center center;
                    background-size: 120px 64px;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    opacity: .8;
                    filter: alpha(opacity=80);
                    -webkit-transition: all 0.2s ease-out;
                    -moz-transition: all 0.2s ease-out;
                    -o-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;
                }

                @media screen and (max-width: 768px) {
                    .video-fun-sun__video-block {
                        width: 98%;
                        min-width: 320px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                    }
                }
            </style>
            <div class="video-fun-sun">
                <div class="video-fun-sun__video-block">
                    <div class="youtube" id="ycn_8UdMem8" style="width:100%; height: 320px">&nbsp;</div>
                    <a class="video-fun-sun__video-block__link" href="https://www.tui.ru/concepts/tui-fun-sun/concerts-and-master-classes/" target="_blank">Расписание фитнес мастер-классов в отелях FUN&amp;SUN</a>
                </div>

                <div class="video-fun-sun__video-block">
                    <div class="youtube" id="gLseASL5MQ8" style="width: 100%; height: 320px">&nbsp;</div>
                    <a class="video-fun-sun__video-block__link" href="https://www.tui.ru/concepts/tui-fun-sun/concerts-and-master-classes/" target="_blank">Расписание выступлений артистов в отелях FUN&amp;SUN</a>
                </div>
            </div>
            <script>
                function rvideo(f) {
                    /in/.test(document.readyState) ? setTimeout('rvideo(' + f + ')', 9) : f()
                }
                rvideo(function() {
                    if (!document.getElementsByClassName) {
                        // IE8 support
                        var getElementsByClassName = function(node, classname) {
                            var a = [];
                            var re = new RegExp('(^| )' + classname + '( |$)');
                            var els = node.getElementsByTagName("*");
                            for (var i = 0, j = els.length; i < j; i++)
                                if (re.test(els[i].className)) a.push(els[i]);
                            return a;
                        }
                        var videos = getElementsByClassName(document.body, "youtube");
                    } else {
                        var videos = document.getElementsByClassName("youtube");
                    }

                    var nb_videos = videos.length;
                    for (var i = 0; i < nb_videos; i++) {
                        // Based on the YouTube ID, we can easily find the thumbnail image
                        videos[i].style.backgroundImage = 'url(http://i.ytimg.com/vi/' + videos[i].id + '/sddefault.jpg)';

                        // Overlay the Play icon to make it look like a video player
                        var play = document.createElement("div");
                        play.setAttribute("class", "playfs");
                        videos[i].appendChild(play);

                        videos[i].onclick = function() {
                            // Create an iFrame with autoplay set to true
                            var iframe = document.createElement("iframe");
                            var iframe_url = "https://www.youtube.com/embed/" + this.id + "?autoplay=1&autohide=1";
                            if (this.getAttribute("data-params")) iframe_url += '&' + this.getAttribute("data-params");
                            iframe.setAttribute("src", iframe_url);
                            iframe.setAttribute("frameborder", '0');

                            // The height and width of the iFrame should be the same as parent
                            iframe.style.width = this.style.width;
                            iframe.style.height = this.style.height;

                            // Replace the YouTube thumbnail with YouTube Player
                            this.parentNode.replaceChild(iframe, this);
                        }
                    }
                });
            </script> VIDEO ==================================================================== -->
        </div>

       <!-- FUN SUN ADVENTAGIES HOTELS BLOCK START ======================= -->
        <div class="container" id="advantagesHotels">
            <h2 style="text-transform: uppercase;">{{funSunPageMenuAdvantagiesTitleUA}}</h2>
        </div>

        <div class="container hotels-club-country sl">
            <div class="buttons-navigations" id="fun-sun-page-hotels-adventagies-hotels-menu">
                <a class="button-navigatin active-link" data-block=".slider_1" href="#s1b1">{{funSunPageMenuAdventagiesHotelsMenuItemUA1}}</a> <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ В номере как дома -->
                <a class="button-navigatin" data-block=".slider_1" href="#s1b2">{{funSunPageMenuAdventagiesHotelsMenuItemUA2}}</a> <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Пройдитесь по территории -->
                <a class="button-navigatin" data-block=".slider_1" href="#s1b3">{{funSunPageMenuAdventagiesHotelsMenuItemUA3}}</a> <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Для детей -->
                <a class="button-navigatin" data-block=".slider_1" href="#s1b4">{{funSunPageMenuAdventagiesHotelsMenuItemUA4}}</a> <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Попробуйте блюда и напитки -->
                <a class="button-navigatin" data-block=".slider_1" href="#s1b5">{{funSunPageMenuAdventagiesHotelsMenuItemUA5}}</a> <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Займитесь спортом -->
                <a class="button-navigatin" data-block=".slider_1" href="#s1b6">{{funSunPageMenuAdventagiesHotelsMenuItemUA6}}</a> <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Развлекитесь -->
            </div>

            <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ В номере как дома START -->

            <div class="slider slider_1" id="s1b1">
                <div class="row-slider" data-col="3" id="fun-sun-page-hotels-adventagies1">
                    <div class="col-md-4 myslide col-slider-3" v-for="funSunPageHotelsAdventagie1 in funSunPageHotelsAdventagies1">
                        <div class="sliders-hotels">
                            <div class="imgSlider" v-bind:style=" funSunPageHotelsAdventagie1.background ">&nbsp;</div>

                            <div class="slider-content">
                                <h4>{{funSunPageHotelsAdventagie1.titleUA}}</h4>

                                <p class="gey_p">{{funSunPageHotelsAdventagie1.textUA}}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ В номере как дома END -->

            <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Пройдитесь по территории START -->

            <div class="slider slider_1 n" id="s1b2">
                <div class="row-slider" data-col="3" id="fun-sun-page-hotels-adventagies2">
                    <div class="col-md-4 myslide col-slider-3" v-for=" funSunPageHotelsAdventagie2 in funSunPageHotelsAdventagies2 ">
                        <div class="sliders-hotels">
                            <div class="imgSlider" v-bind:style=" funSunPageHotelsAdventagie2.background ">&nbsp;</div>

                            <div class="slider-content">
                                <h4>{{funSunPageHotelsAdventagie2.titleUA}}</h4>

                                <p class="gey_p">{{funSunPageHotelsAdventagie2.textUA}}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Пройдитесь по территории END -->

            <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Для детей START -->

            <div class="slider slider_1 n" id="s1b3">
                <div class="row-slider" data-col="3" id="fun-sun-page-hotels-adventagies3">
                    <div class="col-md-4 myslide col-slider-3" v-for=" funSunPageHotelsAdventagie3 in funSunPageHotelsAdventagies3 ">
                        <div class="sliders-hotels">
                            <div class="imgSlider" v-bind:style=" funSunPageHotelsAdventagie3.background ">&nbsp;</div>

                            <div class="slider-content">
                                <h4>{{funSunPageHotelsAdventagie3.titleUA}}</h4>

                                <p class="gey_p">{{funSunPageHotelsAdventagie3.textUA}}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Для детей END -->

            <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Попробуйте блюда и напитки START -->
            <div class="slider slider_1 n" id="s1b4">
                <div class="row-slider" data-col="3" id="fun-sun-page-hotels-adventagies4">
                    <div class="col-md-4 myslide col-slider-3" v-for=" funSunPageHotelsAdventagie4 in funSunPageHotelsAdventagies4 ">
                        <div class="sliders-hotels">
                            <div class="imgSlider" v-bind:style=" funSunPageHotelsAdventagie4.background ">&nbsp;</div>

                            <div class="slider-content">
                                <h4>{{funSunPageHotelsAdventagie4.titleUA}}</h4>

                                <p class="gey_p">{{funSunPageHotelsAdventagie4.textUA}}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Попробуйте блюда и напитки END -->

            <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Займитесь спортом START -->

            <div class="slider slider_1 n" id="s1b5">
                <div class="row-slider" data-col="3" id="fun-sun-page-hotels-adventagies5">
                    <div class="col-md-4 myslide col-slider-3" v-for=" funSunPageHotelsAdventagie5 in funSunPageHotelsAdventagies5 ">
                        <div class="sliders-hotels">
                            <div class="imgSlider" v-bind:style=" funSunPageHotelsAdventagie5.background ">&nbsp;</div>

                            <div class="slider-content">
                                <h4>{{funSunPageHotelsAdventagie5.titleUA}}</h4>

                                <p class="gey_p">{{funSunPageHotelsAdventagie5.textUA}}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Займитесь спортом END -->

            <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Развлекитесь START -->

            <div class="slider slider_1 n" id="s1b6">
                <div class="row-slider" data-col="3" id="fun-sun-page-hotels-adventagies6">
                    <div class="col-md-4 myslide col-slider-3" v-for=" funSunPageHotelsAdventagie6 in funSunPageHotelsAdventagies6 ">
                        <div class="sliders-hotels">
                            <div class="imgSlider" v-bind:style=" funSunPageHotelsAdventagie6.background ">&nbsp;</div>

                            <div class="slider-content">
                                <h4>{{funSunPageHotelsAdventagie6.titleUA}}</h4>

                                <p class="gey_p">{{funSunPageHotelsAdventagie6.textUA}}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Развлекитесь END -->
        </div>



        <!-- FUN SUN ADVENTAGIES HOTELS BLOCK END ======================= -->

        <!-- ОТЕЛИ СТАРТ  ================================================================= -->

<div class="container-fluid block_3" id="hotels-fun-sun">
    <div class="container" >
        <h2 style="text-transform: uppercase;">{{ titleUA }}</h2>
    </div>
    <!-- ОТЕЛИ СТАРТ слайдер ========================================================================================= -->

    <div class="row">
        <div class="container sl" id="hotels">
            <div class="buttons-navigations" >
                <a class="button-navigatin active-link" data-block=".slider_2" href="#s2b1">{{country1UA}}</a> <!-- Отели с концепцией Турция -->
                <a class="button-navigatin" data-block=".slider_2" href="#s2b2">{{country2UA}}</a> <!-- Отели с концепцией Кипр -->
            </div>
            <!-- Отели с концепцией Турция -->

            <div class="slider slider_2" id="s2b1">
                <div class="row-slider" data-col="3">
                    <!-- ОДИН ОТЕЛЬ СТАРТ ===================================-->
                    
                    <div class="col-md-4 myslide col-slider-3" v-for=" country1Hotel in country1Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country1Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country1Hotel.countryNameUA }}</h4>

                                    <p class="gey_p">{{ country1Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelUAItem in country1Hotel.aboutHotelUAItems"> {{ aboutHotelUAItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country1Hotel.hotelLinkAgent ">{{ country1Hotel.buttonUA }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <!-- ОДИН ОТЕЛЬ END ===================================-->

                    
                </div>
            </div>

            <!-- Отели с концепцией Кипр -->

            <div class="slider slider_2 n" id="s2b2">
                <div class="row-slider" data-col="3">
                    <!-- ОДИН ОТЕЛЬ СТАРТ ===================================-->
                    
                    <div class="col-md-4 myslide col-slider-3" v-for=" country2Hotel in country2Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country2Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country2Hotel.countryNameUA }}</h4>

                                    <p class="gey_p">{{ country2Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelUAItem in country2Hotel.aboutHotelUAItems"> {{ aboutHotelUAItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country2Hotel.hotelLinkAgent ">{{ country2Hotel.buttonUA }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <!-- ОДИН ОТЕЛЬ END ===================================-->

                    
                </div>
            </div>
        </div>
    </div>
    <!-- ОТЕЛИ END слайдер  ==================================================== -->
</div>
<!-- ОТЕЛИ END ===================================================================== -->


        <!-- РАЗВЛЕКАТЕЛЬНАЯ ПРОГРАММА START ================================= -->
        <div class="container" id="entProgram">
            <h2 style="text-transform: uppercase;">{{funSunPageEntProgramTitleUA}}</h2>
        </div>

        <div class="container hotels-club-country sl">
            <div class="buttons-navigations" id="entProgramMenu">
                <a class="button-navigatin active-link" data-block=".slider_3" href="#s3b1">{{funSunPageEntProgramMenuitem1UA}}</a> <!-- Развлекательная программа Для детей -->
                <a class="button-navigatin" data-block=".slider_3" href="#s3b2">{{funSunPageEntProgramMenuitem2UA}}</a> <!-- Развлекательная программа Для подростков -->
                <a class="button-navigatin" data-block=".slider_3" href="#s3b3">{{funSunPageEntProgramMenuitem3UA}}</a> <!-- Развлекательная программа Для всей семьи -->
            </div>
            <!-- Развлекательная программа Для детей -->

            <div class="slider slider_3" id="s3b1">
                <div class="row-slider" data-col="4">
                    <div class="col-md-4 myslide col-slider-4" v-for="funSunPageEntProgram1 in funSunPageEntPrograms1">
                        <div class="sliders-hotels hap-programs" v-bind:style="funSunPageEntProgram1.background">
                            <div class="info-img">
                                <h4> {{funSunPageEntProgram1.titleUA}} </h4>

                                <!--<div class="time-start">
                                    <p class="col-md-8">Время начала</p>

                                    <p class="col-md-4">10:00</p>
                                </div>-->
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- Развлекательная программа Для подростков -->

            <div class="slider slider_3" id="s3b2" style="display: none">
                <div class="row-slider" data-col="4">
                    <div class="col-md-4 myslide col-slider-4" v-for="funSunPageEntProgram2 in funSunPageEntPrograms2">
                        <div class="sliders-hotels hap-programs" v-bind:style="funSunPageEntProgram2.background">
                            <div class="info-img">
                                <h4> {{funSunPageEntProgram2.titleUA}} </h4>

                                <!--<div class="time-start">
                                    <p class="col-md-8">Время начала</p>

                                    <p class="col-md-4">10:00</p>
                                </div>-->
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- Развлекательная программа Для всей семьи -->

            <div class="slider slider_3" id="s3b3" style="display: none">
                <div class="row-slider" data-col="4">
                    <div class="col-md-4 myslide col-slider-4" v-for="funSunPageEntProgram3 in funSunPageEntPrograms3">
                        <div class="sliders-hotels hap-programs" v-bind:style="funSunPageEntProgram3.background">
                            <div class="info-img">
                                <h4> {{funSunPageEntProgram3.titleUA}} </h4>

                                <!--<div class="time-start">
                                    <p class="col-md-8">Время начала</p>

                                    <p class="col-md-4">10:00</p>
                                </div>-->
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <!-- РАЗВЛЕКАТЕЛЬНАЯ ПРОГРАММА END ================================= -->


        <!--ПРОГРАММА АНИМАЦИИ START ================================= -->

        <div class="container" id="funSunAnimationProgDownload">
            <div style="background:#e1f4fb;padding: 10px 7px;">
                <div style="font-size:16px;text-align:center;">{{funSunPageAnimationProgTitle1UA}}</div>

                <div style="margin-top:10px;text-align:center;">
                    <span v-bind:style=" funSunPageAnimationProgIcon ">
                        <span style="opacity:0">.</span>
                    </span>
                    <a v-bind:href=" funSunPageAnimationProgTitle2LinkRU " style="color:#3b9ccf;text-decoration:underline !important;font-size:14px" target="_blank">{{funSunPageAnimationProgTitle2UA}}</a>
                </div>
                <!-- ***************************************** -->

                <div style="margin-top:10px;text-align:center;">
                    <span v-bind:style=" funSunPageAnimationProgIcon ">
                        <span style="opacity:0">.</span>
                    </span>
                    <a v-bind:href=" funSunPageAnimationProgTitle3LinkRU " style="color:#3b9ccf;text-decoration:underline !important;font-size:14px" target="_blank">{{funSunPageAnimationProgTitle3UA}}</a>
                </div>
                <!-- ***************************************** -->

                <div style="margin-top:10px;text-align:center;">
                    <span v-bind:style=" funSunPageAnimationProgIcon ">
                        <span style="opacity:0">.</span>
                    </span>
                    <a v-bind:href=" funSunPageAnimationProgTitle4LinkRU " style="color:#3b9ccf;text-decoration:underline !important;font-size:14px" target="_blank">{{funSunPageAnimationProgTitle4UA}}</a>
                </div>
                <!-- ***************************************** -->

                <div style="font-size:16px;text-align:center;margin-top:7px;">{{funSunPageAnimationProgTitle5UA}}</div>

                <div style="margin-top:10px;text-align:center;">
                    <span v-bind:style=" funSunPageAnimationProgIcon ">
                        <span style="opacity:0">.</span>
                    </span>
                    <a v-bind:href=" funSunPageAnimationProgTitle6LinkRU " style="color:#3b9ccf;text-decoration:underline !important;font-size:14px" target="_blank">{{funSunPageAnimationProgTitle6UA}}</a>
                </div>
                <!-- ***************************************** -->

                <div style="margin-top:10px;text-align:center;">
                    <span v-bind:style=" funSunPageAnimationProgIcon ">
                        <span style="opacity:0">.</span>
                    </span>
                    <a v-bind:href=" funSunPageAnimationProgTitle7LinkRU " style="color:#3b9ccf;text-decoration:underline !important;font-size:14px" target="_blank">{{funSunPageAnimationProgTitle7UA}}</a>
                </div>
                <!-- ***************************************** -->

                <div style="margin-top:10px;text-align:center;">
                    <span v-bind:style=" funSunPageAnimationProgIcon ">
                        <span style="opacity:0">.</span>
                    </span>
                    <a v-bind:href=" funSunPageAnimationProgTitle8LinkRU " style="color:#3b9ccf;text-decoration:underline !important;font-size:14px" target="_blank">{{funSunPageAnimationProgTitle8UA}}</a>
                </div>
            </div>
        </div>
        <!-- ПРОГРАММА АНИМАЦИИ END ================================= -->

        <!-- FOOTER START ================================= -->
        <div class="container-fluid footer-informations" style="margin-top: 3em">
            <div class="row" id="funSunFooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>{{funSunPageFooterTitle1UA}}</h3>
                            <a v-bind:href=" funSunPageFooterSiteLink1 " target="_blank">{{funSunPageFooterSite1UA}}</a><br />
                            <a v-bind:href=" funSunPageFooterSiteLink2UA " target="_blank">{{funSunPageFooterSite2UA}}</a><br />
                            <a v-bind:href=" funSunPageFooterSiteLink3UA " target="_blank">{{funSunPageFooterSite3UA}}</a>
                        </div>

                        <div class="col-md-3">
                            <h3>{{funSunPageFooterTitle2UA}}</h3>
                            <a v-bind:href=" funSunPageFooterPhoneLinkUA ">{{funSunPageFooterPhoneTitleUA}}</a><br />
                            <a v-bind:href=" funSunPageFooterMailLinkUA ">{{funSunPageFooterMailTitleUA}}</a>
                        </div>

                        <div class="col-md-3">
                            <h3>{{funSunPageFooterTitle3UA}}</h3>

                            <div class="row icons-footer col-10 col-md-12" style="justify-content: flex-start;">
                                <a v-bind:href=" funSunPageFooterInstagramLink " target="_blank" style="margin: 5px;">
                                    <img v-bind:src=" funSunPageFooterInstagramImgLink " />
                                </a>
                                <a v-bind:href=" funSunPageFooterFacebookLink " target="_blank" style="margin: 5px;">
                                    <img v-bind:src=" funSunPageFooterFacebookImgLink " />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER END ================================= -->

    </div>
</div>
<!-- SCRIPT загрузки VUE  =================================================== -->
<script>
    const vueLinks = ['https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js',
        'https://www.tui.ru/getmedia/8d1465da-5919-44bb-8550-8bc3ac3e0b7d/VUE-diff-product-fun-sun-page',
        'https://www.tui.ru/getmedia/f6a084a1-de7e-43c7-be13-0d9b8756c9e6/VUE-diff-agent-header-footer',
        'https://www.tui.ru/getmedia/b4abbfc6-300f-4cca-9f4d-b0f51b88a0d8/VUE-FS-fun-sun-hotels-ru-by-ua',
        'https://www.tui.ru/getmedia/6e64783b-d6d6-4b51-ab25-d8d1ec72e234/all'
    ];

    function add_files(arr, type) {

        count = 0;

        function new_file(link) {
            var script = document.createElement(type);
            script.src = link;
            script.async = false;
            document.head.appendChild(script);
            if (count < arr.length - 1) {
                script.onload = function() {
                    new_file(arr[count]);
                }
                script.onerror = function() {
                    throw new Error(arr[count - 1] + ' loading error');
                }
                count++;
            }
        }

        function error(text) {
            throw new Error('the function takes two required arguments');
        }

        (arr === undefined || type === undefined) ? error('the function takes two required arguments'):
            (arr === undefined) ? error('no link array') :
            (type === undefined) ? error('no file type') : '';
        new_file(arr[count]);
    }

    add_files(vueLinks, 'script');
</script>

<script type="text/javascript">
    function smoothScrolling(element) {
        document.querySelector(element).scrollIntoView({
            block: "start",
            behavior: "smooth"
        });
    }
</script>