<!DOCTYPE html>
<html lang="ru">
<!-- 
Привет, все файлы по этой странице хранятся на TUI.ru / новый сайт / Концепции / TUI-SMART / в папках css js image и пр

VUE автоматом подтягивает нужный перевод, если хотите изменить или добавить информацию обновляйте ее в файле VUE smart.js 


-->


<!-- HEAD START ========================================================================= -->

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="" >
    <meta name="description" content="">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <title>TUI SMART</title>
    
<!-- CSS STYLE ======================================================================== -->
   
    <link rel="stylesheet" href="https://www.tui.ru/getmedia/03f1481f-8cca-4396-b4e9-9b650e5487f8/reset-min">
    <link rel="stylesheet" href="https://www.tui.ru/getmedia/ec719636-ff45-4328-b45d-eb0f6d4d0314/smart-hotels">
    <link rel="stylesheet" media="all and (min-width: 1201px)" href="https://www.tui.ru/getmedia/414ac703-1b5c-4067-9966-038780d2364f/smart-desktop">
    <link rel="stylesheet" media="all and (min-width: 901px) and (max-width: 1200px)" href="https://www.tui.ru/getmedia/493fe15d-0c98-408e-abe6-b938a271eab1/smart-laptop">
    <link rel="stylesheet" media="all and (min-width: 601px) and (max-width: 900px)" href="https://www.tui.ru/getmedia/79d32b81-b2d1-45d9-87e1-8ac3ae9b91ff/smart-tablet"> 
    <link rel="stylesheet" media="all and (max-width: 600px)" href="https://www.tui.ru/getmedia/006d2476-5ac7-4e98-940c-101329e078ba/smart-mobile">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> <!-- ANIMATION -->
    <link rel="stylesheet"  href="https://www.tui.ru/getmedia/82f63621-090c-4d58-9b86-369a680a5911/header-footer-all-css-concepts">
<!-- CSS STYLE ======================================================= -->
    
<!-- SCRIPT загрузки VUE  =================================================== -->
        <script type="text/javascript">
            const vueLinks = [
                'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js',
                'https://www.tui.ru/getmedia/18827348-c151-450f-8677-9e3b61cc8112/VUE-smart',
                'https://www.tui.ru/getmedia/f6a084a1-de7e-43c7-be13-0d9b8756c9e6/VUE-diff-agent-header-footer',
                'https://www.tui.ru/getmedia/726871ad-483c-469c-bbf0-7970400cb216/VUE-smart-hotels-ru-by-ua',
                

            ];

            function add_files(arr, type) {

                count = 0;

                function new_file(link) {
                    var script = document.createElement(type);
                    script.src = link;
                    script.async = false;
                    document.head.appendChild(script);
                    if (count < arr.length - 1) {
                        script.onload = function() {
                            new_file(arr[count]);
                        }
                        script.onerror = function() {
                            throw new Error(arr[count - 1] + ' loading error');
                        }
                        count++;
                    }
                }

                function error(text) {
                    throw new Error('the function takes two required arguments');
                }

                (arr === undefined || type === undefined) ? error('the function takes two required arguments'):
                    (arr === undefined) ? error('no link array') :
                    (type === undefined) ? error('no file type') : '';
                new_file(arr[count]);
            }

            add_files(vueLinks, 'script');
        </script>    
    
    <!-- отключаем хэдере футер сайдблок на агенте ======================= -->
    <style>
        .mainHeader {
            display: none;
        }
        .mainFooter {
            display: none;
        }
        .informationBlock {
            display: none;
        }
        .contentFooter {
            display: none;
        }
        .contentWrapper {
            width: 100%!important;
            background: white!important;
        }
        .pageWrapper {
            width: 100%!important;
            background: white!important;
        }
    </style>
    <!-- отключаем хэдере футер сайдблок на агенте ======================= -->
</head>

<!-- HEAD END ========================================================================= -->



<body>
  
  <!-- ВЕРХНЕЕ МЕНЮ TOP START =========================================================== -->

<div class="menu-top" id="home-page-diff-menu-top" data-aos="slide-right" style="z-index: 10;">
    <div class="container">
        <div class="row">
            <a class="col-md-2 col-6 logo-img" href="/"><img :src=" logoLink "></a>
            <div class="col-5 but-menu-mobile">
                &nbsp;
            </div>

            <!-- ВЕРХНЕЕ МЕНЮ START =========================================================== -->

            <div class="col-md-10 col-10 mobile_agent">
                <div id="exit_menu">
                    X
                </div>
                <div class="row menu-label">
                    <a class="label-menu" :href=" menuItemFranchaizingLink " target="_blank">{{menuItemFranchaizingNameUA}}</a>
                    <a class="label-menu" :href=" menuItemPartnershipLink " target="_blank">{{menuItemPartnershipNameUA}}</a>
                    <a class="label-menu" :href=" menuItemAboutLink " target="_blank">{{menuItemAboutNameUA}}</a>
                    <a class="label-menu" :href=" menuItemShopLink " target="_blank">{{menuItemShopNameUA}}</a>
                    <div class="label-menu" style="position: relative;cursor: pointer">
                        <a :href=" menuItemConceptsLink " style="color:#092a5e">{{menuItemConceptsNameUA}}</a>
                        <div class="label-menu-2">
                           <div class="concept-link">
                                <a :href=" menuItemSmartLink "><img alt="Smart_logo" :src=" menuItemSmartLogo "></a>
                                <div>
                                    <a :href=" menuItemSmartLink "><b>{{menuItemSmartName}}</b><br>
                                        {{menuItemSmartNameUA}}</a>
                                </div>
                            </div>
                            <div class="concept-link">
                                <a :href=" menuItemFunSunLink "><img alt="FN_logo" :src=" menuItemFunSunLogo "></a>
                                <div>
                                    <a :href=" menuItemFunSunLink "><b>{{menuItemFunSunName}}</b><br>
                                        {{menuItemFunSunNameUA}}</a>
                                </div>
                            </div>
                            <div class="concept-link">
                                <a :href=" menuItemDayNightLink "><img alt="FN_logo" :src=" menuItemDayNightLogo "></a>
                                <div>
                                    <a :href=" menuItemDayNightLink "><b>{{menuItemDayNightName}}</b><br>
                                        {{menuItemDayNightNameUA}}</a>
                                </div>
                            </div>
                            <div class="concept-link">
                                <a :href=" menuItemToucanLink "><img alt="FN_logo" :src=" menuItemToucanLogo "></a>
                                <div>
                                    <a :href=" menuItemToucanLink "><b>{{menuItemToucanName}}</b><br>
                                        {{menuItemToucanNameUA}}</a>
                                </div>
                            </div>
                            <div class="concept-link">
                                <a :href=" menuItemConceptsAboutLink "><img alt="Home_logo" :src=" menuItemConceptsAboutLogo " /></a>

                                <div><a :href=" menuItemConceptsAboutLink "><b>{{menuItemConceptsAboutNameUA1}}<br />
                                            {{menuItemConceptsAboutNameUA2}}</b></a></div>
                            </div>
                        </div>
                    </div><a class="label-menu" :href=" menuItemPremiumLink " target="_blank">{{menuItemPremiumName}}</a>
                    <a class="label-menu log enter" data-bind="click: LoginClick" :href=" menuItemLoginNamelinkUA " target="_blank">{{menuItemLoginNameUA}}</a>
                </div>
            </div>

            <!-- ВЕРХНЕЕ МЕНЮ END =========================================================== -->

            <div class="col-md-10">
                <div class="row menu-telephone">
                    <div class="col-md-8 col-7">
                        <p class="telephone-title">{{menuPhoneTitleUA}}</p>
                        <p class="telephone-number">{{menuPhonePhoneUA}}</p>
                    </div>
                    <a :href=" menuTouristSiteLinkUA " style="color: black">{{menuTouristSiteNameUA}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ВЕРХНЕЕ МЕНЮ TOP END =========================================================== -->
   
<!-- MAIN START ======================================================================= -->
   
    <div class="smart" id="smart-diff" >
       
       <!-- BANNER START ================================= -->
       
       
        <div class="smart__banner "  data-aos="slide-down" >
            <img v-bind:src=" bannerUA " alt="SMART Banner" class="smart__img ">    
        </div>
        
        <!-- BANNER END ================================= -->
        
        <!-- ABOUT START ================================= -->
        
        <div class="smart__text" >
            <h2 class="smart__title" data-aos="slide-up" > {{titleUA}} </h2>
            <p class="smart__about" data-aos="slide-up" > {{aboutUA}} </p>
        </div>
        
        <!-- ABOUT END ================================= -->
        
        <!-- ФИШКИ START =============================== -->
        
        <div class="fishka" data-aos="slide-left" >
            <div class="fishka__item" v-for=" fishkiPoint in fishkiPoints" v-bind:style=" fishkiPoint.cssPart " >
                <div class="fishka__text" >
                    <h3 class="fishka__title"> {{ fishkiPoint.titleUA }} </h3>
                </div>
                <img v-bind:src=" fishkiPoint.image " alt="fishka image" class="fishka__img">
                
            </div>
        </div>
        
        <!-- ФИШКИ END =============================== -->
        
        <!-- WHY START =============================== -->
        
        <div class="why" >
            <h2 class="smart__title" data-aos="fade-in"> {{ whyTitleUA }} </h2>
            <div class="why__items">
                <div class="why__item" v-for=" whyItem in whyItems " data-aos="slide-up">
                    <img v-bind:src=" whyItem.image " alt="image" class="why__img">
                    <div class="why__text">
                        <h3 class="why__title"> {{ whyItem.titleUA }} </h3>
                        <ul class="why__spisok" v-for=" item in whyItem.items">
                            <li class="why__spisok-item" > {{ item.itemUA }} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
        
        <!-- WHY ENS ================================ -->
        
        <!-- OPEN DATES START =============================== -->
        
        <div class="country" data-aos="slide-left">
            <h2 class="smart__title"> {{ dateTitleUA }} </h2>
            <div class="country__items">
                <div class="country__item" v-for=" openDate in openDates ">
                    <h3 class="country__name"> {{ openDate.countryNameUA }} </h3>
                    <div class="country__block" v-for=" hotel in openDate.hotels ">
                        <a v-bind:href=" hotel.linkClient " class="country__hotel" target="_blank"> {{  hotel.name }} </a>
                        <span class="country__date"> {{  hotel.date }} </span>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- OPEN DATES END =============================== -->
        
    </div>
    
    
    <!-- SMART ОТЕЛИ СТАРТ ======================================= -->
    
    <div class="hotels " id="smart-hotels" >
        <h2 class="smart__title" data-aos="fade-in"> {{ hotelsTitleUA }} </h2>
        
        <div class="slider__buttons" data-aos="fade-in">
            <a href="#" class="slider__button" v-for=" countryName in countryNames " v-bind:id=" countryName.id " v-bind:class="  countryName.class  ">{{countryName.nameUA}}</a>
        </div>
        <div class="slider " v-for=" country in countrys" v-bind:class="  country.class  " v-bind:id=" country.id " data-aos="slide-right">
           
           <!-- HOTEL START ========================-->
            <div class="slide" v-for=" countryHotel in country.countryHotels" >
                <img v-bind:src="  countryHotel.background " alt="" class="slide__image">
                <h3 class="slide__title">{{countryHotel.countryNameUA}}</h3>
                <h4 class="slide__name">{{countryHotel.hotelName}}</h4>
                <ul class="slide__list">
                    <li class="slide__list-item" v-for=" aboutHotelUAItem in countryHotel.aboutHotelUAItems ">{{ aboutHotelUAItem.item }}</li>
                </ul>
                <a v-bind:href=" countryHotel.hotelLinkAgent " class="slide__link" target="_blank">{{countryHotel.buttonUA}}</a>
            </div>
            
            <!-- HOTEL END ========================-->
            
        </div>
    </div>
    
    <!-- SMART ОТЕЛИ END ======================================= -->
    
    
    
<!-- MAIN END ========================================================================= -->
    
<!-- SCRIPTS START ==================================================================== --> 
<!-- ANIMATION -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1200,
    })
</script>
<!-- ANIMATION -->
<!-- SCRIPTS END ====================================================================== -->   

<!-- METRIKA START ====================================================================== -->   

<!-- METRIKA END ====================================================================== --> 


</body>
</html>