<!DOCTYPE html>
<html lang="ru">

<!-- HEAD START ========================================================================= -->

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>TUI Fun and Sun</title>

    <!-- CSS STYLE ======================================================================== -->


    <link rel="stylesheet" href="https://www.tui.ru/getmedia/28ac71ad-53fa-4e23-bc03-6658895fd4c9/hotels-concepts">
    <link rel="stylesheet" media="all and (min-width: 1201px)" href="https://www.tui.ru/getmedia/d09b6270-5a8a-4d54-86c3-8046428a2edd/desktop">
    <link rel="stylesheet" media="all and (min-width: 901px) and (max-width: 1200px)" href="https://www.tui.ru/getmedia/b70c243b-bb99-49c1-b9d3-3c9a304b972d/laptop">
    <link rel="stylesheet" media="all and (min-width: 601px) and (max-width: 900px)" href="https://www.tui.ru/getmedia/95a46c39-1670-4da2-ac1f-58f91cefd9c3/tablet">
    <link rel="stylesheet" media="all and (max-width: 600px)" href="https://www.tui.ru/getmedia/4af90570-f145-4f85-ae52-ca4f553aa886/mobile">

    <!-- CSS STYLE ======================================================= -->
    <!-- ШРИФТ =============================================== -->
    <style>
        @font-face {
            font-family: 'TUITypeCyrillic';
            src: url('https://www.tui.ru/getmedia/29d9e100-5e6c-4f89-8348-f18a82ddf7b8/TUITypeCyrillic-Regular_hinted_fix_rouble');
            src:
                url('https://www.tui.ru/getmedia/910bc6e7-90d1-47b2-84ff-81220c6888ee/TUITypeCyrillic-Regular_hinted_fix_rouble') format('woff2'),
                url('https://www.tui.ru/getmedia/a9a13042-961a-4059-9ce6-3541c02d237e/TUITypeCyrillic-Regular_hinted_fix_rouble') format('woff'),
                url('https://www.tui.ru/getmedia/29d9e100-5e6c-4f89-8348-f18a82ddf7b8/TUITypeCyrillic-Regular_hinted_fix_rouble') format('truetype');
            font-weight: 300;
            font-style: normal;
        }
    </style>
    <!-- ШРИФТ =============================================== -->
    <!-- ШРИФТ =============================================== -->
    <style>
        @font-face {
            font-family: 'TUITypeCyrillicLight';
            src: url('https://www.tui.ru/getmedia/6becd8f2-8778-421f-900d-c4f254bee767/TUITypeCyrillicLight-Regular_hinted_fix_rouble');
            src:
                url('https://www.tui.ru/getmedia/49e5cc76-4045-468f-86f0-a12ead052579/TUITypeCyrillicLight-Regular_hinted_fix_rouble') format('woff2'),
                url('https://www.tui.ru/getmedia/20dc32fa-f639-495c-85f1-ce59988966ba/TUITypeCyrillicLight-Regular_hinted_fix_rouble') format('woff'),
                url('https://www.tui.ru/getmedia/6becd8f2-8778-421f-900d-c4f254bee767/TUITypeCyrillicLight-Regular_hinted_fix_rouble') format('truetype');
            font-weight: 300;
            font-style: normal;
        }
    </style>
    <!-- ШРИФТ =============================================== -->
    <style>
        .ActionPage {
            background: transparent!important; 
            
    }
        .AppContainer {
       
        background-color: transparent!important; 
       
    }
        .static {
            width: 100%!important;
        }
        
    *, :after, :before {
        background-repeat: no-repeat; 
        box-sizing: content-box; 
    }
    </style>
    <!-- SCRIPT загрузки VUE  =================================================== -->
<script>
    const vueLinks = [
        'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js',
        'https://www.tui.ru/getmedia/c588d8ed-32ae-4cfc-af70-3782798359b0/VUE-hotels-Fun-Sun-ru-ua-by-NEW',
        'https://www.tui.ru/getmedia/9932cbb7-6b5a-4389-b147-0e5269d6320e/VUE-fun-sun',
        'https://www.tui.ru/getmedia/a3807bcb-a5c6-4b1a-9aa5-3ccfa3106e57/fun-sun-hotels-script',
        
        
    ];

    function add_files(arr, type) {

        count = 0;

        function new_file(link) {
            var script = document.createElement(type);
            script.src = link;
            script.async = false;
            document.head.appendChild(script);
            if (count < arr.length - 1) {
                script.onload = function() {
                    new_file(arr[count]);
                }
                script.onerror = function() {
                    throw new Error(arr[count - 1] + ' loading error');
                }
                count++;
            }
        }

        function error(text) {
            throw new Error('the function takes two required arguments');
        }

        (arr === undefined || type === undefined) ? error('the function takes two required arguments'):
            (arr === undefined) ? error('no link array') :
            (type === undefined) ? error('no file type') : '';
        new_file(arr[count]);
    }

    add_files(vueLinks, 'script');
</script>

</head>

<!-- HEAD END ========================================================================= -->

<body>

<!-- MAIN START ============================================================= -->



<div class="concepts__main" id="fun-sun">
   
   <!-- BANNER ===================================== -->
    <div class="banner__concepts" v-bind:class="bannerConceptsBckg">
        <div class="banner__titles">
            <img v-bind:src=" logo " v-bind:alt=" logoAlt " class="banner__logo">
            <h2 class="banner__title"></h2>
        </div>
        <ul class="banner__text">
            <li class="banner__text-item" v-for=' bannerItem in bannerItems '>{{ bannerItem.itemBY }}</li>
        </ul>
    </div>  
    <!-- BANNER ===================================== -->
    
    <!-- ABOUT ===================================== -->
    <div class="about__concepts">
        <h2 class="about__title">{{aboutTitleBY}}</h2>
        <p class="about__text">{{aboutTextBY}}</p>
    </div>    
    <!-- ABOUT ===================================== -->
    
    <!-- SERVICES ===================================== -->
    <div class="services__concepts">
        <h2 class="services__title">{{servicesTitleBY}}</h2>
        <div class="services__blocks">
            <div class="services__block" v-for=" servicesItem in servicesItems" v-bind:style=" servicesItem.cssBckg ">
                <img v-bind:src=" servicesItem.image " v-bind:alt=" servicesItem.imageAlt " class="services__img">
                <div class="services__text">
                    <h3 class="services__name">{{ servicesItem.titleBY }}</h3>
                    <ul class="services__items">
                        <li class="services__item" v-for=" item in servicesItem.items ">
                            {{ item.itemBY }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- SERVICES ===================================== -->
    
    <!-- ENTERTAIMENT ===================================== -->
    <div class="entertaiments__concepts">
        <h2 class="entertaiments__title">{{ entTitleBY }}</h2>
        <div class="entertaiments__blocks" >
            <div class="entertaiments__block" v-for=" entItem in entItems" v-bind:style=" entItem.cssBckg ">
                <img v-bind:src=" entItem.image " v-bind:alt=" entItem.imageAlt " class="entertaiments__img">
                <div class="entertaiments__text">
                    <h3 class="entertaiments__name">{{ entItem.titleBY }}</h3>
                    <ul class="entertaiments__items">
                        <li class="entertaiments__item" v-for=" item in entItem.items ">
                            {{ item.itemBY }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ENTERTAIMENT ===================================== -->
    
    <!-- HOTELS ===================================== -->
    <div class="hotels__concepts" id="hotels-concepts-block">
        <div class="hotels__countries" id="hotels-concepts-buttons-block">
           
            <a v-for=" countryName in countryNames " v-bind:data-id=' countryName.id ' v-if="countryName.showBY" class="hotels__country"  v-bind:class=" countryName.class ">{{ countryName.nameBY }}</a>
 
        </div>
        
        <select class="hotels__countries-mobile" id="hotels-options-mobile">
              <option class="hotels__country-mobile" v-for=" countryName in countryNames " v-bind:data-option=' countryName.id ' v-if="countryName.showBY">{{ countryName.nameBY }}</option>
              
        </select>
        
        <div  v-for=" countryHotel in countryHotels" v-bind:data-id=" countryHotel.id " v-if=" countryHotel.showUA " class="hotels__blocks" v-bind:class=" countryHotel.class " >
            <div class="hotels__block" v-for=" hotel in countryHotel.hotels " v-if="hotel.showBY">
                <div class="hotels__banner">
                    <img v-bind:src=" hotel.img " alt="" class="hotels__poster">
                    <h3 class="hotels__place">{{ hotel.place }}</h3>
                    <!--<h6 class="hotels__sale">{{ hotel.sale }}</h6>-->
                </div>
                <div class="hotels__text">
                    <h3 class="hotels__name">{{ hotel.name }}</h3>
                    <div class="hotels__info">
                        <div class="hotels__about">
                            <p class="hotels__description">{{ hotel.nights }}</p>
                            <p class="hotels__description">{{ hotel.service }}</p>
                        </div>
                        <!--<div class="hotels__prices">
                            <p class="hotels__price-old">{{ hotel.oldPrice }}</p>
                            <p class="hotels__price-new">{{ hotel.price }}</p>
                        </div>-->
                    </div>
                    <a v-bind:href=" hotel.clientLink " class="hotels__link" target="_blank"> {{ buttonBY }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- HOTELS ===================================== -->
    
    
    <!-- PHOTOS =====================================
    <div class="photos__concepts">
        <h2 class="photos__title">{{ photosTitleBY }}</h2>
        <div class="photos__block">
            <div class="photos__video">
                <img v-bind:src=" photosVideoImg " alt="" class="photos__video-img">
            </div>
            <div class="photos__photos">
                <img v-for=" photosItem in photosItems " v-bind:src=" photosItem.image " v-bind:alt=" photosItem.imageAlt " class="photos__photo" >
            </div>
        </div>
    </div>
    <!-- PHOTOS ===================================== -->
    
    
    <!-- PROGRAMS =====================================
    <div class="programs__concepts">
        <h2 class="programs__title">{{ prgrmTitleBY }}</h2>
        <div class="programs__blocks">
            <div class="programs__block" v-for=" prgrmItem in prgrmItems ">
                <div class="programs__names">
                    <img v-bind:src=" prgrmItem.image " v-bind:alt="  prgrmItem.imageAlt " class="programs__icon">
                    <h3 class="programs__name">{{ prgrmItem.titleBY }}</h3>
                </div>
                <div class="programs__items">
                    <h3 class="programs__text" v-for=" item in prgrmItem.items ">{{ item.itemUA }}
                        <a v-bind:href=" item.linkBY " class="programs__item" target="_blank">
                            <img v-bind:src=" prgrmIcon " v-bind:alt=" prgrmIconAlt " class="programs__download">
                            {{ prgrmDownloadBY }}
                        </a>
                    </h3>

                </div>
            </div>
        </div>
    </div>
    <!-- PROGRAMS ===================================== -->
    
    
    <!-- ALL HOTELS ===================================== -->
    <div class="allhotels__concepts">
        <div class="allhotels__blocks">
            <div class="allhotels__block" v-for=" allHotel in allHotels" v-if="allHotel.showBY">
                <h3 class="allhotels__name">{{ allHotel.countryBY }}</h3>
                <a v-for=" hotel in allHotel.hotels " v-bind:href=" hotel.linkClient " class="allhotels__link" v-if="hotel.showBY" target="_blank">{{ hotel.name }}</a>
            </div>
        </div>
    </div>
    <!-- ALL HOTELS ===================================== -->
</div>



<!-- MAIN END ========================================================================= -->

<!-- SCRIPTS START ==================================================================== -->


<!-- SCRIPTS END ====================================================================== -->

<!-- METRIKA START ====================================================================== -->

<!-- METRIKA END ====================================================================== -->


</body>

</html>