<!DOCTYPE html>
<html lang="ru">
<!-- 
Привет, все файлы по этой странице хранятся на TUI.ru / новый сайт / Концепции / TUI-SMART / в папках css js image и пр

VUE автоматом подтягивает нужный перевод, если хотите изменить или добавить информацию обновляйте ее в файле VUE smart.js 


-->


<!-- HEAD START ========================================================================= -->

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="" >
    <meta name="description" content="">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <title>TUI SMART</title>
    
<!-- CSS STYLE ======================================================================== -->
   
    <link rel="stylesheet" href="https://www.tui.ru/getmedia/03f1481f-8cca-4396-b4e9-9b650e5487f8/reset-min">
    <link rel="stylesheet" href="https://www.tui.ru/getmedia/ec719636-ff45-4328-b45d-eb0f6d4d0314/smart-hotels">
    <link rel="stylesheet" media="all and (min-width: 1201px)" href="https://www.tui.ru/getmedia/414ac703-1b5c-4067-9966-038780d2364f/smart-desktop">
    <link rel="stylesheet" media="all and (min-width: 901px) and (max-width: 1200px)" href="https://www.tui.ru/getmedia/493fe15d-0c98-408e-abe6-b938a271eab1/smart-laptop">
    <link rel="stylesheet" media="all and (min-width: 601px) and (max-width: 900px)" href="https://www.tui.ru/getmedia/79d32b81-b2d1-45d9-87e1-8ac3ae9b91ff/smart-tablet"> 
    <link rel="stylesheet" media="all and (max-width: 600px)" href="https://www.tui.ru/getmedia/006d2476-5ac7-4e98-940c-101329e078ba/smart-mobile">
    
    <link rel="stylesheet"  href="https://www.tui.ru/getmedia/82f63621-090c-4d58-9b86-369a680a5911/header-footer-all-css-concepts">
    
<!-- CSS STYLE ======================================================= -->
    
  
    
<!-- SCRIPT загрузки VUE  =================================================== -->
        <script type="text/javascript">
            const vueLinks = [
                'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js',
                'https://www.tui.ru/getmedia/db0b021d-bdd3-4a94-a5f6-e797ed62b2a3/diff-header-footer-for-concepts',
                'https://www.tui.ru/getmedia/18827348-c151-450f-8677-9e3b61cc8112/VUE-smart',
                'https://www.tui.ru/getmedia/0fe57bec-54f3-4650-bfec-d4b805f324ba/VUE-smart-hotels-ru-by-ua-NEW',
                'https://www.tui.ru/getmedia/ff7c258d-402b-4513-ae53-08ae3794d7a5/Smart-hotels-script',
               
                
               
                

            ];

            function add_files(arr, type) {

                count = 0;

                function new_file(link) {
                    var script = document.createElement(type);
                    script.src = link;
                    script.async = false;
                    document.head.appendChild(script);
                    if (count < arr.length - 1) {
                        script.onload = function() {
                            new_file(arr[count]);
                        }
                        script.onerror = function() {
                            throw new Error(arr[count - 1] + ' loading error');
                        }
                        count++;
                    }
                }

                function error(text) {
                    throw new Error('the function takes two required arguments');
                }

                (arr === undefined || type === undefined) ? error('the function takes two required arguments'):
                    (arr === undefined) ? error('no link array') :
                    (type === undefined) ? error('no file type') : '';
                new_file(arr[count]);
            }

            add_files(vueLinks, 'script');
        </script>    
    
    <!-- отключаем хэдере футер сайдблок на агенте ======================= -->
    <style>
        .mainHeader {
            display: none;
        }
        .mainFooter {
            display: none;
        }
        .informationBlock {
            display: none;
        }
        .contentFooter {
            display: none;
        }
        .contentWrapper {
            width: 100%!important;
            
        }
        .pageWrapper {
            width: 100%!important;
            
            overflow: hidden;
        }
        .page {
            background: white!important;
            
        }
    </style>
    <!-- отключаем хэдере футер сайдблок на агенте ======================= -->
    <!-- ждем загрузки страницы -->
    <style>
        .main-diff-page {
            opacity: 0;
        }
        .content-block {
            display: flex;
            flex-direction: column;
        }
    </style>
    <script>
        window.onload = function() {
        const mainPageDiff = document.querySelector('.main-diff-page');
            mainPageDiff.style.opacity = 1;
    
  };
    </script>
    <!-- ждем загрузки страницы -->
    
</head>

<!-- HEAD END ========================================================================= -->



<body>
<div class="main-diff-page">     
   <!-- ВЕРХНЕЕ МЕНЮ TOP START =========================================================== -->

<div class="menu-top" id="home-page-diff-menu-top"  style="z-index: 10;">
    <div class="container">
        <div class="row">
            <a class="col-md-2 col-6 logo-img" href="/"><img :src=" logoLink "></a>
            <div class="col-5 but-menu-mobile">
                &nbsp;
            </div>

            <!-- ВЕРХНЕЕ МЕНЮ START =========================================================== -->

            <div class="col-md-10 col-10 mobile_agent">
                <div id="exit_menu">
                    X
                </div>
                <div class="row menu-label">
                    <a class="label-menu" :href=" menuItemFranchaizingLink " target="_blank">{{menuItemFranchaizingNameBY}}</a>
                    <a class="label-menu" :href=" menuItemPartnershipLink " target="_blank">{{menuItemPartnershipNameBY}}</a>
                    <a class="label-menu" :href=" menuItemAboutLink " target="_blank">{{menuItemAboutNameBY}}</a>
                    <a class="label-menu" :href=" menuItemShopLink " target="_blank">{{menuItemShopNameBY}}</a>
                    <div class="label-menu" style="position: relative;cursor: pointer">
                        <a :href=" menuItemConceptsLink " style="color:#092a5e">{{menuItemConceptsNameBY}}</a>
                        <div class="label-menu-2">
                           <div class="concept-link">
                                <a :href=" menuItemSmartLink "><img alt="Smart_logo" :src=" menuItemSmartLogo "></a>
                                <div>
                                    <a :href=" menuItemSmartLink "><b>{{menuItemSmartName}}</b><br>
                                        {{menuItemSmartNameBY}}</a>
                                </div>
                            </div>
                            <div class="concept-link">
                                <a :href=" menuItemFunSunLink "><img alt="FN_logo" :src=" menuItemFunSunLogo "></a>
                                <div>
                                    <a :href=" menuItemFunSunLink "><b>{{menuItemFunSunName}}</b><br>
                                        {{menuItemFunSunNameBY}}</a>
                                </div>
                            </div>
                            <div class="concept-link">
                                <a :href=" menuItemDayNightLink "><img alt="FN_logo" :src=" menuItemDayNightLogo "></a>
                                <div>
                                    <a :href=" menuItemDayNightLink "><b>{{menuItemDayNightName}}</b><br>
                                        {{menuItemDayNightNameBY}}</a>
                                </div>
                            </div>
                            <div class="concept-link">
                                <a :href=" menuItemToucanLink "><img alt="FN_logo" :src=" menuItemToucanLogo "></a>
                                <div>
                                    <a :href=" menuItemToucanLink "><b>{{menuItemToucanName}}</b><br>
                                        {{menuItemToucanNameBY}}</a>
                                </div>
                            </div>
                            <div class="concept-link">
                                <a :href=" menuItemConceptsAboutLink "><img alt="Home_logo" :src=" menuItemConceptsAboutLogo " /></a>

                                <div><a :href=" menuItemConceptsAboutLink "><b>{{menuItemConceptsAboutNameBY1}}<br />
                                            {{menuItemConceptsAboutNameBY2}}</b></a></div>
                            </div>
                        </div>
                    </div><a class="label-menu" :href=" menuItemPremiumLink " target="_blank">{{menuItemPremiumName}}</a>
                    <a class="label-menu log enter" data-bind="click: LoginClick" :href=" menuItemLoginNamelinkRU " target="_blank">{{menuItemLoginNameBY}}</a>
                </div>
            </div>

            <!-- ВЕРХНЕЕ МЕНЮ END =========================================================== -->

            <div class="col-md-10">
                <div class="row menu-telephone">
                    <div class="col-md-8 col-7">
                        <p class="telephone-title">{{menuPhoneTitleBY}}</p>
                        <p class="telephone-number">{{menuPhonePhoneBY}}</p>
                    </div>
                    <a :href=" menuTouristSiteLinkBY " style="color: black">{{menuTouristSiteNameBY}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ВЕРХНЕЕ МЕНЮ TOP END =========================================================== -->
   
   
<!-- MAIN START ======================================================================= -->
   
    <div class="smart" id="smart-diff" >
       
       <!-- BANNER START ================================= -->
       
       
        <div class="smart__banner "   >
            <img v-bind:src=" bannerRU " alt="SMART Banner" class="smart__img ">    
        </div>
        
        <!-- BANNER END ================================= -->
        
        <!-- ABOUT START ================================= -->
        
        <div class="smart__text" >
            <h2 class="smart__title"  > {{titleBY}} </h2>
            <p class="smart__about"  > {{aboutBY}} </p>
        </div>
        
        <!-- ABOUT END ================================= -->
        
        <!-- ФИШКИ START =============================== -->
        
        <div class="fishka" >
            <div class="fishka__item" v-for=" fishkiPoint in fishkiPoints" v-bind:style=" fishkiPoint.cssPart " >
                <div class="fishka__text" >
                    <h3 class="fishka__title"> {{ fishkiPoint.titleBY }} </h3>
                </div>
                <img v-bind:src=" fishkiPoint.image " alt="fishka image" class="fishka__img">
                
            </div>
        </div>
        
        <!-- ФИШКИ END =============================== -->
        
        <!-- WHY START =============================== -->
        
        <div class="why" >
            <h2 class="smart__title" > {{ whyTitleBY }} </h2>
            <div class="why__items">
                <div class="why__item" v-for=" whyItem in whyItems " data-aos="slide-up">
                    <img v-bind:src=" whyItem.image " alt="image" class="why__img">
                    <div class="why__text">
                        <h3 class="why__title"> {{ whyItem.titleBY }} </h3>
                        <ul class="why__spisok" v-for=" item in whyItem.items">
                            <li class="why__spisok-item" > {{ item.itemBY }} </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
        
        <!-- WHY ENS ================================ -->
        
        <!-- OPEN DATES START =============================== 
        
        <div class="country" >
            <h2 class="smart__title"> {{ dateTitleBY }} </h2>
            <div class="country__items">
                <div class="country__item" v-for=" openDate in openDates ">
                    <h3 class="country__name"> {{ openDate.countryNameRU }} </h3>
                    <div class="country__block" v-for=" hotel in openDate.hotels ">
                        <a v-bind:href=" hotel.linkAgent " class="country__hotel" target="_blank"> {{  hotel.name }} </a>
                        <span class="country__date"> {{  hotel.date }} </span>
                    </div>
                </div>
            </div>
        </div>
        
         OPEN DATES END =============================== -->
        
    </div>
    
    
    <!-- HOTELS ===================================== -->
    <div class="hotels__concepts" id="hotels-concepts-block">
       <h2 class="smart__title" > {{ hotelsTitleBY }} </h2>
        <div class="hotels__countries">
           
            <a v-for=" countryName in countryNames " v-bind:data-id=' countryName.id ' v-if="countryName.showBY" class="hotels__country"  v-bind:class=" countryName.class ">{{ countryName.nameBY }}</a>
 
        </div>
        
        <select class="hotels__countries-mobile" id="hotels-options-mobile">
              <option class="hotels__country-mobile" v-for=" countryName in countryNames " v-bind:data-option=' countryName.id ' v-if="countryName.showBY">{{ countryName.nameBY }}</option>
              
        </select>
        
        <div  v-for=" countryHotel in countryHotels" v-bind:data-id=" countryHotel.id " v-if=" countryHotel.showBY " class="hotels__blocks" v-bind:class=" countryHotel.class ">
            <div class="hotels__block" v-for=" hotel in countryHotel.hotels ">
                <div class="hotels__banner">
                    <img v-bind:src=" hotel.img " alt="" class="hotels__poster">
                    <h3 class="hotels__place">{{ hotel.place }}</h3>
                    <!--<h6 class="hotels__sale">{{ hotel.sale }}</h6>-->
                </div>
                <div class="hotels__text">
                    <h3 class="hotels__name">{{ hotel.name }}</h3>
                    <div class="hotels__info">
                        <div class="hotels__about">
                            <p class="hotels__description">{{ hotel.nights }}</p>
                            <p class="hotels__description">{{ hotel.service }}</p>
                        </div>
                        <!--<div class="hotels__prices">
                            <p class="hotels__price-old">{{ hotel.oldPrice }}</p>
                            <p class="hotels__price-new">{{ hotel.price }}</p>
                        </div>-->
                    </div>
                    <a v-bind:href="'https://agent.tui.ua' + hotel.agentLink " class="hotels__link" target="_blank"> {{ buttonBY }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- HOTELS ===================================== -->
    
   <!-- FOOTER START ================================= -->

        <div class="container-fluid footer-informations" style="margin-top: 3em" id="home-page-diff-footer">
            <div class="row" id="funSunFooter">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>{{funSunPageFooterTitle1BY}}</h3>
                            <a target="_blank" v-bind:href=" funSunPageFooterSiteLink1 ">{{funSunPageFooterSite1BY}}</a><br />
                            <a target="_blank" v-bind:href=" funSunPageFooterSiteLink2BY ">{{funSunPageFooterSite2BY}}</a><br />
                            <a target="_blank" v-bind:href=" funSunPageFooterSiteLink3BY ">{{funSunPageFooterSite3BY}}</a>
                        </div>

                        <div class="col-md-3">
                            <h3>{{funSunPageFooterTitle2BY}}</h3>
                            <a v-bind:href=" funSunPageFooterPhoneLinkBY ">{{funSunPageFooterPhoneTitleBY}}</a><br />
                            <a v-bind:href=" funSunPageFooterMailLinkBY ">{{funSunPageFooterMailTitleBY}}</a>
                        </div>

                        <div class="col-md-3">
                            <h3>{{funSunPageFooterTitle3BY}}</h3>

                            <div class="row icons-footer col-10 col-md-12" style="justify-content: flex-start;"><a style="margin: 5px;" target="_blank" v-bind:href=" funSunPageFooterInstagramLink "> <img v-bind:src=" funSunPageFooterInstagramImgLink " /> </a> <a style="margin: 5px;" target="_blank" v-bind:href=" funSunPageFooterFacebookLink "> <img v-bind:src=" funSunPageFooterFacebookImgLink " /> </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER END ================================= --> 
    
<!-- MAIN END ========================================================================= -->
    </div>    
<!-- SCRIPTS START ====================================================================  

<!-- SCRIPTS END ====================================================================== -->   

<!-- METRIKA START ====================================================================== -->   

<!-- METRIKA END ====================================================================== --> 


</body>
</html>