<head></head>
<link href="dist/css/font-tui/font-tui.css" rel="stylesheet" type="text/css" />
<script src="https://www.tui.ru/getmedia/d87eaac3-bfe8-4d28-b122-f5631b032cc1/template_base_diff" type="text/javascript">
</script>

<style type="text/css">
    .ActionPage-container .static {
        margin: 0 auto;
        width: auto;
    }

    .vertical-cards__concepts {
        background: #e2f3fe;
    }

    .button-slider-active {
        -webkit-box-shadow: inset 0 -4px 0 0 #C3E8FB !important;
        -moz-box-shadow: inset 0 -4px 0 0 #C3E8FB !important;
        box-shadow: inset 0 -4px 0 0 #C3E8FB !important;
        background-color: #C3E8FB !important;
    }
</style>
<script type="text/javascript">
    var script_loaded = document.createElement("script");
    script_loaded.src = "https://www.tui.ru/getmedia/91751be2-e1fb-443e-b4f4-66aab0b2a7f2/template_engine";
    document.head.appendChild(script_loaded);
    script_loaded.onload = function() {
        on_page(render("#table-template", ".block-table", table_fs)); //table
    }
    var videoId = 'OxTcJn6SZkA';
</script>
<script async src="https://www.tui.ru/getmedia/6e64783b-d6d6-4b51-ab25-d8d1ec72e234/all" type="text/javascript"></script>
<link href="https://www.tui.ru/getmedia/c51e2c41-667b-4ebd-8ad9-484a6efbd767/all" rel="stylesheet" type="text/css" /><!-- <link rel="stylesheet" type="text/css" href="dist/css/all-normal.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="dist/css/font-tui/font-tui.css"> -->
<meta content="width=device-width,initial-scale=1" name="viewport" />
<style type="text/css">
    * {
        box-sizing: border-box;
    }
</style>
<title>FUN SUN</title>
<div class="row-all">

    <!-- FUN SUN HEADER MENU START ===================================-->
    <div class="container-fluid top-slider top-fs" id="fun-sun-page-header-menu" v-bind:style=" funSunPageHeaderMenuBackground ">
        <div class="container">
            <div class="row">
                <div class="col-md-6 left-row">
                    <div class="col-md-12">
                        <div class="topLeft row">
                            <div class="icon-top col-md-2 col-3"><img alt="FN_logo" v-bind:src=" funSunPageHeaderMenuLogo " /></div>
                        </div>

                        <h2 style="margin-top:0!important">{{funSunPageHeaderMenuTitleRU}}</h2>

                        <div class="col-12 die-all">
                            <div class="die row">
                                <div class="circle-logo"><img v-bind:src=" funSunPageHeaderMenuItemLogo1 " /></div>

                                <div class="circle-text col-md-11 d1">{{funSunPageHeaderMenuItemNameRU1}}</div>
                            </div>

                            <div class="die row">
                                <div class="circle-logo" style="background: #2fd4ce"><img v-bind:src=" funSunPageHeaderMenuItemLogo2 " /></div>

                                <div class="circle-text col-md-11 d2">{{funSunPageHeaderMenuItemNameRU2}}</div>
                            </div>

                            <div class="die row">
                                <div class="circle-logo" style="background: #fde900"><img v-bind:src=" funSunPageHeaderMenuItemLogo3 " /></div>

                                <div class="circle-text col-md-11 d3">{{funSunPageHeaderMenuItemNameRU3}}</div>
                            </div>

                            <div class="die row">
                                <div class="circle-logo" style="background: #fdbc00"><img v-bind:src=" funSunPageHeaderMenuItemLogo4 " /></div>

                                <div class="circle-text col-md-11 d4">{{funSunPageHeaderMenuItemNameRU4}}</div>
                            </div>

                            <div class="die row">
                                <div class="circle-logo" style="background: #fd18a9"><img v-bind:src=" funSunPageHeaderMenuItemLogo5 " /></div>

                                <div class="circle-text col-md-11 d5">{{funSunPageHeaderMenuItemNameRU5}}</div>
                            </div>

                            <div class="die row">
                                <div class="circle-logo" style="background: #b954af"><img v-bind:src=" funSunPageHeaderMenuItemLogo6 " /></div>

                                <div class="circle-text col-md-11 d6">{{funSunPageHeaderMenuItemNameRU6}}</div>
                            </div>

                            <div class="die row">
                                <div class="circle-logo" style="background: #b19fd3"><img v-bind:src=" funSunPageHeaderMenuItemLogo7 " /></div>

                                <div class="circle-text col-md-11 d7">{{funSunPageHeaderMenuItemNameRU7}}</div>
                            </div>

                            <div class="die row">
                                <div class="circle-logo" style="background: #afdf00"><img v-bind:src=" funSunPageHeaderMenuItemLogo8 " /></div>

                                <div class="circle-text col-md-11 d8">{{funSunPageHeaderMenuItemNameRU8}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 top-right row">
                    <div class="col-6 video">
                        <div id="player">&nbsp;</div>

                        <div class="play video-fs"><img v-bind:src=" funSunPageHeaderMenuVideoPlay " /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- FUN SUN HEADER MENU END ===================================-->

    <!-- FUN SUN PAGE MENU START ===================================-->
    <div class="container" id="fun-sun-page-menu">
        <div class="row">
            <div class="buttons-slider button-slider-mobile col-md-12">
                <a class="col-md-2 col-12 button-slider button-slider-active" id="tb" onclick="smoothScrolling('#advantagesHotels')">
                    <p>{{funSunPageMenuItemRU1}}</p>
                </a>

                <a class="button-slider col-md-1 col-12" onclick="smoothScrolling('#hotels')">
                    <p>{{funSunPageMenuItemRU2}}</p>
                </a>

                <a class="button-slider col-md-3 col-12" v-bind:href="funSunPageMenuItemLinkClient3" target="_blank">
                    <p>{{funSunPageMenuItemRU3}}</p>
                </a>

                <a class="button-slider col-md-2 col-12" v-bind:href="funSunPageMenuItemLinkClient4" target="_blank">
                    <p>{{funSunPageMenuItemRU4}}</p>
                </a>

                <!--<a class="button-slider col-md-2 col-12" v-bind:href="funSunPageMenuItemLinkClient5" target="_blank">
                    <p>{{funSunPageMenuItemRU5}}</p>
                </a>-->

                <a class="button-slider col-md-3 col-12" v-bind:href="funSunPageMenuItemLinkClient6RU" target="_blank">
                    <p>{{funSunPageMenuItemRU6}}</p>
                </a>
            </div>
        </div>
    </div>
    <!-- FUN SUN PAGE MENU END ===================================-->

    <div class="container text-content">
        <script id="table-template" type="text/x-handlebars-template">
            <h2>{{{title_page_origin}}}</h2>
        <p>{{{description_page_origin}}}</p>
        <table class="contentTable">
            <tbody>
            <tr>
                <td style="width:50%"><b>{{title}}</b></td>
                <td><b>{{description}}</b></td>
            </tr>
            {{#each hotel}}
            {{#if country_hotel}}
            <tr>
                <td style="text-align: center" colspan="2">{{country_hotel}}</td>
            </tr>
            {{/if}}
            <tr>
                <td><a href="{{href_tui_ru}}">{{name_hotel}}</a></td>
                <td>{{data_hotel}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
        {{#each table_description}}
        {{#if desc_link}}
        <a href="{{desc_link}}">{{desc_info}}</a>
        {{else}}
       <!-- <div class="description_table_{{count}}">{{{desc_info}}}</div>-->
        {{/if}}
        {{/each}}
    </script>
        <div class="block-table container"></div>
        <!-- <table class="contentTable">
            <tbody>
                <tr>
                    <td style="width:50%"><strong>Отели TUI FUN&amp;SUN</strong></td>
                    <td><strong>Дата открытия концепции в отелях, включая клуб Тукан</strong></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">Турция</td>
                </tr>
                <tr>
                    <td><a href="https://www.tui.ru/hotel/europe-turkey-kemer-tekirova-tui__fun__sun__club__saphire/?adults=2&amp;children=0&amp;dateDelta=0&amp;dateFrom=1556679600000&amp;directionCountryTo=18803&amp;directionFrom=274286&amp;hotelNameQuery=SUN%20Club%20Saphire&amp;maxCost=2000000&amp;minCost=0&amp;newbies=0&amp;nightsFrom=7&amp;nightsTo=14&amp;page=0&amp;selected=nights&amp;hotelId=264165">TUI FUN&amp;SUN Club Saphire 5* &nbsp;</a></td>
                    <td>01.05.2019</td>
                </tr>
                <tr>
                    <td><a href="https://www.tui.ru/hotel/europe-turkey-kemer-goynuk-tui__fun__sun__miarosa__ghazal__resort/">TUI FUN&amp;SUN Miarosa Ghazal Resort 5*</a></td>
                    <td>01.05.2019</td>
                </tr>
                <tr>
                    <td><a href="https://www.tui.ru/hotel/europe-turkey-belek-belek-tui__fun__sun__river__resort__belek/?adults=2&amp;children=0&amp;dateDelta=0&amp;dateFrom=1556679600000&amp;directionCountryTo=18803&amp;directionFrom=274286&amp;hotelNameQuery=River%20Resort%20Belek&amp;maxCost=2000000&amp;minCost=0&amp;newbies=0&amp;nightsFrom=7&amp;nightsTo=14&amp;page=0&amp;selected=nights&amp;hotelId=364712">TUI FUN&amp;SUN River Resort Belek&nbsp; 5*</a></td>
                    <td>01.05.2019</td>
                </tr>
                <tr>
                    <td><a href="https://www.tui.ru/hotel/europe-turkey-belek-belek-tui__fun__sun__club__belek/?HotelAttribute=1000718&amp;adults=2&amp;children=0&amp;dateDelta=0&amp;dateFrom=1557889200000&amp;directionCountryTo=18803&amp;directionFrom=274286&amp;hotelNameQuery=&amp;maxCost=2000000&amp;minCost=0&amp;newbies=0&amp;nightsFrom=7&amp;nightsTo=14&amp;page=0&amp;selected=nights&amp;hotelId=29813">TUI FUN&amp;SUN Club Belek 5*</a></td>
                    <td>01.05.2019</td>
                </tr>
                <tr>
                    <td><a href="https://www.tui.ru/hotel/europe-turkey-side-kizilot-tui__fun__sun__club__serra__palace__(ex__club__calimera__s/?adults=2&amp;children=0&amp;dateDelta=0&amp;dateFrom=1556679600000&amp;directionCountryTo=18803&amp;directionFrom=274286&amp;hotelNameQuery=Club%20Serra%20Palace&amp;maxCost=2000000&amp;minCost=0&amp;newbies=0&amp;nightsFrom=7&amp;nightsTo=14&amp;page=0&amp;selected=nights&amp;hotelId=30715">TUI FUN&amp;SUN Club Serra Palace 5*</a></td>
                    <td>01.05.2019</td>
                </tr>
                <tr>
                    <td><a href="https://www.tui.ru/hotel/europe-turkey-kemer-goynuk-tui__fun__sun__comfort__beach__resort/?HotelAttribute=1000718&amp;adults=2&amp;children=0&amp;dateDelta=3&amp;dateFrom=1562641200000&amp;directionCountryTo=18803&amp;directionFrom=274286&amp;newbies=0&amp;nightsFrom=7&amp;nightsTo=14&amp;selected=departure-date&amp;page=0&amp;hotelId=537388&amp;TourType=4">TUI FUN&amp;SUN Comfort Beach Resort 5*</a></td>
                    <td>01.05.2019</td>
                </tr>
                <tr>
                    <td><a href="https://www.tui.ru/hotel/europe-turkey-kemer-finike-tui__fun__sun__club__di__finica/?HotelAttribute=1000718&amp;adults=2&amp;children=0&amp;dateDelta=3&amp;dateFrom=1559876400000&amp;directionCountryTo=18803&amp;directionFrom=274286&amp;hotelNameQuery=finica&amp;newbies=0&amp;nightsFrom=7&amp;nightsTo=14&amp;selected=departure-date&amp;page=0&amp;hotelId=540291&amp;TourType=4">TUI FUN&amp;SUN Club Di Finica 5*</a></td>
                    <td>01.05.2019</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">Кипр</td>
                </tr>
                <tr>
                    <td><a href="https://www.tui.ru/hotel/europe-cyprus-protaras-protaras__city-vangelis__hotel__suites/">TUI FUN&amp;SUN Vangelis Hotel &amp; Suite 4*</a></td>
                    <td>01.05.2019</td>
                </tr>
                <tr>
                    <td><a href="https://www.tui.ru/hotel/europe-cyprus-ayia__napa-ayia__napa-tui__fun__sun__panthea__waterpark/">TUI FUN&amp;SUN Panthea Waterpark 4*</a></td>
                    <td>01.05.2019</td>
                </tr>
            </tbody>
        </table> 
    </div>-->



    <!-- FUN SUN ADVENTAGIES HOTELS BLOCK START ======================= -->
    <div class="container" id="advantagesHotels">
        <h2 style="text-transform: uppercase;">{{funSunPageMenuAdvantagiesTitleRU}}</h2>
    </div>

    <div class="container hotels-club-country sl">
        <div class="buttons-navigations" id="fun-sun-page-hotels-adventagies-hotels-menu">
            <a class="button-navigatin active-link" data-block=".slider_1" href="#s1b1">{{funSunPageMenuAdventagiesHotelsMenuItemRU1}}</a> <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ В номере как дома -->
            <a class="button-navigatin" data-block=".slider_1" href="#s1b2">{{funSunPageMenuAdventagiesHotelsMenuItemRU2}}</a> <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Пройдитесь по территории -->
            <a class="button-navigatin" data-block=".slider_1" href="#s1b3">{{funSunPageMenuAdventagiesHotelsMenuItemRU3}}</a> <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Для детей -->
            <a class="button-navigatin" data-block=".slider_1" href="#s1b4">{{funSunPageMenuAdventagiesHotelsMenuItemRU4}}</a> <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Попробуйте блюда и напитки -->
            <a class="button-navigatin" data-block=".slider_1" href="#s1b5">{{funSunPageMenuAdventagiesHotelsMenuItemRU5}}</a> <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Займитесь спортом -->
            <a class="button-navigatin" data-block=".slider_1" href="#s1b6">{{funSunPageMenuAdventagiesHotelsMenuItemRU6}}</a> <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Развлекитесь -->
        </div>

        <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ В номере как дома START -->

        <div class="slider slider_1" id="s1b1">
            <div class="row-slider" data-col="3" id="fun-sun-page-hotels-adventagies1">
                <div class="col-md-4 myslide col-slider-3" v-for="funSunPageHotelsAdventagie1 in funSunPageHotelsAdventagies1">
                    <div class="sliders-hotels">
                        <div class="imgSlider" v-bind:style=" funSunPageHotelsAdventagie1.background ">&nbsp;</div>

                        <div class="slider-content">
                            <h4>{{funSunPageHotelsAdventagie1.titleRU}}</h4>

                            <p class="gey_p">{{funSunPageHotelsAdventagie1.textRU}}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ В номере как дома END -->

        <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Пройдитесь по территории START -->

        <div class="slider slider_1 n" id="s1b2">
            <div class="row-slider" data-col="3" id="fun-sun-page-hotels-adventagies2">
                <div class="col-md-4 myslide col-slider-3" v-for=" funSunPageHotelsAdventagie2 in funSunPageHotelsAdventagies2 ">
                    <div class="sliders-hotels">
                        <div class="imgSlider" v-bind:style=" funSunPageHotelsAdventagie2.background ">&nbsp;</div>

                        <div class="slider-content">
                            <h4>{{funSunPageHotelsAdventagie2.titleRU}}</h4>

                            <p class="gey_p">{{funSunPageHotelsAdventagie2.textRU}}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Пройдитесь по территории END -->

        <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Для детей START -->

        <div class="slider slider_1 n" id="s1b3">
            <div class="row-slider" data-col="3" id="fun-sun-page-hotels-adventagies3">
                <div class="col-md-4 myslide col-slider-3" v-for=" funSunPageHotelsAdventagie3 in funSunPageHotelsAdventagies3 ">
                    <div class="sliders-hotels">
                        <div class="imgSlider" v-bind:style=" funSunPageHotelsAdventagie3.background ">&nbsp;</div>

                        <div class="slider-content">
                            <h4>{{funSunPageHotelsAdventagie3.titleRU}}</h4>

                            <p class="gey_p">{{funSunPageHotelsAdventagie3.textRU}}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Для детей END -->

        <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Попробуйте блюда и напитки START -->
        <div class="slider slider_1 n" id="s1b4">
            <div class="row-slider" data-col="3" id="fun-sun-page-hotels-adventagies4">
                <div class="col-md-4 myslide col-slider-3" v-for=" funSunPageHotelsAdventagie4 in funSunPageHotelsAdventagies4 ">
                    <div class="sliders-hotels">
                        <div class="imgSlider" v-bind:style=" funSunPageHotelsAdventagie4.background ">&nbsp;</div>

                        <div class="slider-content">
                            <h4>{{funSunPageHotelsAdventagie4.titleRU}}</h4>

                            <p class="gey_p">{{funSunPageHotelsAdventagie4.textRU}}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Попробуйте блюда и напитки END -->

        <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Займитесь спортом START -->

        <div class="slider slider_1 n" id="s1b5">
            <div class="row-slider" data-col="3" id="fun-sun-page-hotels-adventagies5">
                <div class="col-md-4 myslide col-slider-3" v-for=" funSunPageHotelsAdventagie5 in funSunPageHotelsAdventagies5 ">
                    <div class="sliders-hotels">
                        <div class="imgSlider" v-bind:style=" funSunPageHotelsAdventagie5.background ">&nbsp;</div>

                        <div class="slider-content">
                            <h4>{{funSunPageHotelsAdventagie5.titleRU}}</h4>

                            <p class="gey_p">{{funSunPageHotelsAdventagie5.textRU}}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Займитесь спортом END -->

        <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Развлекитесь START -->

        <div class="slider slider_1 n" id="s1b6">
            <div class="row-slider" data-col="3" id="fun-sun-page-hotels-adventagies6">
                <div class="col-md-4 myslide col-slider-3" v-for=" funSunPageHotelsAdventagie6 in funSunPageHotelsAdventagies6 ">
                    <div class="sliders-hotels">
                        <div class="imgSlider" v-bind:style=" funSunPageHotelsAdventagie6.background ">&nbsp;</div>

                        <div class="slider-content">
                            <h4>{{funSunPageHotelsAdventagie6.titleRU}}</h4>

                            <p class="gey_p">{{funSunPageHotelsAdventagie6.textRU}}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- ПРЕИМУЩЕСТВА ОТЕЛЕЙ С КОНЦЕПЦИЕЙ Развлекитесь END -->
    </div>



    <!-- FUN SUN ADVENTAGIES HOTELS BLOCK END ======================= -->

    <!-- ОТЕЛИ СТАРТ  ================================================================= -->

<div class="container-fluid block_3" id="hotels-fun-sun">
    <div class="container" >
        <h2 style="text-transform: uppercase;">{{ titleRU }}</h2>
    </div>
    <!-- ОТЕЛИ СТАРТ слайдер ========================================================================================= -->

    <div class="row">
        <div class="container sl" id="hotels">
            <div class="buttons-navigations" >
                <a class="button-navigatin active-link" data-block=".slider_2" href="#s2b1">{{country1RU}}</a> <!-- Отели с концепцией Турция -->
                <a class="button-navigatin" data-block=".slider_2" href="#s2b2">{{country2RU}}</a> <!-- Отели с концепцией Кипр -->
                <!--<a class="button-navigatin" data-block=".slider_2" href="#s2b3">{{country3RU}}</a>  Отели с концепцией ЕГИПЕТ -->
                <a class="button-navigatin" data-block=".slider_2" href="#s2b4">{{country4RU}}</a> <!-- Отели с концепцией ЧЕРОНОГОРИЯ -->
                <a class="button-navigatin" data-block=".slider_2" href="#s2b5">{{country5RU}}</a> <!-- Отели с концепцией ИСПАНИЯ -->
                <a class="button-navigatin" data-block=".slider_2" href="#s2b6">{{country6RU}}</a> <!-- Отели с концепцией ГРЕЦИЯ -->
            </div>
            <!-- Отели с концепцией Турция -->

            <div class="slider slider_2" id="s2b1">
                <div class="row-slider" data-col="3">
                    <!-- ОДИН ОТЕЛЬ СТАРТ ===================================-->
                    
                    <div class="col-md-4 myslide col-slider-3" v-for=" country1Hotel in country1Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country1Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country1Hotel.countryNameRU }}</h4>

                                    <p class="gey_p">{{ country1Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelRUItem in country1Hotel.aboutHotelRUItems"> {{ aboutHotelRUItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country1Hotel.hotelLinkClient ">{{ country1Hotel.buttonRU }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <!-- ОДИН ОТЕЛЬ END ===================================-->

                    
                </div>
            </div>

            <!-- Отели с концепцией Кипр -->

            <div class="slider slider_2 n" id="s2b2">
                <div class="row-slider" data-col="3">
                    <!-- ОДИН ОТЕЛЬ СТАРТ ===================================-->
                    
                    <div class="col-md-4 myslide col-slider-3" v-for=" country2Hotel in country2Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country2Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country2Hotel.countryNameRU }}</h4>

                                    <p class="gey_p">{{ country2Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelRUItem in country2Hotel.aboutHotelRUItems"> {{ aboutHotelRUItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country2Hotel.hotelLinkClient ">{{ country2Hotel.buttonRU }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <!-- ОДИН ОТЕЛЬ END ===================================-->

                    
                </div>
            </div>
            
            <!-- Отели с концепцией ЕГИПЕТ

            <div class="slider slider_2 n" id="s2b3">
                <div class="row-slider" data-col="3"> -->
                    <!-- ОДИН ОТЕЛЬ СТАРТ ===================================
                    
                    <div class="col-md-4 myslide col-slider-3" v-for=" country3Hotel in country3Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country3Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country3Hotel.countryNameRU }}</h4>

                                    <p class="gey_p">{{ country3Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelRUItem in country3Hotel.aboutHotelRUItems"> {{ aboutHotelRUItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country3Hotel.hotelLinkClient ">{{ country3Hotel.buttonRU }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                     ОДИН ОТЕЛЬ END ===================================-->

                    
               <!-- </div>
            </div>-->
            
            <!-- Отели с концепцией  ЧЕРНОГОРИЯ -->

            <div class="slider slider_2 n" id="s2b4">
                <div class="row-slider" data-col="3">
                    <!-- ОДИН ОТЕЛЬ СТАРТ ===================================-->
                    
                    <div class="col-md-4 myslide col-slider-3" v-for=" country4Hotel in country4Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country4Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country4Hotel.countryNameRU }}</h4>

                                    <p class="gey_p">{{ country4Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelRUItem in country4Hotel.aboutHotelRUItems"> {{ aboutHotelRUItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country4Hotel.hotelLinkClient ">{{ country4Hotel.buttonRU }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <!-- ОДИН ОТЕЛЬ END ===================================-->

                    
                </div>
            </div>
            
            <!-- Отели с концепцией  ИСПАНИЯ -->

            <div class="slider slider_2 n" id="s2b5">
                <div class="row-slider" data-col="3">
                    <!-- ОДИН ОТЕЛЬ СТАРТ ===================================-->
                    
                    <div class="col-md-4 myslide col-slider-3" v-for=" country5Hotel in country5Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country5Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country5Hotel.countryNameRU }}</h4>

                                    <p class="gey_p">{{ country5Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelRUItem in country5Hotel.aboutHotelRUItems"> {{ aboutHotelRUItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country5Hotel.hotelLinkClient ">{{ country5Hotel.buttonRU }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <!-- ОДИН ОТЕЛЬ END ===================================-->

                    
                </div>
            </div>
            
            <!-- Отели с концепцией  ГРЕЦИЯ -->

            <div class="slider slider_2 n" id="s2b6">
                <div class="row-slider" data-col="3">
                    <!-- ОДИН ОТЕЛЬ СТАРТ ===================================-->
                    
                    <div class="col-md-4 myslide col-slider-3" v-for=" country6Hotel in country6Hotels">
                            <div class="sliders-hotels">
                                <div class="imgSlider" v-bind:style=" country6Hotel.background ">&nbsp;</div>

                                <div class="slider-content slide-height_tall">
                                    <h4>{{ country6Hotel.countryNameRU }}</h4>

                                    <p class="gey_p">{{ country6Hotel.hotelName }}</p>

                                    <ul >
                                        <li v-for="aboutHotelRUItem in country6Hotel.aboutHotelRUItems"> {{ aboutHotelRUItem.item }} </li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">&nbsp;</div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href=" country6Hotel.hotelLinkClient ">{{ country6Hotel.buttonRU }}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    <!-- ОДИН ОТЕЛЬ END ===================================-->

                    
                </div>
            </div>
            
        </div>
    </div>
    <!-- ОТЕЛИ END слайдер  ==================================================== -->
</div>
<!-- ОТЕЛИ END ===================================================================== -->
</div>









<!-- ЛАЙФХАК -->
<div class="row-all">
    <!--<div class="container sl slider-one">
    <div class="row subscription-block">
        <div class="col-md-8 outline-m">
            <div class="col-md-12" style="overflow: hidden;margin-left:0">
                <div class="slider">
                    <div class="row-slider" data-col="1">
                        <div class="myslide col-slider-1 slider-md8">
                            <div class="img-slider-md8 col-md-12" style="background: url(https://www.tui.ru/getmedia/046fd983-6211-4e05-ac4a-31d2190473f6/breakfast);background-size: cover; background-position: bottom;">
                                <h4 style="position: absolute; left: 0px; bottom: 0px; background: rgba(112,230,250,0.7); padding: 5px 25px; text-transform: uppercase; margin: 0!important;">Лайфхак</h4>
                            </div>

                            <div class="content-slider-md8">
                                <h2>Как зарядить себя бодростью с самого утра?</h2>

                                <p>- Отправляйтесь позавтракать в главный ресторан, встав пораньше, ведь многие желают начать день со свежевыжатого апельсинового сока (естественно, бесплатно)</p>
                                &nbsp;

                                <p class="gey_p"></p>
                            </div>
                        </div>

                        <div class="myslide col-slider-1 slider-md8">
                            <div class="img-slider-md8 col-md-12" style="background: url(https://www.tui.ru/getmedia/462b3283-92e1-4d15-ba91-1ac54482c5a4/sweets);background-size: cover; background-position: center;">
                                <h4 style="position: absolute; left: 0px; bottom: 0px; background: rgba(112,230,250,0.7); padding: 5px 25px; text-transform: uppercase; margin: 0!important;">Лайфхак</h4>
                            </div>

                            <div class="content-slider-md8">
                                <h2>Чем порадовать сладкоежек?</h2>

                                <p>- Сходите в десерт-бар &laquo;Happy moments&raquo; и угоститесь лакомствами с натуральным кофе или травяным чаем или освежитесь мороженым с любимым вкусом в дневное время</p>

                                <p class="gey_p"></p>
                            </div>
                        </div>

                        <div class="myslide col-slider-1 slider-md8">
                            <div class="img-slider-md8 col-md-12" style="background: url(https://www.tui.ru/getmedia/bcca4989-9264-45da-a621-3bae28f02f9f/adult);background-size: cover">
                                <h4 style="position: absolute; left: 0px; bottom: 0px; background: rgba(112,230,250,0.7); padding: 5px 25px; text-transform: uppercase; margin: 0!important;">Лайфхак</h4>
                            </div>

                            <div class="content-slider-md8">
                                <h2>Где провести время только взрослым?</h2>

                                <p>- Пока дети развлекаются в Клубе Тукан, отправляйтесь в Chill Out бар 18+ (только для взрослых) и за бокалом красного/белого вина расслабьтесь в приятной обстановке</p>

                                <p class="gey_p"></p>
                            </div>
                        </div>

                        <div class="myslide col-slider-1 slider-md8">
                            <div class="img-slider-md8 col-md-12" style="background: url(https://www.tui.ru/getmedia/c424d45a-55d3-4d65-a29f-88f99e21932d/family);background-size: cover">
                                <h4 style="position: absolute; left: 0px; bottom: 0px; background: rgba(112,230,250,0.7); padding: 5px 25px; text-transform: uppercase; margin: 0!important;">Лайфхак</h4>
                            </div>

                            <div class="content-slider-md8">
                                <h2>Чем заняться в отеле всей семьей?</h2>

                                <p>Выучите новый язык, приготовьте национальное блюдо, научитесь делать идеальные фотографии для соц. сетей &ndash; вместе, на наших уникальных мастер-классах</p>
                                &nbsp;

                                <p class="gey_p"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>

<!-- РАЗВЛЕКАТЕЛЬНАЯ ПРОГРАММА START ================================= -->
<div class="container" id="entProgram">
    <h2 style="text-transform: uppercase;">{{funSunPageEntProgramTitleRU}}</h2>
</div>

<div class="container hotels-club-country sl">
    <div class="buttons-navigations" id="entProgramMenu">
        <a class="button-navigatin active-link" data-block=".slider_3" href="#s3b1">{{funSunPageEntProgramMenuitem1RU}}</a> <!-- Развлекательная программа Для детей -->
        <a class="button-navigatin" data-block=".slider_3" href="#s3b2">{{funSunPageEntProgramMenuitem2RU}}</a> <!-- Развлекательная программа Для подростков -->
        <a class="button-navigatin" data-block=".slider_3" href="#s3b3">{{funSunPageEntProgramMenuitem3RU}}</a> <!-- Развлекательная программа Для всей семьи -->
    </div>
    <!-- Развлекательная программа Для детей -->

    <div class="slider slider_3" id="s3b1">
        <div class="row-slider" data-col="4">
            <div class="col-md-4 myslide col-slider-4" v-for="funSunPageEntProgram1 in funSunPageEntPrograms1">
                <div class="sliders-hotels hap-programs" v-bind:style="funSunPageEntProgram1.background">
                    <div class="info-img">
                        <h4> {{funSunPageEntProgram1.titleRU}} </h4>

                        <!--<div class="time-start">
                                    <p class="col-md-8">Время начала</p>

                                    <p class="col-md-4">10:00</p>
                                </div>-->
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Развлекательная программа Для подростков -->

    <div class="slider slider_3" id="s3b2" style="display: none">
        <div class="row-slider" data-col="4">
            <div class="col-md-4 myslide col-slider-4" v-for="funSunPageEntProgram2 in funSunPageEntPrograms2">
                <div class="sliders-hotels hap-programs" v-bind:style="funSunPageEntProgram2.background">
                    <div class="info-img">
                        <h4> {{funSunPageEntProgram2.titleRU}} </h4>

                        <!--<div class="time-start">
                                    <p class="col-md-8">Время начала</p>

                                    <p class="col-md-4">10:00</p>
                                </div>-->
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Развлекательная программа Для всей семьи -->

    <div class="slider slider_3" id="s3b3" style="display: none">
        <div class="row-slider" data-col="4">
            <div class="col-md-4 myslide col-slider-4" v-for="funSunPageEntProgram3 in funSunPageEntPrograms3">
                <div class="sliders-hotels hap-programs" v-bind:style="funSunPageEntProgram3.background">
                    <div class="info-img">
                        <h4> {{funSunPageEntProgram3.titleRU}} </h4>

                        <!--<div class="time-start">
                                    <p class="col-md-8">Время начала</p>

                                    <p class="col-md-4">10:00</p>
                                </div>-->
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<!-- РАЗВЛЕКАТЕЛЬНАЯ ПРОГРАММА END ================================= -->

<!--ПРОГРАММА АНИМАЦИИ START ================================= 

<div class="container" id="funSunAnimationProgDownload">
    <div style="background:#e1f4fb;padding: 10px 7px;">
        <div style="font-size:16px;text-align:center;">{{funSunPageAnimationProgTitle1RU}}</div>

        <div style="margin-top:10px;text-align:center;">
            <span v-bind:style=" funSunPageAnimationProgIcon ">
                <span style="opacity:0">.</span>
            </span>
            <a v-bind:href=" funSunPageAnimationProgTitle2LinkRU " style="color:#3b9ccf;text-decoration:underline !important;font-size:14px" target="_blank">{{funSunPageAnimationProgTitle2RU}}</a>
        </div>
        

        <div style="margin-top:10px;text-align:center;">
            <span v-bind:style=" funSunPageAnimationProgIcon ">
                <span style="opacity:0">.</span>
            </span>
            <a v-bind:href=" funSunPageAnimationProgTitle3LinkRU " style="color:#3b9ccf;text-decoration:underline !important;font-size:14px" target="_blank">{{funSunPageAnimationProgTitle3RU}}</a>
        </div>
        
        <div style="margin-top:10px;text-align:center;">
            <span v-bind:style=" funSunPageAnimationProgIcon ">
                <span style="opacity:0">.</span>
            </span>
            <a v-bind:href=" funSunPageAnimationProgTitle4LinkRU " style="color:#3b9ccf;text-decoration:underline !important;font-size:14px" target="_blank">{{funSunPageAnimationProgTitle4RU}}</a>
        </div>
        
        <div style="font-size:16px;text-align:center;margin-top:7px;">{{funSunPageAnimationProgTitle5RU}}</div>

        <div style="margin-top:10px;text-align:center;">
            <span v-bind:style=" funSunPageAnimationProgIcon ">
                <span style="opacity:0">.</span>
            </span>
            <a v-bind:href=" funSunPageAnimationProgTitle6LinkRU " style="color:#3b9ccf;text-decoration:underline !important;font-size:14px" target="_blank">{{funSunPageAnimationProgTitle6RU}}</a>
        </div>
        

        <div style="margin-top:10px;text-align:center;">
            <span v-bind:style=" funSunPageAnimationProgIcon ">
                <span style="opacity:0">.</span>
            </span>
            <a v-bind:href=" funSunPageAnimationProgTitle7LinkRU " style="color:#3b9ccf;text-decoration:underline !important;font-size:14px" target="_blank">{{funSunPageAnimationProgTitle7RU}}</a>
        </div>
        

        <div style="margin-top:10px;text-align:center;">
            <span v-bind:style=" funSunPageAnimationProgIcon ">
                <span style="opacity:0">.</span>
            </span>
            <a v-bind:href=" funSunPageAnimationProgTitle8LinkRU " style="color:#3b9ccf;text-decoration:underline !important;font-size:14px" target="_blank">{{funSunPageAnimationProgTitle8RU}}</a>
        </div>
    </div>
</div>
<!-- ПРОГРАММА АНИМАЦИИ END ================================= -->

<!-- INSTAGRAM START ========================= -->

<div class="container">
    <a href="http://instagram.com/funsun_official">
        <h2>@funsun_official онлайн</h2>
    </a>
    <div class="row instagram" id="instagram" style="margin-bottom: 3em;"></div>
</div>

<!-- INSTAGRAM END ========================= -->

<!-- FOOTER START ================================= -->
<div class="container-fluid footer-informations" style="margin-top: 3em">
    <div class="row" id="funSunFooter">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>{{funSunPageFooterTitle1RU}}</h3>
                    <a v-bind:href=" funSunPageFooterSiteLink1 " target="_blank">{{funSunPageFooterSite1RU}}</a><br />
                    <a v-bind:href=" funSunPageFooterSiteLink2RU " target="_blank">{{funSunPageFooterSite2RU}}</a><br />
                    <a v-bind:href=" funSunPageFooterSiteLink3RU " target="_blank">{{funSunPageFooterSite3RU}}</a>
                </div>

                <div class="col-md-3">
                    <h3>{{funSunPageFooterTitle2RU}}</h3>
                    <a v-bind:href=" funSunPageFooterPhoneLinkRU ">{{funSunPageFooterPhoneTitleRU}}</a><br />
                    <a v-bind:href=" funSunPageFooterMailLinkRU ">{{funSunPageFooterMailTitleRU}}</a>
                </div>

                <div class="col-md-3">
                    <h3>{{funSunPageFooterTitle3RU}}</h3>

                    <div class="row icons-footer col-10 col-md-12" style="justify-content: flex-start;">
                        <a v-bind:href=" funSunPageFooterInstagramLink " target="_blank" style="margin: 5px;">
                            <img v-bind:src=" funSunPageFooterInstagramImgLink " />
                        </a>
                        <a v-bind:href=" funSunPageFooterFacebookLink " target="_blank" style="margin: 5px;">
                            <img v-bind:src=" funSunPageFooterFacebookImgLink " />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER END ================================= -->

<div></div>
<!-- SCRIPT загрузки VUE  =================================================== -->
<script>
    const vueLinks = ['https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js',
        'https://www.tui.ru/getmedia/8d1465da-5919-44bb-8550-8bc3ac3e0b7d/VUE-diff-product-fun-sun-page',
        'https://www.tui.ru/getmedia/f6a084a1-de7e-43c7-be13-0d9b8756c9e6/VUE-diff-agent-header-footer',
        'https://www.tui.ru/getmedia/b4abbfc6-300f-4cca-9f4d-b0f51b88a0d8/VUE-FS-fun-sun-hotels-ru-by-ua',
        'https://www.tui.ru/getmedia/6e64783b-d6d6-4b51-ab25-d8d1ec72e234/all'
    ];

    function add_files(arr, type) {

        count = 0;

        function new_file(link) {
            var script = document.createElement(type);
            script.src = link;
            script.async = false;
            document.head.appendChild(script);
            if (count < arr.length - 1) {
                script.onload = function() {
                    new_file(arr[count]);
                }
                script.onerror = function() {
                    throw new Error(arr[count - 1] + ' loading error');
                }
                count++;
            }
        }

        function error(text) {
            throw new Error('the function takes two required arguments');
        }

        (arr === undefined || type === undefined) ? error('the function takes two required arguments'):
            (arr === undefined) ? error('no link array') :
            (type === undefined) ? error('no file type') : '';
        new_file(arr[count]);
    }

    add_files(vueLinks, 'script');
</script>
<script type="text/javascript">
    function smoothScrolling(element) {
        document.querySelector(element).scrollIntoView({
            block: "start",
            behavior: "smooth"
        });
    }
</script>