<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" defer></script>
<script src="VUE-Day-Night.js" defer></script>
<script src="VUE-Day-Night-hotels-ru-by-ua.js" defer></script>
   
<div class="row-all">

    <!-- HEAD ICONS BLOCK START ======================== 
    <div class="container-fluid top-slider top-dn" id="day-night-icons">
        <div class="container">
            <div class="row">
                <div class="col-md-6 left-row">
                    <div class="col-md-12">
                        <div class="topLeft row">
                            <div class="icon-top col-md-2 col-3"><img alt="FN_logo" v-bind:src="logo" /></div>
                        </div>

                        <h2 style="margin-top:0!important">{{titleRU}}</h2>

                        <div class="col-12 die-all">
                            <div class="die row" v-for="row in rows">
                                <div class="circle-logo" v-bind:style="row.iconStyle">
                                    <img v-bind:src="row.icon" />
                                </div>

                                <div class="circle-text col-md-11" v-bind:style="row.textStyle">{{row.textRU}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 top-right row">
                    <div class="col-md-6 col-6 video">
                        <div id="player">&nbsp;</div>

                        <div class="play video-dn"><img src="https://www.tui.ru/getmedia/be53258a-3b5d-4824-a9ff-e499e15ecbf9/play" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- HEAD ICONS BLOCK END ======================== -->

   
 <!-- HOTELS DAY NIGHT START ================================= -->
   
    <div class="container-fluid block_3" id="hotels">
        <div class="container">
            <h2>{{ titleRU }}</h2>
        </div>

        <div class="row">
            <div class="container sl">
                <div class="buttons-navigations" >
                    <a v-for="countryName in countryNames" class="button-navigatin " v-bind:class=" countryName.class " v-bind:data-block=" countryName.dataBlock " v-bind:href="countryName.link" v-if="countryName.showRU">{{ countryName.nameRU }}</a> 
                </div>
                
                <!-- БЛОК ОТЕЛЕЙ -->

                <div v-for="sliderBlock in sliderBlocks" class="slider slider_2" v-bind:class="sliderBlock.class" v-bind:id="sliderBlock.id" v-if="sliderBlock.showRU">
                    <div class="row-slider" data-col="3">
                        <div class="col-md-4 myslide col-slider-3" v-for="hotel in sliderBlock.hotels">
                            <div class="sliders-hotels" >
                                <div class="imgSlider" v-bind:style="hotel.background"></div>

                                <div class="slider-content">
                                    <h4>{{hotel.countryNameRU}}</h4>

                                    <p class="gey_p">{{hotel.name}}</p>

                                    <ul>
                                        <li v-for="aboutHotelRUItem in hotel.aboutHotelRUItems">{{aboutHotelRUItem.item}}</li>
                                        
                                    </ul>
                                </div>

                                <div class="row price">
                                    <div class="col-md-7 price-num">
                                        <!--<p>от <b>29 229</b> на одного</p><p>на 7 ночей</p>-->
                                    </div>

                                    <div class="col-md-5">
                                        <p class="tour_a"><a v-bind:href="hotel.hotelLinkAgent">{{hotel.buttonRU}}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- БЛОК ОТЕЛЕЙ -->
                
            </div>
        </div>
    </div>

    <!-- HOTELS DAY NIGHT END ================================= -->

</div>
