<link href="https://www.tui.ru/main.css?d4f6254e28b9102fd9d7" rel="stylesheet">
<style>
    #fs-hot-hotels {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        
    }
</style>

<div id="fs-hot-hotels">

    <div class="hotel-card__slider swiper-container swiper-container-initialized swiper-container-horizontal">
        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">

            <!-- SLIDE START ================================================================== -->
            <div class="swiper-slide hotel-card__slide swiper-slide-active" style="width: 390.667px;">
                <div class="hottours-card">
                   <img 
                   src="https://www.tui.ru/CmsPages/GetPhoto.aspx?fileguid=5bc1d530-5e06-4495-aae2-34e4acb454d6" 
                   class="hottours-card__photo">
                    <div class="hottours-card__content">
                        <div class="hottours-card__titles">
                            <h4 class="hottours-card__title">Турция, Кемер, Гейнюк</h4>
                            <p class="hottours-card__subtitle">FUN&SUN Comfort Beach Resort 5*</p>
                        </div>
                        <div class="hottours-card__description">
                            <p class="hottours-card__oldprice">
                                <span><span>88 508 &nbsp;<span class="currency">₽</span></span></span></p>
                            <p class="hottours-card__price"><span>от&nbsp;<span>46 445 &nbsp;<span class="currency">₽</span></span></span></p>
                            <p class="hottours-card__conditions">на двоих, 7 ночей </p>
                            <a 
                            href="https://www.tui.ru/hotel/europe-turkey-kemer-goynuk-tui__fun__sun__comfort__beach__resort/" 
                            class="hottours-card__button">Забронировать</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SLIDE END ================================================================== -->
            
            <!-- SLIDE START ================================================================== -->
            <div class="swiper-slide hotel-card__slide swiper-slide-active" style="width: 390.667px;" >
                <div class="hottours-card">
                   <img 
                   src="https://www.tui.ru/CmsPages/GetPhoto.aspx?fileguid=d5942a34-1630-4da9-8711-8cca4a81baba" 
                   class="hottours-card__photo">
                    <div class="hottours-card__content">
                        <div class="hottours-card__titles">
                            <h4 class="hottours-card__title">Турция, Белек, Белек</h4>
                            <p class="hottours-card__subtitle">FUN&SUN River Resort Belek 5*</p>
                        </div>
                        <div class="hottours-card__description">
                            <p class="hottours-card__oldprice">
                                <span><span>75 334 &nbsp;<span class="currency">₽</span></span></span></p>
                            <p class="hottours-card__price"><span>от&nbsp;<span>44 286  &nbsp;<span class="currency">₽</span></span></span></p>
                            <p class="hottours-card__conditions">на двоих, 7 ночей</p>
                            <a 
                            href="https://www.tui.ru/hotel/europe-turkey-belek-belek-tui__fun__sun__river__resort__belek/" 
                            class="hottours-card__button">Забронировать</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SLIDE END ================================================================== -->
            
            <!-- SLIDE START ================================================================== -->
            <div class="swiper-slide hotel-card__slide swiper-slide-active" style="width: 390.667px;" v-for="hotel in hotels">
                <div class="hottours-card">
                   <img 
                   src="https://www.tui.ru/CmsPages/GetPhoto.aspx?fileguid=17fe8be5-b956-4307-b7e6-2d23e4645d5c" 
                   class="hottours-card__photo">
                    <div class="hottours-card__content">
                        <div class="hottours-card__titles">
                            <h4 class="hottours-card__title">Турция, Кемер, Финике</h4>
                            <p class="hottours-card__subtitle">FUN&SUN Club Di Finica </p>
                        </div>
                        <div class="hottours-card__description">
                            <p class="hottours-card__oldprice">
                                <span><span>78 569&nbsp;<span class="currency">₽</span></span></span></p>
                            <p class="hottours-card__price"><span>от&nbsp;<span>42 749 &nbsp;<span class="currency">₽</span></span></span></p>
                            <p class="hottours-card__conditions">на двоих, 5 ночей</p>
                            <a 
                            href="https://www.tui.ru/hotel/europe-turkey-kemer-finike-tui__fun__sun__club__di__finica/" 
                            class="hottours-card__button">Забронировать</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SLIDE END ================================================================== -->

            
        </div><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>

</div>

