

@media (min-width: 1201px) {
//    .lSSlideWrapper {
//        max-width: 900px!important;
//        overflow: hidden;
//    }
    .hotels {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: #e2f3fe;
        margin-bottom: 40px;
    }
    .slider__buttons {
        min-width: 560px;
        max-width: 860px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        
    }
    .slider__button {
        font-family: TUI-reg;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #092a5e;
        margin-bottom: 10px;
        margin-right: 15px;
        background: transparent;
        border: 0px;
        cursor: pointer;
        text-decoration: none;
    }
    .slider__button:hover {
        font-family: TUI-reg;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #092a5e;
        margin-bottom: 10px;
        background: transparent;
        border: 0px;
        cursor: pointer;
        border-bottom: 2px solid #092a5e;
    }
    .slider {
        height: 500px;
        width: 860px;
        display: none;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        overflow-x: hidden;
        
    }
    .slider__container {
        width: 960px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        position: relative;
    }
    .slider__left-nav {
        
        color: grey;
        position: absolute;
        left: 0px;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        border: 0px;
        background: rgba(255,255,255,0.8);
        cursor: pointer;
    }
    .slider__left-nav:hover {
        color: #092a5e;
        background: rgba(255,255,255,1);
    }
    .slider__right-nav {
        
        color: grey;
        position: absolute;
        right: 0px;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        border: 0px;
        background: rgba(255,255,255,0.8);
        cursor: pointer;
    }
    .slider__right-nav:hover {
        color: #092a5e;
        background: rgba(255,255,255,1);
    }
    .slide {
        min-width: 280px!important;
        width: 300px;
        height: 500px;
        
        margin-right: 5px;
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        
        background: white;
        position: relative;
        &__image {
            width: 100%;
            height: 180px;
            margin-bottom: 20px;
            overflow: hidden;
            object-position: center;
            
        }
        &__title {
            width: 90%;
            font-family: TUI-reg;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #092a5e;
            margin-bottom: 10px;
            margin-left: 14px;
        }
        &__name {
            width: 90%;
            font-family: TUI-reg;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: grey;
            margin-bottom: 10px;
            margin-left: 14px;
        }
        &__list {
            width: 90%;
            font-family: TUI-reg;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            list-style-type: none;
            margin-bottom: 10px;
            margin-left: 14px;
        }
        &__list-item {
            margin-bottom: 5px;
            width: 100%;
            text-align: left;
            color: #0c2c5c;
        }
        &__list-item::before {
            content: "•"; 
            color: #0c2c5c;
            margin-right: 4px;
        }
        &__dates {
            text-align: left;
            
            font-family: TUI-reg;
            font-size: 16px;
            
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: grey;
            
            
            position: absolute;
            bottom: 10px;
            left: 10px;
            
            padding: 10px;
        }
        &__link {
            
            position: absolute;
            bottom: 20px;
            right: 10px;
            width: 120px;
            padding: 10px;
            text-decoration: none;
            text-align: center;
            color: #082a5e;
            background: #ffe100;
            font-family: TUI-reg;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            cursor: pointer;
        }
    }
    .button-active {
        border-bottom: 2px solid #092a5e;
    }
    .slider-active {
        display: flex;
    }
    
}

@media all and (min-width: 901px) and (max-width: 1200px) {
    .lSSlideWrapper {
        max-width: 900px!important;
        overflow: hidden;
    }
    .hotels {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: #e2f3fe;
        margin-bottom: 40px;
    }
    .slider__buttons {
        min-width: 560px;
        max-width: 860px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        
    }
    .slider__button {
        font-family: TUI-reg;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #092a5e;
        margin-bottom: 10px;
        margin-right: 15px;
        background: transparent;
        border: 0px;
        cursor: pointer;
    }
    .slider__button:hover {
        font-family: TUI-reg;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #092a5e;
        margin-bottom: 10px;
        background: transparent;
        border: 0px;
        cursor: pointer;
    }
    .slider {
        height: 500px;
        
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        
    }
    .slide {
        min-width: 280px!important;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        
        background: white;
        position: relative;
        &__image {
            width: 100%;
            height: 180px;
            margin-bottom: 20px;
            overflow: hidden;
            object-position: center;
            
        }
        &__title {
            width: 90%;
            font-family: TUI-reg;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #092a5e;
            margin-bottom: 10px;
            margin-left: 14px;
        }
        &__name {
            width: 90%;
            font-family: TUI-reg;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: grey;
            margin-bottom: 10px;
            margin-left: 14px;
        }
        &__list {
            width: 90%;
            font-family: TUI-reg;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            
            margin-bottom: 10px;
            margin-left: 14px;
        }
        &__list-item {
            margin-bottom: 5px;
            width: 100%;
            text-align: left;
            color: #0c2c5c;
        }
        &__list-item::before {
            content: "•"; 
            color: #0c2c5c;
            margin-right: 4px;
        }
        &__dates {
            text-align: left;
            
            font-family: TUI-reg;
            font-size: 16px;
            
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: grey;
            
            
            position: absolute;
            bottom: 10px;
            left: 10px;
            
            padding: 10px;
        }
        &__link {
            position: absolute;
            bottom: 20px;
            right: 10px;
            width: 100px;
            padding: 10px;
            text-decoration: none;
            text-align: center;
            color: #082a5e;
            background: #ffe100;
            font-family: TUI-reg;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            cursor: pointer;
        }
    }
    .button-active {
        border-bottom: 2px solid #092a5e;
    }
}

@media all and (min-width: 601px) and (max-width: 900px) {
    .lSSlideWrapper {
        max-width: 580px!important;
        overflow: hidden;
    }
    .hotels {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: #e2f3fe;
        margin-bottom: 40px;
    }
    .slider__buttons {
        min-width: 560px;
        max-width: 860px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 40px;
    }
    .slider__button {
        font-family: TUI-reg;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #092a5e;
        margin-bottom: 10px;
        margin-right: 15px;
        background: transparent;
        border: 0px;
        cursor: pointer;
    }
    .slider__button:hover {
        font-family: TUI-reg;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #092a5e;
        margin-bottom: 10px;
        background: transparent;
        border: 0px;
        cursor: pointer;
    }
    .slider {
        height: 500px;
        
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .slide {
        width: 250px!important;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        
        background: white;
        position: relative;
        &__image {
            width: 100%;
            height: 180px;
            margin-bottom: 20px;
            overflow: hidden;
            object-position: center;
            
        }
        &__title {
            width: 90%;
            font-family: TUI-reg;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #092a5e;
            margin-bottom: 10px;
            margin-left: 14px;
        }
        &__name {
            width: 90%;
            font-family: TUI-reg;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: grey;
            margin-bottom: 10px;
            margin-left: 14px;
        }
        &__list {
            width: 90%;
            font-family: TUI-reg;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            
            margin-bottom: 10px;
            margin-left: 14px;
        }
        &__list-item {
            margin-bottom: 5px;
            width: 100%;
            text-align: left;
            color: #0c2c5c;
        }
        &__list-item::before {
            content: "•"; 
            color: #0c2c5c;
            margin-right: 4px;
        }
        &__dates {
            text-align: left;
            
            font-family: TUI-reg;
            font-size: 16px;
            
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: grey;
            
            
            position: absolute;
            bottom: 10px;
            left: 10px;
            
            padding: 10px;
        }
        &__link {
            position: absolute;
            bottom: 20px;
            right: 10px;
            width: 100px;
            padding: 10px;
            text-decoration: none;
            text-align: center;
            color: #082a5e;
            background: #ffe100;
            font-family: TUI-reg;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            cursor: pointer;
        }
        
    }
    .button-active {
        border-bottom: 2px solid #092a5e;
    }
}

@media all and (max-width: 600px) {
    .lSSlideWrapper {
        max-width: 360px!important;
        overflow: hidden;
    }
    .hotels {
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: #e2f3fe;
        margin-bottom: 40px;
    }
    .slider__buttons {
        min-width: 340px;
        max-width: 560px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 40px;
    }
    .slider__button {
        font-family: TUI-reg;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #092a5e;
        margin-bottom: 10px;
        margin-right: 15px;
        background: transparent;
        border: 0px;
        cursor: pointer;
    }
    .slider__button:hover {
        font-family: TUI-reg;
        font-size: 24px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #092a5e;
        margin-bottom: 10px;
        background: transparent;
        border: 0px;
        cursor: pointer;
    }
    .slider {
        height: 500px;
        
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .slide {
        width: 320px!important;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        
        background: white;
        position: relative;
        &__image {
            width: 100%;
            height: 180px;
            margin-bottom: 20px;
            overflow: hidden;
            object-position: center;
            
        }
        &__title {
            width: 90%;
            font-family: TUI-reg;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #092a5e;
            margin-bottom: 10px;
            margin-left: 14px;
        }
        &__name {
            width: 90%;
            font-family: TUI-reg;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: grey;
            margin-bottom: 10px;
            margin-left: 14px;
        }
        &__list {
            width: 90%;
            font-family: TUI-reg;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            
            margin-bottom: 10px;
            margin-left: 14px;
        }
        &__list-item {
            margin-bottom: 5px;
            width: 100%;
            text-align: left;
            color: #0c2c5c;
        }
        &__list-item::before {
            content: "•"; 
            color: #0c2c5c;
            margin-right: 4px;
        }
        &__dates {
            text-align: left;
            
            font-family: TUI-reg;
            font-size: 16px;
            
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: grey;
            
            
            position: absolute;
            bottom: 10px;
            left: 10px;
            
            padding: 10px;
        }
        &__link {
            position: absolute;
            bottom: 20px;
            right: 10px;
            width: 100px;
            padding: 10px;
            text-decoration: none;
            text-align: center;
            color: #082a5e;
            background: #ffe100;
            font-family: TUI-reg;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            cursor: pointer;
        }
        
    }
    .button-active {
        border-bottom: 2px solid #092a5e;
    }
}