 <!-- ВЕРХНЕЕ МЕНЮ TOP START ================================================= -->

 <div class="menu-top" id="home-page-diff-menu-top">
     <div class="container">
         <div class="row">
             <a class="col-md-2 col-6 logo-img" href="/">
                 <img v-bind:src=" logoLink ">
             </a>
             <div class="col-5 but-menu-mobile"></div>

             <!-- ВЕРХНЕЕ МЕНЮ START =========================================================== -->

             <div class="col-md-10 col-10 mobile_agent">
                 <div id="exit_menu">
                     X
                 </div>
                 <div class="row menu-label">
                     <a class="label-menu" v-bind:href=" menuItemFranchaizingLink " target="_blank">{{menuItemFranchaizingNameBY}}</a>
                     <a class="label-menu" v-bind:href=" menuItemPartnershipLink " target="_blank">{{menuItemPartnershipNameBY}}</a>
                     <a class="label-menu" v-bind:href=" menuItemAboutLink " target="_blank">{{menuItemAboutNameBY}}</a>
                     <a class="label-menu" v-bind:href=" menuItemShopLink " target="_blank">{{menuItemShopNameBY}}</a>
                     <div class="label-menu" style="position: relative;cursor: pointer">
                         <a v-bind:href=" menuItemConceptsLink " style="color:#092a5e">{{menuItemConceptsNameBY}}</a>
                         <div class="label-menu-2">
                             <div class="concept-link">
                                 <a :href=" menuItemSmartLink "><img alt="Smart_logo" :src=" menuItemSmartLogo "></a>
                                 <div>
                                     <a :href=" menuItemSmartLink "><b>{{menuItemSmartName}}</b><br>
                                         {{menuItemSmartNameBY}}</a>
                                 </div>
                             </div>
                             <div class="concept-link">
                                 <a v-bind:href=" menuItemFunSunLink "><img alt="FN_logo" v-bind:src=" menuItemFunSunLogo "></a>
                                 <div>
                                     <a v-bind:href=" menuItemFunSunLink "><b>{{menuItemFunSunName}}</b><br>
                                         {{menuItemFunSunNameBY}}</a>
                                 </div>
                             </div>
                             <div class="concept-link">
                                 <a v-bind:href=" menuItemDayNightLink "><img alt="FN_logo" v-bind:src=" menuItemDayNightLogo "></a>
                                 <div>
                                     <a v-bind:href=" menuItemDayNightLink "><b>{{menuItemDayNightName}}</b><br>
                                         {{menuItemDayNightNameBY}}</a>
                                 </div>
                             </div>
                             <div class="concept-link">
                                 <a v-bind:href=" menuItemToucanLink "><img alt="FN_logo" :src=" menuItemToucanLogo "></a>
                                 <div>
                                     <a v-bind:href=" menuItemToucanLink "><b>{{menuItemToucanName}}</b><br>
                                         {{menuItemToucanNameBY}}</a>
                                 </div>
                             </div>
                             <div class="concept-link">
                                 <a v-bind:href=" menuItemConceptsAboutLink "><img alt="Home_logo" :src=" menuItemConceptsAboutLogo " /></a>

                                 <div><a v-bind:href=" menuItemConceptsAboutLink "><b>{{menuItemConceptsAboutNameBY1}}<br />
                                             {{menuItemConceptsAboutNameBY2}}</b></a></div>
                             </div>
                         </div>
                     </div>
                     <a class="label-menu" v-bind:href=" menuItemPremiumLink " target="_blank">{{menuItemPremiumName}}</a>
                     <a class="label-menu log enter" data-bind="click: LoginClick" v-bind:href=" menuItemLoginNamelinkBY " target="_blank">{{menuItemLoginNameBY}}</a>
                 </div>
             </div>

             <!-- ВЕРХНЕЕ МЕНЮ END =========================================================== -->

             <div class="col-md-10">
                 <div class="row menu-telephone">
                     <div class="col-md-8 col-7">
                         <p class="telephone-title">{{menuPhoneTitleBY}}</p>
                         <p class="telephone-number">{{menuPhonePhoneBY}}</p>
                     </div>
                     <a v-bind:href=" menuTouristSiteLinkBY " style="color: black">{{menuTouristSiteNameBY}}</a>
                 </div>
             </div>
         </div>
     </div>
 </div>

 <!-- ВЕРХНЕЕ МЕНЮ TOP END ============================= -->